.login-form {
  padding-bottom: 10%;
}

.login-heading {
  position: relative;
  color: #fff;
  padding-bottom: 4px;

  span {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
  }
}
