@import '../../../../uikit/common';

.db-config {
  position: relative;
  background-color: $YB_FORM_BACKGROUND;
  padding: 35px 50px;
  min-height: 752px;

  &__title {
    font-size: 22px;
    font-weight: 600;
    color: $YB_TEXT_2;
  }

  &__row {
    margin-top: 22px;
    display: flex;
    align-items: center;

    &--align-top {
      align-items: flex-start;
    }
  }

  &__label-col {
    min-width: 180px;
  }

  &__label {
    display: block;
    color: $YB_TEXT_2;
    font-size: 16px;

    &--margin-top {
      margin-top: 20px;
    }
  }

  &__footer-row {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__footer-btn:not(:last-child) {
    margin-right: 20px;
  }
}
