.alert-destinations {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cutomize_notification_but {
    margin-right: 10px;
  }
}

.noLeftPadding {
  padding-left: 0;
}

.alert-destination-channels {
  padding: 30px 30px;
  background: white;
  height: 100%;
  position: absolute;
  width: 100%;
}

.minPadding {
  padding: 10px !important;
  background: #f6f6f6 !important;
}