.btn, button {
  position: relative;
  font-weight: 400;
  transition: all 0.2s;
  line-height: 40px;
  vertical-align: middle;
  color: #f75821;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  padding-bottom: 2px;
  border-radius: 7px; 
  font-size: 15px;
  &:hover {
    color: #fff; 
  }
  &:focus {
    color: #fff; 
  }
}

.cta-button {
  color: white;
  background-color: #f75821;
  border: none;
  &:hover {
    transform: scale(1.02, 1.02);
    background-color: #f75821; 
  }
}

.learn-more-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  color: white; }

.more-button {
  font-size: 18px;
  font-weight: 500;
  color: #c86709;
  background-color: white;
  box-shadow: 0 0 30px 6px rgba(255, 255, 255, 0.2); }

.link-button {
  background-color: #f75821;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  color: white; }
  .link-button:hover {
    background-color: #f75821; }

.longer-buttons .btn {
  min-width: 310px !important; 
  font-size: 18px;
}

.nav-tabs {
  border-bottom: 0.5px solid #CDD0DC;
}

.nav-tabs, .nav-tabs-alt {
  margin: 1.5em -48px 0;
  padding: 0 28px;
  position: relative;
  z-index: 2;

  @media only screen and (max-width: 991px) {
    margin: 1.5em -30px 0;
  }
  li {
    margin: 0 20px;
    &:before {
      content: none !important;
    }
    i,
    img {
      font-size: 16px;
      padding-right: 4px;
    }
    a.nav-link {
      position: relative;
      top: 1px;
      font-size: 20px;
      font-weight: 600 !important;
      border-radius: 0 !important;
      padding: 16px 0px 20px !important;
      height: 70px;
      color: $YB_ORANGE;
      i {
        color: #C0C3D3;
        vertical-align: middle;
      }
      &, &:focus, &:hover {
        border: none;
      }
      &.active {
        border: none;
        margin: 0;
        border-bottom: 5px solid $YB_ORANGE !important;
        height: 70px;
        color: $YB_DARK_MILD;
        i {
          color: $YB_DARK_MILD;
          vertical-align: middle;
        }
      }
    }
  }
}

.nav-tabs i, .nav-tabs-alt i {
  font-size: 24px !important;
  margin: -4px 0 0 0;
}

.nav-tabs .fa-docker {
  display: inline-block;
  vertical-align: middle;
}

.nav-tabs-alt {
  padding: 0 45px;
  li {
    margin: 0 5px;
    a.nav-link {
      padding: 15px 15px 7px 15px !important;
      height: 60px !important;
      border-radius: 7px !important;
      border: 1px solid #CDD0DC;
      font-size: 16px;

      &, &:focus, &:hover {

      }
      &:hover {
        border: 1px solid $YB_ORANGE;
        //border: 0.5px solid rgba(#323A69, 0.1);
      }
      &.active {
        border: 1px solid rgba(#323A69, 1) !important;
        background-color: rgba(#7081E4, 0.05);
        border: 1px solid $YB_ORANGE !important;
        background-color: rgba($YB_ORANGE, 0.03);

        i {
          color: #323A69;
        }
      }
    }
  }
}

.modal-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  background: #fff;
  font-size: 22px;
  border: 1px solid #d2d2d2;
  padding: 0px 9px;
  border-radius: 25px;
  box-shadow: 0 0 10px #ccc;
  cursor: pointer;
}

button.small {
  border: none !important;
  vertical-align: middle;
  text-transform: uppercase;
  display: inline-block;
  height: 26px;
  right: 0;
  top: 0;
  width: auto;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  padding: 3px 12px;
  border-radius: 3px;
  margin: 0 12px 0 0;
  color: $YB_ORANGE;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(#202951, 0.16);
  overflow: hidden;

  &:active, &:hover, &:focus {
    box-shadow: none;
    border: none;
    transform: none;
  }
  &:hover {
    color: #fff;
    background-color: $YB_ORANGE;
  }
}