.btn, button {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  transition: all 0.2s;
  line-height: 40px;
  vertical-align: middle;
  color: #f75821;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  padding-bottom: 2px;
  border-radius: 7px; 
  font-size: 15px;
  letter-spacing: -0.02em;
  &:hover {
    color: #fff; 
  }
  &:focus {
    color: #fff; 
  }
}

.cta-button {
  color: white;
  background-color: #f75821;
  border: none;
  &:hover {
    transform: scale(1.02, 1.02);
    background-color: #f75821; 
  }
}

.learn-more-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  color: white; }

.more-button {
  font-size: 18px;
  font-weight: 500;
  color: #c86709;
  background-color: white;
  box-shadow: 0 0 30px 6px rgba(255, 255, 255, 0.2); }

.link-button {
  background-color: #f75821;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  color: white; }
  .link-button:hover {
    background-color: #f75821; }

.longer-buttons .btn {
  min-width: 310px !important; 
  font-size: 18px;
  }

.nav-tabs {
  margin: 1.5em -48px 0;
  padding: 0 28px;
  border-bottom: 0.5px solid #CDD0DC;

  @media only screen and (max-width: 991px) {
    margin: 1.5em -30px 0;
  }
  li {
    margin: 0 20px;
    &:before {
      content: none !important;
    }
    a.nav-link {
      position: relative;
      top: 1px;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 20px;
      font-weight: 500 !important;
      border-radius: 0 !important;
      padding: 16px 0px 20px !important;
      height: 70px;
      color: $YB_ORANGE;
      i {
        color: #C0C3D3;
        vertical-align: middle;
      }
      &, &:focus, &:hover {
        border: none;
      }
      &.active {
        border: none;
        margin: 0;
        border-bottom: 5px solid $YB_ORANGE !important;
        height: 70px;
        color: $YB_DARK_MILD;
        i {
          color: $YB_DARK_MILD;
          vertical-align: middle;
        }
      }
    }
  }
}

.nav-tabs i {
  font-size: 24px !important;
  margin: -2px 0;
}

.nav-tabs .icon-docker {
  display: inline-block;
  vertical-align: middle;
}


button.small {
  border: none !important;
  vertical-align: middle;
  text-transform: uppercase;
  display: inline-block;
  height: 26px;
  right: 0;
  top: 0;
  width: auto;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  padding: 3px 12px;
  border-radius: 3px;
  margin: 0 12px 0 0;
  color: $YB_ORANGE;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(#202951, 0.16);
  overflow: hidden;

  &:active, &:hover, &:focus {
    box-shadow: none;
    border: none;
    transform: none;
  }
  &:hover {
    color: #fff;
    background-color: $YB_ORANGE;
  }
}