# top-most EditorConfig file
root = true

# basic rules for all files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_size = 4

[*.{c,h,cpp,hpp}]
indent_style = tab

[*.yaml]
indent_size = 2
indent_style = space

[*.sql]
indent_size = 4
indent_style = space

[*.out]
indent_style = unset
indent_size = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
