@use '../../../_style/colors.scss';

.universe-region-marker {
  width: auto;
  min-width: 120px;
  height: 30px !important;
  padding-top: 4px;
  border-radius: 7px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  display: inline;
  color: black;
  overflow: hidden;
  white-space: nowrap;

  &.leaflet-marker-icon {
    margin-top: -20px !important;
    margin-left: -30px !important;
  }

  &.marker-cluster-outline {
    border: 4px solid colors.$YB_ORANGE;
    background: rgba(255, 255, 255, 0.7);
  }
}
