.*.swp
pgtap.sql
pgtap-core.sql
pgtap-schema.sql
uninstall_pgtap.sql
test/setup.sql
results
pgtap.so
regression.*
*.html
bbin
/sql/pgtap--?.??.?.sql
/sql/pgtap-core--*
/sql/pgtap-schema--*
*.sql.orig
