.alert-severity {
  padding: 4px 6px;
  font-size: 11.5px;
  font-weight: 500;
  border-radius: 6px;

  &.danger {
    color: #8F0000;
    background: #FDE2E2;
  }

  &.warning {
    color: #FFF;
  }
}
