main {
  .td-content {
    blockquote {
      border: 1px solid #d7dee4;
      border-radius: 8px;
      margin: 30px 0;
      position: relative;
      padding: 16px 30px 16px 56px;
      color: #25323d;
      background: #fff;

      > p {
        font-family: 'inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color: inherit;
        margin: 1em 0;

        &:first-child {
          margin: 0;
        }

        &:nth-child(2) {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      strong {
        font-weight: 600;
        color: inherit;
      }

      &::before {
        content: "";
        position: absolute;
        width: 13px;
        height: 10px;
        top: 22px;
        left: 24px;
        background-image: url(/icons/admonition-quote.svg);
        background-repeat: no-repeat;
      }

      &::after {
        position: absolute;
        width: 3px;
        background-color: #4e5f6d;
        left: 25px;
        top: 45px;
        bottom: 22px;
      }
    }

    .admonition {
      background: rgba(229, 237, 255, 0.5);
      border: 1px solid rgba(203, 219, 255, 0.8);
      border-radius: 8px;
      padding: 13px 16px 16px 50px;
      font-family: 'inter';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 22px;
      color: #25323d;
      position: relative;
      margin: 1em 0;

      &.note {
        padding: 16px 16px 16px 50px;
      }

      &::before {
        content: "";
        width: 18px;
        height: 18px;
        background-image: url(/icons/admonition-note.svg);
        background-repeat: no-repeat;
        background-size: 19px 20px;
        position: absolute;
        top: 16px;
        left: 16px;
      }

      > *:not(code) {
        margin: 1em 0;

        &:first-child:not(code) {
          margin: 0 !important;
        }

        &:nth-child(2):not(code) {
          margin-top: 0 !important;
        }

        &:last-child:not(code) {
          margin-bottom: 0 !important;
        }
      }

      > ul {
        &:last-child {
          li {
            &:last-child {
              margin-bottom: 0 !important;
            }
          }
        }
      }

      > ol {
        &:last-child {
          li {
            &:last-child {
              margin-bottom: 0 !important;
            }
          }
        }
      }

      .admonition-title {
        font-weight: 600;
        margin: 0;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    .admonition.waving {
      border: 1px solid #CAC9DF;
      background: #F5F5FF;
      margin: 20px 0 40px;
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
      align-items: center;

      .cross-btn {
        cursor: pointer;
        display: inline-block;
      }

      p {
        font-family: 'inter';
        color: #5D5FEF;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        padding: 6px 0;

        a {
          text-decoration: underline;
          color: #5D5FEF;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 16px;
          text-underline-offset: 2px;

          &:hover {
            text-decoration: underline;
            border: 0;
            text-underline-offset: 2px;
          }
        }
      }

      &::before {
        width: 24px;
        height: 25px;
        background-image: url(/icons/waving-icon.svg);
        background-size: contain;
        top: 10px;
      }
    }

    .admonition.note {
      &::before {
        background-size: 19px 20px;
      }

      p {
        > code {
          box-shadow: 0 0 1px 0 #cbdbff;
        }
      }
    }

    .admonition.warning {
      background: rgba(255, 238, 200, 0.6);
      border: 1px solid rgba(255, 211, 131, 0.5);

      &::before {
        width: 24px;
        height: 24px;
        background-image: url(/icons/admonition-warning.svg);
      }
    }

    .admonition.tip {
      background: rgba(205, 239, 225, 0.4);
      border: 1px solid #cdefe1;

      &::before {
        width: 23px;
        height: 24px;
        left: 17px;
        background-image: url(/icons/admonition-tip.svg);
      }
    }

    .admonition.callout {
      border-radius: 8px;
      padding: 16px;
      padding-left: 56px;
      border: 1px solid rgba(203, 219, 255, 0.80);
      background: rgba(242, 246, 255, 0.50);

      &::before {
        display: none;
      }

      .icon {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        display: flex;
        align-items: center;
        top: 16px;
        left: 16px;

        i,
        svg {
          width: 24px;
          font-size: 19px;
        }
      }

      .content-area {
        margin-bottom: 0;

        a {
          color: #2B59C3;

          :hover {
            text-decoration: none;
          }
        }

        .heading {
          color: #25323D;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          margin-bottom: 4px;

          .tag {
            margin: 0 4px;
          }

          .versions {
            display: inline-block;
            margin-left: 8px;
          }

          .admonition-title {
            color: #25323D;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
          }
        }

        .desc {
          color: #6D7C88;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;

          a {
            position: relative;
            z-index: 9;
          }
        }
      }

      &.release {
        .icon {
          i {
            color: #4E5F6D;
          }

          svg {
            path {
              fill: #4E5F6D;
            }
          }
        }
      }

			&.tip {
        background: rgba(205, 239, 225, 0.4);
        border: 1px solid #cdefe1;

        .content-area {
          .desc {
            color: #25323D;
            a {
              color: #507ce1;
            }
          }
        }

        .icon {
          svg {
            path {
              fill: #097345;
            }
          }
        }
      }

      &.topic {
        display: flex;
        max-width: max-content;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #CBCCFB;
        background: #FFF;
        position: relative;

        .desc {
          color: #25323D;
        }

        &.clickable {
          &:hover {
            border-radius: 8px;
            border: 1px solid #CBCCFB;
            background: #F2F3FE;
          }

          .callout-link {
            position: absolute;
            z-index: 1;
            inset: 0;
            font-size: 0;
            transition: all 250ms ease;
          }

          .end-icon {
            margin: 0 0 0 8px;

            i {
              color: #4E5F6D;
              font-size: 13px;
              font-style: normal;
              font-weight: 300;
              line-height: 22px;
            }
          }
        }

        .icon {
          svg {
            path {
              fill: #A5A6F6;
            }
          }
        }
      }
    }
  }
}
