main {
  .td-content {
    :not(pre) > code {
      overflow: hidden;
    }

    code {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0;
      font-size: inherit !important;
      line-height: 110%;
      max-width: 100%;
      background: #f7fafc!important;
      border: 1px solid #d7dee4;
      border-radius: 4px;
      color: $yb-font-gray;
      padding: 3 6px;
    }

    p > a {
      &:hover {
        > code {
          text-decoration: underline;
        }
      }
    }

    dl dt > code,
    dl dd > code,
    td > code,
    td > a > code,
    li > a > code,
    li p > a > code,
    li > code,
    li > em code,
    p > strong > code,
    p > a > code,
    p > code {
      font-size: 13px !important;
      line-height: 16px;
    }

    h1 > code,
    h2 > code,
    h3 > code,
    h4 > code,
    h5 > code,
    h6 > code {
      color: inherit !important;
      margin: 0 0 2px;
    }

    *:not(.tabs-name) > li:not(.nav-item) > a,
    p > a,
    td > a {
      position: relative;
      z-index: 1;

      > code {
        position: relative;
      }
    }

    > pre,
    .highlight {
      margin: 20px 0;
    }

    li > p + pre,
    li > p + .highlight {
      margin-top: 16px;
    }

    pre + p,
    .highlight + p {
      margin-top: 24px;
    }

    > pre.can-be-copied {
      + {
        h2,
        h4 {
          margin-top: 0;
        }
      }
    }

    pre {
      background: transparent !important;
      padding: 0 !important;
      margin: 0;
      position: relative !important;
      overflow-y: auto;
      overflow-x: visible;
      font-weight: 400;
      font-size: 13px;
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: calc(100% - 5px);

      > code {
        font-size: 100%;
        display: block;
        width: 100% !important;
        line-height: inherit;
        border-radius: 7px;
        padding: 11px 47px 11px 15px;
        margin: 0 0 0 0;
        border-width: 1px;
        border-style: solid;
        background: #f7fafc !important;
        border-color: #d7dee4;
        white-space: pre !important;
        word-wrap: normal;
        word-break: keep-all;
        overflow: auto;
        scrollbar-width: thin;

        &:only-child {
          padding: 11px 15px;
        }

        &:not(:only-child) {
          > span > span {
            padding-right: 40px;
          }
        }

        &::-webkit-scrollbar {
          height: 5px;
          width: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: #b7c3cb;
          border-radius: 6px;
        }
      }

      .highlight {
        margin-bottom: 20px !important;

        > pre {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }

      button.copy {
        position: absolute;
        border: none !important;
        width: 32px;
        height: 32px;
        background-color: rgba(229, 237, 255, 0);
        background-size: 15px;
        right: 3px;
        top: 6.7px;
        border-radius: 8px;
        background-image: url(/icons/copy.svg);
        background-repeat: no-repeat;
        z-index: 1;
        box-shadow: none;
        background-position: center center;

        &:hover {
          background-color: rgb(229, 237, 255);

          &::before {
            content: "Copy";
            background: #fff;
            border: 1px solid #e9edf0;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            z-index: 9999999;
            width: 49px;
            height: 36px;
            font-weight: 400;
            font-size: 11.5px;
            line-height: 16px;
            color: #4e5f6d;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &:not(.unclicked):hover::before {
          content: "Copied";
          left: 0;
          width: 59px;
          height: 36px;
        }

        &:not(.unclicked)::after {
          position: absolute;
          top: 0;
          left: 0;
          font: 15px/1 $font-awesome-font-name;
          font-weight: 700;
          content: "\f00c";
          color: #48ab52 !important;
          text-align: center;
          line-height: 26px;
          opacity: 1;
          width: 32px;
          height: 32px;
          background: #e5edff !important;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    table {
      pre {
        > code {
          white-space: pre-line !important;
        }
      }
    }

    pre.can-be-copied {
      width: calc(100% + 20px);
      padding-right: 20px !important;
      max-width: none;
      min-height: 85px;

      &[data-code="1"] {
        margin-bottom: -35px;
      }

      &[data-code="2"] {
        margin-bottom: -13px;
      }

      &::after {
        content: "";
        display: inline-block;
        background: #f7fafc;
        height: 37px;
        position: absolute;
        right: 21px;
        width: 40px;
        top: 6px;
        z-index: 0;
        border-radius: 5px;
      }

      button.copy {
        right: 27px;

        &:active {
          color: transparent;
          background-color: transparent;
          transform: none;
        }
      }
    }

    .badcode {
      > pre {
        button.copy.unclicked:not(:hover) {
          filter: contrast(100);
        }

        > code {
          background: #efb2b2 !important;
          border-color: #f00 !important;
        }

        &::after {
          background: #efb2b2;
        }
      }
    }
  }
}

body.is-safari {
  main {
    .td-content {
      pre {
        button.copy {
          z-index: 2;
        }
      }

      pre.can-be-copied {
        &::after {
          z-index: 1;
        }
      }
    }
  }
}

body .tab-content .tab-pane li .highlight {
  margin: 20px 0;
}

@media (min-width: 992px) {
  .td-content > pre {
    max-width: 100%;
  }
}
