main {
  .td-content {
    code {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0;
      font-size: inherit !important;
      line-height: 1;
      max-width: 100%;
      overflow: auto;
      background: #f2f6ff;
      border: 1px solid #cbdbff;
      border-radius: 4px;
      color: $yb-font-gray;
      padding: 2px 6px;
    }

    p > a {
      &:hover {
        > code {
          text-decoration: underline;
        }
      }
    }

    li > code,
    p > code {
      font-size: 14px !important;
      line-height: 16px;
    }

    h1 > code,
    h2 > code,
    h3 > code,
    h4 > code,
    h5 > code,
    h6 > code {
      color: inherit !important;
      margin: 0 0 2px;
    }

    *:not(.tabs-name) > li:not(.nav-item) > a,
    p > a,
    td > a {
      position: relative;
      z-index: 1;

      > code {
        position: relative;
        //z-index: -1;
      }
    }

    *:not(.tabs-name) > li:not(.nav-item) > a:hover > code {
      //text-decoration: underline;
    }

    pre {
      background: transparent !important;
      padding: 0 !important;
      margin: 12px 0 28px !important;
      position: relative !important;
      overflow: hidden;

      > code {
        font-size: 100%;
        display: block;
        width: 100% !important;
        line-height: 1.5;
        border-radius: 7px;
        padding: 4px 48px 4px 16px;
        margin: 0;
        border-width: 1px;
        border-style: solid;
        background: #f7fafc !important;
        border-color: #d7dee4;
        white-space: pre !important;
        word-wrap: normal;
        word-break: keep-all;
        overflow: auto;
        scrollbar-width: thin;

        &:not(:only-child) {
          >span > span {
            padding-right: 40px;
          }
        }

        &::-webkit-scrollbar {
          height: 5px;
          width: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--theme-color);
          border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: var(--theme-dark-color);
        }
      }

      button.copy {
        position: absolute;
        border: none !important;
        right: 16px;
        top: 4px;
        padding: 0;
        width: 16px;
        height: 18px;
        background-image: url(/icons/copy-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #f7fafc;
        z-index: 1;

        &:not(.unclicked)::after {
          position: absolute;
          top: -2px;
          left: -4px;
          font: 11px/1 "font awesome 5 free";
          font-weight: 100;
          content: "\f00c";
          color: #fff;
          text-align: center;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          line-height: 26px;
          opacity: 1;
          background-color: #48ab52 !important;
        }
      }

      &:has(code > span:only-child) {
        > code {
          padding: 13px 48px 13.32px 16px;
        }

        button.copy {
          right: 12px;
          top: 12px;
        }
      }

      &:has(code:only-child) {
        > code {
          padding: 12px 16px;
        }
      }
    }

    .highlight {
      pre {
        &::after {
          content: "";
          display: inline-block;
          background: #f7fafc;
          height: 24px;
          position: absolute;
          right: 1px;
          width: 40px;
          top: 11px;
          z-index: 0;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .td-content > pre {
    max-width: 100%;
  }
}
