.heading-without-image {
  +#contribute-list {
    margin-top: 20px;
  }
}

#contribute-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .dropdown-toggle {
    padding: 0 10px;
    padding-bottom: 2px;
    border-radius: 7px;
    font-size: 15px;
    transition: all 0.2s;
    line-height: 40px;
    vertical-align: middle;
    color: $YB_DARK_BLUE;
    box-shadow: none;
    background: rgb(199, 201, 215);
    position: relative;
    letter-spacing: -0.02em;
    font-weight: 500;
    padding-left: 16px;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid var(--theme-color);
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }
  }

  .dropdown-menu {
    border: none;
    border-radius: 7px;
  }
}
