.dropdown-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 992px) {
    margin: 20px 0;
  }

  .dropdown-menu {
    background: #fff;
    border: 1px solid #d7dee4;
    box-shadow: 0 1px 4px rgba(153, 153, 153, 0.5);
    border-radius: 8px;
    padding: 8px 0;
    margin-top: 1px;

    .dropdown-item {
      font-size: 13px;
      line-height: 16px;
      color: $yb-font-dark;
      padding: 8px 16px;

      &:hover {
        background: #f2f6ff !important;
      }

      &[role="button"] {
        cursor: not-allowed;
        opacity: 0.6;

        &:hover {
          background: #fff !important;
        }
      }
    }
  }

  .dropdown-toggle {
    padding: 8px 12px;
    transition: all 0.2s;
    vertical-align: middle;
    box-shadow: none;
    position: relative;
    letter-spacing: -0.02em;
    min-width: 145px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: $yb-font-gray;
    background: #fff;
    border: 1px solid #d7dee4;
    border-radius: 8px;
    min-height: 32px;

    >span {
      font-weight: 500;
      font-size: 10px;
      line-height: 16px;
      text-transform: uppercase;
      height: 20px;
      border-radius: 4px;
      padding: 2px 6px;
      margin-left: 6px;
      margin-right: auto;
    }

    &::after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "\f107";
      color: #97a5b0;
      font-family: $font-awesome-font-name;
      font-weight: 700;
      border: 0;
    }
  }

  &.header-version-dropdown {
    margin: 0;

    ul {
      margin: 0 0 5px 0;

      .dropdown-toggle {
        padding: 5px 12px;
      }
    }

    .dropdown-menu {
      right: 0;
      left: initial;
    }
  }

  &.dd-change-showmobile {
    display: flex;
    margin: 20px 0 0 32px;
    width: calc(100% - 49px);

    ul {
      width: 100%;
      margin: 0;
      padding-left: 0;
      list-style: none;

      .dropdown-menu {
        width: 100%;
        transform: translate3d(0px, 38px, 0px) !important;
      }
    }

    @media (min-width: 992px) {
      display: none;
    }

    @media (max-width: 991px) and (min-width: 768px) {
      margin-top: 18px;
      width: calc(100% - 85px);
    }
  }
}
