footer {
  position: relative !important;
  width: calc(100% + 30px);
  padding: 40px 0 30px;
  font-size: 13px;
  line-height: 1.3 !important;
  color: $YB_LIGHT_GRAY;
  background: $YB_DARK_BLUE !important;
  text-align: center;
  min-height: inherit;

  .container {
    max-width: 1170px;

    .row {
      display: flex;
      width: 100%;
      flex-flow: column;
      max-width: calc(83.333333% + 25px);
      margin: 0 auto;

      .footer_top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 69px;

        li {
          margin: 0 !important;
        }
      }

      .footer-bottom {
        margin: 2px 0;
        color: #7a82ac;
        font-weight: 300;
        line-height: 18px;
        font-size: 13px;
        a { font-size: 13px; }

        small:not(:last-child) {
          padding-right: 5px;
          border-right: 1px solid #fff;
          font-size: 13px;
        }

        small:first-child {
          border: none;
          padding-right: 0;
          font-size: 13px;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .nav-logo {
    height: 34px;
  }

  .container > .row > * {
    min-height: 100%;
  }

  .social-icons {
    display: flex;
    margin: 1px 15px 15px 0;
  }

  @media screen and (max-width: 767px) {
    padding: 30px 0;

    .social-icons {
      margin: 16px -20px 25px 0;
      justify-content: center;
    }
  }

  @media screen and (min-width: 768px) {
    text-align: left;

    .nav-logo {
      float: left;
    }
  }

  a.social {
    display: inline-block;
    color: #f2f3f4 !important;
    text-decoration: none !important;
    transition: all 0.2s;
    border-radius: 30px;
    margin-left: 20px;
    font-size: 30px;

    @media (max-width: 1199px) {
      margin-right: 15px;
    }

    @media (max-width: 991px) {
      margin-right: 12px;
    }

    &:hover {
      color: #fff;
      text-shadow: 0 0 10px rgba(153, 204, 255, 0.5);
      transform: scale(1.06, 1.05);
    }

    i {
      font-size: 30px;
    }

    img {
      height: 30px;
      position: relative;
      top: -3px;
      vertical-align: middle;

      &:hover {
        box-shadow: 0 0 10px rgba(153, 204, 255, 0.5);
      }
    }
  }

  p {
    margin-top: 8px;
  }
}

@media (max-width: 1199px) {
  footer .container {
    max-width: 960px !important;
    padding: 0;

    .row {
      width: calc(100% + 15px) !important;
      max-width: calc(100% + 15px) !important;
      margin-right: -15px !important;
      margin-left: -15px !important;
    }
  }

  footer .social-icons {
    margin-right: 0 !important;
  }
}

@media (max-width: 1024px) {
  footer .container {
    max-width: 100% !important;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 767px) {
  footer .container {
    padding: 30px 0;

    .footer_top > div {
      width: 100%;
      max-width: 100%;
      padding: 0;
      margin: 0 auto;
    }

    .row {
      .footer-bottom {
        margin-bottom: 18px;
        max-width: 235px;
        padding-right: 0;
        padding-left: 0;
        margin-left: auto !important;
        margin-right: auto !important;
      }

      .footer_top {
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        align-items: center;
      }
    }
  }
}
