.td-main {
  main.content-area{
    padding-bottom: 0;
    
    .td-content{
      >:last-child:not(.row){
        margin-bottom:16px;
      }
    }
  }
}
footer{
  min-height:0;
  border-top: 1px solid #D7DEE4;
  margin: 58px 0 0;
  padding: 23px 0 16px;
  width:100%;
  display:flex;
  flex-flow:column;
  @media(max-width:991px){
    padding: 15px 0 14px;
  }
  .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:479px){
      flex-flow:column;
    }
    .footer-socials{
      display:flex;
      @media (max-width:479px){
        margin:23px 0 0;
      }
      a{
        font-size:20px;
        color:#6D7C88;
        &:not(:last-child){
          margin-right:16px;
        }
      }
    }
  }
  .footer-bottom {
    margin: 23px 0 0;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #97A5B0;
    @media (max-width:991px){
      margin: 9px 0 0;
    }
    span{
      &:first-child{
        @media (max-width:991px){
          display: block;
          margin: 0 0 9px;
        }
      }
    }
    a{
      color: #507ce1;
      &:nth-child(2){
        @media (min-width:992px){
          margin-left:12px;
        }
      }
      &:hover{
        text-decoration: underline;
        text-underline-offset: 4px;
      }
      +span{
        color:#D7DEE4;
        margin:0 2px;
      }
    }
  }
}