/**
 * Horizontal bar
 */
.td-navbar {
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1px 2px rgba(32, 41, 81, 0.16);
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      border: 1px solid #cbcdd0;
      color: #332864;
      text-decoration: none;
      padding: 10px 15px;
      height: 42px;
      border-radius: 7px;
      margin-right: 15px;
      font-size: 15px;
      align-items: center;
      display: flex;

      i {
        margin-left: 7px;
      }

      &:hover {
        background-color: #cbcbcb78;
        color: #000;
      }
    }
  }
}

body {
  >header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 5000;
    font-size: 15.5px;

    .navbar-expand {
      position: relative;
      padding: 0;

      .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 31px;
        padding-left: 31px;
        margin-right: auto;
        margin-left: auto;
      }

      .container-fluid.top-nav {
        min-height: 75px;
      }

      .td-search-input {
        width: 600px;
        text-indent: 40px;
        padding: 0;
        line-height: 48px;
        border: none;
        font-weight: 300;
        font-size: 15.5px;
        letter-spacing: -0.02em;
        background: $YB_LIGHT_GRAY_BACK;
        height: 42px !important;
        border-radius: 7px;
        color: $YB_DARK;
        margin-right: 0;
        max-width: 100%;
        padding-bottom: 2px;

        &::-webkit-input-placeholder {
          font-size: 15.5px;
          color: rgba(32, 41, 81, 0.55);
        }

        &::-webkit-placeholder {
          font-size: 15.5px;
          color: rgba(32, 41, 81, 0.55);
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          color: #495057;
          background-color: #fff;
        }

        &::-webkit-search-cancel-button {
          margin-right: 12px;
        }
      }

      .ds-dropdown-menu {
        min-width: 100%;
      }

      .navbar-toggler {
        display: none;
        width: 26px;

        .bar {
          width: 26px;
          height: 4px;
          margin-bottom: 4px;
          border-radius: 4px;
          background-color: var(--theme-color);
          transform-origin: 50% 50%;
          -webkit-transition: 0.125s cubic-bezier(0.375, 0.885, 0.6, 1) all;
          -moz-transition: 0.125s cubic-bezier(0.375, 0.885, 0.6, 1) all;
          -o-transition: 0.125s cubic-bezier(0.375, 0.885, 0.6, 1) all;
          transition: 0.125s cubic-bezier(0.375, 0.885, 0.6, 1) all;
        }

        &:not(.collapsed) {
          .bar {
            -webkit-transition: 0.35s cubic-bezier(0.375, 0.885, 0.6, 1) all;
            -moz-transition: 0.35s cubic-bezier(0.375, 0.885, 0.6, 1) all;
            -o-transition: 0.35s cubic-bezier(0.375, 0.885, 0.6, 1) all;
            transition: 0.35s cubic-bezier(0.375, 0.885, 0.6, 1) all;

            &:nth-child(1) {
              transform: rotate(45deg) translate(5px, 6px);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: rotate(-45deg) translate(5px, -6px);
            }
          }
        }
      }

      .navbar-logo {
        svg {
          margin: 0;
        }
      }

      #main_navbar {
        display: flex;
        flex-flow: row-reverse;

        li {
          margin-right: 0 !important;

          a {
            font-weight: 400;
            transition: all 0.2s;

            i {
              font-size: 20px;
              padding-right: 0;
              margin-left: 5px;
            }

            &:focus {
              color: $YB_DARK;
            }

            #slack-logo {
              margin-left: -5px;
              margin-right: -8px;
              margin-bottom: 2px;
            }
          }

          &:nth-child(3) {
            a {
              margin-right: 0 !important;
              color: white;
              background-color: var(--theme-color);
              border: none;
              padding: 0 10px;
              padding-bottom: 2px;
              line-height: 40px;

              &:hover {
                transform: scale(1.02, 1.02);
                background-color: var(--theme-color);
              }

              &:focus {
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
              }
            }
          }
        }

        .collapse {
          &:not(.show) {
            display: none;
          }
        }

        .collapsing {
          background-color: #fff;
          flex-direction: column;
          text-align: center;
          margin: 0 -30px;
          padding: 0 30px;
          border-top: 1px solid #e4e6ea;
          border-radius: 0;
          padding-bottom: 30px;
          float: right;
          justify-content: space-between;
        }

        .collapse.show {
          display: block;
        }

        .activity-timeline {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: red;
          font-size: 16px;
          line-height: 19px;
          margin-right: 15px;

          .switcher {
            background: #fff;
            border-radius: 15px;
            width: 60px;
            height: 30px;
            margin-left: 30px;
            cursor: pointer;
            position: relative;
            border: 2px solid $secondary;

            &::before {
              content: "";
              width: 15px;
              height: 15px;
              position: absolute;
              background: $secondary;
              border-radius: 100%;
              top: 5px;
              left: 5px;
              transition: all 0.2s linear;
            }
          }

          .switcher.change {
            border-color: $primary;

            &::before {
              left: calc(100% - 20px);
              background: $primary;
            }
          }
        }
      }
    }
  }
}

nav#nav_bar {
  flex-flow: column;
}

.navbar-text.navbar-search-main {
  .search-container {
    margin-right: 0;
  }

  flex-grow: 0;
}

.mrg-auto {
  margin: auto !important;
}

.ds-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.pad-l-sm {
  padding-left: 12px !important;
}

.pad-r-sm {
  padding-right: 12px !important;
}

ul {
  &:last-child {
    margin-bottom: 0;
  }
}

ol {
  &:last-child {
    margin-bottom: 0;
  }
}

.page-header {
  position: sticky;
  top: 0;
  background: #2f326a;
  z-index: 100;
  height: 54px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: auto !important;
  background-color: var(--theme-color);

  &:not(#api-header) {
    &::before {
      content: "";
      background-color: var(--theme-color);
      position: absolute;
      height: 100%;
      width: 200vw;
      left: -50vw;
      z-index: -1;
    }
  }

  .breadcrumb {
    color: #fff;
    margin-left: -3px;
  }

  a {
    color: #fff;
  }
}

#api-header {
  width: 100vw;
  max-width: unset;
}

.header-submenu {
  display: none;
  position: absolute;
  background: var(--theme-dark-color);
  z-index: 1000;
  top: 53px;
  margin-left: 0;
  width: 100%;
  min-width: 162px;
  padding: 15px 0;

  li {
    &:hover {
      background: var(--theme-color);

      a {
        color: #fff;
      }

      svg {
        fill: #af64ff;
      }
    }

    justify-content: flex-start;
  }

  &:hover {
    display: block;
    position: absolute;
  }

  a {
    display: block;
    padding: 10px 0;
  }
}

#controls-header-menu {
  height: 100%;
  background: var(--theme-color);
  color: #fff;
  font-weight: 500;
  padding-right: 20px;
}

.header-menu {
  position: relative;
  height: 100%;
  flex: 1 1 0;
  max-width: max-content;
  font-weight: 500;
  margin-bottom: 0;

  >li {
    list-style: none;

    >a {
      padding: 0 20px;
    }

    li {
      list-style: none;
      padding: 0 15px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.search-container-wrap {
  position: relative;
  margin-right: 2px;

  @media (max-width: 1024px) {
    max-width: 220px;
  }

  .search-icon {
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 18px;
    z-index: 1000;
    color: var(--theme-color);
  }

  form {
    .algolia-autocomplete {
      max-width: 100%;
    }
  }
}

#search-clear {
  margin-right: 12px;
}

.hover-label {
  height: 100%;
}

.header-link {
  flex-direction: row;
  height: 100%;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;

  a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &:hover {
    background: var(--theme-dark-color);

    >.hover-label {
      .header-icon {
        fill: #fff;
      }
    }

    + {
      .header-submenu {
        display: block;
      }
    }

    >.header-submenu {
      display: block;
      position: absolute;
    }
  }

  button {
    background: var(--theme-dark-color);
  }
}

.header-icon {
  height: 24px;
  fill: #fff;
  width: 50px;
  vertical-align: bottom;
}

.header-link.active {
  background: var(--theme-dark-color);
}

.propTitle {
  button {
    font-style: normal !important;
  }
}

.opContent {
  h3 {
    padding-top: 8px;
    margin-bottom: revert;
    margin-top: unset;
  }
}

div.section {
  padding-top: 60px;
  margin-top: -60px;
}

div.tag {
  padding-top: 60px;
  margin-top: -60px;
}

div.operation {
  padding-top: 90px;
  margin-top: -60px;
}

#no-results {
  font-size: 32px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header-menu__toggle {
  display: none;
}

.header-menu-mobile.collapse {
  display: none;
}

.desktop-hide {
  display: none;
}

@media (max-width: 991px) {
  .navbar-expand {
    padding-right: 30px;
    padding-left: 30px;

    .navbar-brand {
      width: 45px;
      overflow: hidden;
    }

    .navbar-toggler {
      display: block;
    }

    .navbar-misc.mobile {
      display: block;
    }
  }
}

@media (max-width: 350px) {
  .navbar-expand {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1440px) {
  .search-container {
    .search-input {
      width: 780px;
    }
  }
}

@media (min-width: 979px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .td-navbar {
    .td-navbar-nav-scroll {
      height: auto !important;

      .navbar-nav {
        padding-bottom: 0 !important;
      }
    }
  }
}

@media (max-width: 979px) {
  .hide-mobile {
    display: none !important;
  }

  .header-menu-mobile.collapse.show {
    max-width: unset;
    position: absolute;
    background: var(--theme-color);
    max-height: unset;
    top: 40px;
    display: block;
  }

  .header-menu {
    background: var(--theme-color);
    align-items: baseline;

    li {
      background: var(--theme-color);
      padding-bottom: 8px;
    }
  }

  .mobile-menu-label {
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }

  .header-link.active {
    display: inherit !important;

    &:hover {
      + {
        .header-link {
          display: table;
        }
      }
    }
  }

  .header-link {
    align-items: start;
    padding-top: 8px;
    flex-direction: column;
    padding-left: 4px;
  }

  .header-submenu {
    display: none;
    top: 0;
    position: relative !important;
    margin-left: 25px;
    border-left: 1px solid #fff;
    margin-bottom: -8px;

    li {
      padding-left: 12px;
    }
  }

  #doc-link.active {
    >.header-submenu {
      display: none;
    }
  }

  .header-menu__toggle {
    &:checked {
      ~ {
        .header-submenu {
          display: block;
        }

        label {
          >.header-icon {
            fill: #af64ff !important;
          }
        }
      }
    }
  }

  .page-header {
    &::before {
      content: none !important;
    }
  }

  .navbar-toggler {
    color: #fff;
    font-weight: 500;

    svg {
      top: 3px;
      height: 24px;
      width: 50px;
      position: relative;
    }
  }

  .navbar-toggler-text {
    top: -2px;
    position: relative;
  }

  #controls-header-menu {
    display: none;
  }

  #header-menu-list {
    display: flex !important;
    flex-flow: row !important;
    position: relative;
    top: inherit;
    height: inherit !important;
  }

  body {
    >header {
      .navbar-expand {
        .td-search-input {
          width: 320px !important;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  body {
    >header {
      .navbar-expand {
        .td-search-input {
          width: 500px;
        }
      }
    }
  }

  .navbar-expand {
    .search-container-wrap {
      display: block !important;
    }
  }
}

@media (max-width: 767px) {
  body {
    >header {
      .navbar-expand {
        #main_navbar {
          display: flex;
          flex-flow: inherit !important;
          align-items: center;
          width: auto;
          gap: 20px;
        }

        .td-search-input {
          position: relative;
          vertical-align: top;
          max-width: 100%;
          width: 100% !important;
          min-width: 100%;
        }
      }
    }
  }

  .td-navbar {
    .td-navbar-nav-scroll {
      .navbar-nav {
        display: none;
      }
    }
  }

  .mobile-search.desktop-hide {
    font-size: 18px;
    margin-top: 2px;
    display: block;
  }

  .mobile-menu.desktop-hide {
    width: 20px;
    height: 14px;
    position: relative;
    border: 2px solid #000;
    content: "";
    right: inherit;
    border-right: 0;
    border-left: 0;
    margin-top: 2px;
    display: block;
    top: 0;
    z-index: 999;

    &::after {
      max-height: 2px;
      top: 4px;
      height: 2px;
      border-top: 0;
      background: #000;
      width: 20px;
      position: absolute;
      content: "";
    }
  }

  #header-menu-list {
    display: none !important;
  }

  .navbar-expand {
    .search-container-wrap {
      display: none !important;
    }

    .navbar-nav {
      display: none;

      li {
        margin-right: auto !important;
        width: calc(100% - 50px);
        margin-left: auto !important;
      }
    }

    .page-header.open {
      .navbar-nav {
        z-index: 1;
        position: relative !important;
        flex-flow: column !important;
        align-items: center !important;
        padding-top: 26px !important;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        display: block;
      }
    }
  }

  .page-header {
    height: 0;
  }

  aside.td-sidebar {
    top: 4.7rem !important;

    .left-sidebar-wrap {
      top: calc(8rem + 0px) !important;
    }

    .left-sidebar-wrap-inner {
      height: calc(100vh - 129px) !important;
    }

    .side-nav-collapse-toggle-2 {
      display: none !important;
    }
  }

  .header-menu {
    li {
      height: auto !important;
    }

    >li {
      li {
        padding: 5px 15px;
      }

      >a {
        display: inline-block;
      }

      position: relative;
      display: block !important;
    }

    >li.dropdown {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 2px solid #fff;
        top: 16px;
        right: 20px;
        transform: rotate(45deg);
        border-top: 0;
        border-left: 0;
      }

      cursor: pointer;
    }
  }

  .header-link {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }

  .page-header.open {
    display: block !important;
    right: 0;
    position: fixed;
    top: 4.7rem;
    min-width: inherit;
    max-width: 320px;
    width: 100%;
    min-height: calc(100vh - 75px);
    overflow: auto;
    padding-bottom: 50px;
    background: none;
    padding-right: 0 !important;

    ul#header-menu-list {
      display: block !important;
      z-index: 1;
      top: 0;
      min-width: 100%;
      max-width: 100%;
      height: auto !important;
    }

    button#controls-header-menu {
      display: block;
      background: rgba(0, 0, 0, 0.5);
      border: none;
      width: 100%;
      height: 100vh;
      top: 4.7rem;
      position: fixed;
      left: 0;
      font-size: 0;
    }

    &::after {
      background-color: var(--theme-color);
      position: fixed;
      width: 100%;
      height: 100%;
      content: "";
      display: block !important;
      top: 4.7rem;
    }
  }

  .page-header.open-search {
    display: block !important;
    position: fixed;
    top: 4.7rem;
    width: 100%;
    background: none;
    height: 100px;
    overflow: visible;
    min-height: 75vh;
    max-height: 100vh;
    right: 44px;
    min-width: 100vw;
    left: 0;
    max-width: 100%;
    padding-bottom: 10px;
    padding-right: 30px !important;

    button#controls-header-menu {
      display: block;
      background: rgba(0, 0, 0, 0.5);
      border: none;
      width: 100%;
      height: 100vh;
      top: 4.7rem;
      position: fixed;
      left: 0;
      font-size: 0;
    }

    &::after {
      background-color: var(--theme-color);
      position: fixed;
      width: 100%;
      height: 100%;
      content: "";
      display: block !important;
      top: 4.7rem;
      max-height: 84px;
      right: 0;
    }
  }

  ul.header-submenu {
    background: none;

    &:not(.open) {
      display: none !important;
    }

    a {
      line-height: normal;
    }
  }

  ul.header-submenu.open {
    display: block;
    margin-left: 17px;
    border-left: 0;
    margin-top: 12px;
    padding-top: 0;
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link {
        background: rgba(255, 255, 255, 0.8);
        justify-content: center;
      }
    }
  }

  .mobile-menu.desktop-hide.open {
    border: none;
    top: 2px;

    &::after {
      max-height: 2px;
      top: 4px;
      height: 2px;
      border-top: 0;
      background: var(--theme-color);
      width: 20px;
      position: absolute;
      content: "";
      transform: rotate(45deg);
    }

    &::before {
      max-height: 2px;
      top: 4px;
      height: 2px;
      border-top: 0;
      background: var(--theme-color);
      width: 20px;
      position: absolute;
      content: "";
      transform: rotate(45deg);
      transform: rotate(-45deg);
    }
  }

  span#algolia-autocomplete-listbox-0 {
    max-height: calc(100vh - 160px);
    overflow: auto;
  }

  .open-search {
    .navbar-nav.search-container-wrap {
      display: block !important;
      padding-top: 20px !important;
      max-width: 100%;
      margin: 0 auto;
      z-index: 1;
    }

    .search-container-wrap {
      .search-icon {
        top: 32px;
      }
    }
  }

  span.algolia-autocomplete {
    display: block !important;
  }

  .mobile-search.desktop-hide.open {
    color: var(--theme-color);
  }

  .switcher {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  #controls-header-menu {
    >.header-menu-text {
      &:first-of-type {
        display: none;
      }
    }

    padding-right: 0 !important;
  }
}
