@keyframes focus {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes focus-m {
  0%,
  100% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(0.9);
  }
}

aside.td-sidebar {
  position: relative;
  z-index: 3;
  transition: width 0.5s linear, max-width 0.5s linear;
  background: rgb(246, 246, 248);

  .left-sidebar-wrap.parent-active-remove::before {
    content: "";
    background: #f5f1f2;
    width: 49px;
    height: 100%;
    position: absolute;
    z-index: 3;
    left: 0;
  }

  .left-sidebar-wrap {
    height: calc(100vh - 129px);
    position: sticky;
    margin-top: 129px;
    top: 129px;
    transition: width 0.5s linear;

    .hover-collapse {
      display: none;
    }
  }

  .left-sidebar-wrap-inner {
    overflow: hidden;
    position: sticky;
    height: calc(100vh - 129px);
  }

  .side-nav-collapse-toggle-2 {
    position: absolute;
    z-index: 3;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #116149;
    box-shadow: 0 3px 4px rgba(6, 22, 33, 0.1);
    background-color: #fff;
    border: 1px solid #e7eeec;
    cursor: pointer;
    font-size: 0;
    left: calc(100% - 16px);
    top: calc(100vh - 165px);
    overflow: hidden;

    .collapse-nav-tip {
      position: absolute;
      font-size: 16px;
      z-index: 999;
      background: #21313c;
      left: calc(100% + 12px);
      color: #fff;
      display: flex;
      top: -10px;
      border-radius: 3px;
      -webkit-transform: translate(-30px, 0);
      transform: translate(-30px, 0);
      opacity: 0;
      -webkit-transition-property: opacity, transform;
      transition-property: opacity, transform;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      transition-delay: 0.5s !important;
      width: 0;
      padding: 0;

      span {
        background: #3d4f58;
        padding: 1px 5px;
        margin-left: 8px;
        border: 1px solid #5d6c74;
        margin-top: -2px;
      }
    }

    &:hover .collapse-nav-tip {
      width: auto;
      padding: 15px 18px 12px;
      opacity: 1;
      transform: none;
      -webkit-transform: none;
    }

    &:hover .collapse-nav-tip::before {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid #21313c;
      content: "";
      margin-left: -26px;
      margin-right: 13px;
      margin-top: 4px;
    }
  }

  .parent-active .side-nav-collapse-toggle-2 {
    z-index: -1;
  }

  .parent-active .hover-collapse {
    display: block !important;
    position: sticky;
    width: 30px;
    height: 30px;
    background: transparent;
    top: 0;
    bottom: 35px;
    left: 113%;
    margin-right: -13px;
    z-index: 999999999;
    font-size: 0;
    cursor: pointer;
  }

  .side-nav-collapse-toggle-2::before {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--theme-color);
    border-right: 2px solid var(--theme-color);
    transform: rotate(-135deg);
    margin-right: -3px;
    transition: margin-right 0.2s linear;
  }

  .side-nav-collapse-toggle-2:hover {
    background-color: #f9fbfa;
    box-shadow: 0 2px 2px rgba(6, 22, 33, 0.2);
    overflow: visible;
  }

  .side-nav-collapse-toggle-2:hover::before {
    margin-right: 2px;
  }

  &.close-bar nav {
    opacity: 0;
  }

  &.close-bar .parent-adctive nav {
    transition: width 0.5s linear, opacity 0.2s linear;
  }

  &.close-bar .side-nav-collapse-toggle-2::before {
    transform: rotate(45deg);
    margin-right: 4px;
  }

  &.close-bar .left-sidebar-wrap-inner nav {
    padding-left: 15px;
    width: 235px;
  }

  .left-sidebar-wrap.parent-active {
    width: 235px;
    background: #fff;
    border-right: 1px solid #ccc;
  }

  .left-sidebar-wrap.parent-active nav {
    opacity: 1;
    transition: width 0.5s linear, opacity 0.2s linear;
    top: 0;
  }

  .parent-active .left-sidebar-wrap-inner {
    background-color: rgba(254, 111, 66, 0.03);
  }

  .parent-active .left-sidebar-wrap-inner::before,
  .parent-active::before {
    background-color: rgba(254, 111, 66, 3%);
    content: "";
    width: 50px;
    height: 100%;
    max-width: 50px;
    position: absolute;
    left: -50px;
  }

  .parent-active::before {
    background: #fff;
  }

  .side-nav-collapse-toggle {
    position: sticky;
    z-index: 3;
    top: calc(100vh - 78px);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #116149;
    box-shadow: 0 3px 4px rgba(6, 22, 33, 0.1);
    background-color: #fff;
    border: 1px solid #e7eeec;
    cursor: pointer;
    font-size: 0;
    left: 100%;
    margin-right: -15px;
    margin-bottom: 45px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-top: 2px solid var(--theme-color);
      border-right: 2px solid var(--theme-color);
      transform: rotate(-135deg);
      margin-right: -3px;
      transition: margin-right 0.2s linear;
    }

    &:hover {
      background-color: #f9fbfa;
      box-shadow: 0 2px 2px rgba(6, 22, 33, 0.2);

      &::before {
        margin-right: 2px;
      }
    }

    .collapse-nav-tip {
      position: absolute;
      font-size: 16px;
      z-index: 999;
      background: #21313c;
      left: calc(100% + 12px);
      color: #fff;
      display: flex;
      top: -10px;
      border-radius: 3px;
      -webkit-transform: translate(-30px, 0);
      transform: translate(-30px, 0);
      opacity: 0;
      -webkit-transition-property: opacity, transform;
      transition-property: opacity, transform;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      transition-delay: 0.5s !important;
      width: 0;
      padding: 0;

      &:hover::before {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #21313c;
        content: "";
        margin-left: -26px;
        margin-right: 13px;
        margin-top: 4px;
      }

      span {
        background: #3d4f58;
        padding: 1px 5px;
        margin-left: 8px;
        border: 1px solid #5d6c74;
        margin-top: -2px;
      }
    }

    &:hover .collapse-nav-tip {
      width: auto;
      padding: 15px 18px 12px;
      opacity: 1;
      transform: none;
      -webkit-transform: none;
    }
  }

  nav {
    position: sticky;
    top: 8rem;
    max-height: calc(100vh - 129px);
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 100%;
    display: flex;
    flex-flow: column;
    transition: width 0.5s linear, opacity 0.2s 0.3s linear;
    min-width: 220px;

    &.collapse {
      width: 0;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--theme-color);
      border-radius: 6px;

      &:hover {
        background: #322965;
      }
    }

    > ul {
      padding-left: 0;

      >li:not(.bottom-link):not(.arrow-menu):not(:last-child),
      >li.unlink-list:not(:last-child) {
        border-bottom: 1px solid rgba(209, 214, 223, 0.3);
      }

      > li:nth-last-child(2) {
        border-bottom: 1px solid rgba(209, 214, 223, 1);
      }

      li {
        display: block;
        position: relative;

        > {
          i {
            position: absolute;
            top: 5px;
            left: 0;
            cursor: pointer;
            width: 25px;
            height: 25px;

            &:hover {
              animation: focus 250ms linear forwards;
            }

            &::before {
              content: "";
              width: 7px;
              height: 1px;
              background: var(--theme-color);
              display: inline-block;
              transform: rotate(45deg);
              transition: all 300ms ease;
              position: absolute;
              left: 0;
              top: 12px;
            }

            &::after {
              content: "";
              width: 7px;
              height: 1px;
              background: var(--theme-color);
              display: inline-block;
              transform: rotate(-45deg);
              transition: all 300ms ease;
              position: absolute;
              right: 13px;
              top: 12px;
            }
          }

          a:not(.current) + i:not(:hover) {
            &::before,
            &::after {
              background-color: #222;
            }
          }
        }

        &.open > i {
          &::before {
            transform: rotate(135deg);
            width: 14px;
            left: 0;
          }

          &::after {
            transform: rotate(-135deg);
            width: 14px;
            right: 11px;
          }
        }

        &.submenu {
          > a {
            max-width: calc(100% - 0px);
            margin-left: 0;
          }

          &:not(.open):not(.unlink-list) > ul {
            display: none;
          }

          &:last-child a {
            padding-left: 0;
          }

          &.unlink-list a {
            padding: 8px 0 8px 5px;
          }
        }

        &.bottom-link {
          > a {
            padding: 8px 0 8px 8px;
          }
        }
      }

      a {
        color: inherit;
        display: inline-block;
        padding: 4px 0;

        &:hover {
          color: var(--theme-color);
        }
      }

      .current {
        color: $primary;
      }

      > li:not(.bottom-link):not(.arrow-menu) >,
      > li.unlink-list >,
      > li.unlink-list li > {
        i {
          top: 15px;
          width: 16px;
          right: 5px;
          left: inherit;
          border: 2px solid #666;
          border-left: 0;
          border-right: 0;
          height: 10px;

          &::before {
            width: 100%;
            transform: none;
            top: 2px;
            height: 2px;
            background: #666 !important;
          }

          &::after {
            display: none;
          }
        }

        ul {
          padding-left: 17px;
          padding-bottom: 7px;

          > li {
            padding: 4px 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            i {
              top: 2px;
              width: 12px;
              height: 12px;
              border-radius: 2px;
              background: $YB_LIGHT_BLUE;
              display: inline-block;
              margin-left: 7px;
              position: relative;

              &::before {
                content: "+";
                font-size: 12px;
                height: auto;
                background: none !important;
                transform: none;
                color: #fff;
                line-height: normal;
                top: -2px;
                font-weight: 3000;
                left: 3px;
              }

              &::after {
                display: none;
              }
            }

            &.open > i::before {
              content: "-";
              font-size: 16px;
              line-height: 12px;
              padding-left: 1px;
            }

            > ul {
              padding-left: 12px;
              width: 100%;

              > li {
                &.submenu i {
                  transform-origin: left;
                  transform: scale(0.8) translate(-1px, 0);

                  &:hover {
                    animation: focus-m 250ms linear forwards;
                  }
                }

                > ul {
                  padding-left: 15px;
                  border-left: 1px solid var(--theme-color);

                  > ul {
                    padding-left: 15px;
                  }
                }

                &.open > i::before {
                  content: "-";
                  font-size: 16px;
                  line-height: 12px;
                  padding-left: 1px;
                }

                a {
                  font-size: 14px;
                }

                li.open > i::before {
                  content: "-";
                  font-size: 16px;
                  line-height: 12px;
                  padding-left: 1px;
                }

                &.open ul {
                  padding-left: 15px;
                  width: 100%;

                  li {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    a {
                      max-width: calc(100% - 23px);
                    }
                  }
                }
              }
            }

            &.submenu {
              > a {
                max-width: calc(100% - 20px);
                padding-left: 0;
                line-height: normal;
              }

              &:not(.open) > ul {
                display: none;
              }
            }
          }
        }

        a {
          padding: 8px 0 8px 5px;
          width: 100%;

          &[data-identifier="view-all-products"]::after {
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #dbdbdb;
          }

          &.current {
            background: var(--left_menu_bg);
            background: transparent;

            + i {
              transition: none !important;

              /* border-color: var(--theme-color); */

              &::before {
                transition: none !important;

                /* background: var(--theme-color) !important; */
              }
            }
          }
        }
      }

      > li:not(:last-child):hover >,
      > li:not(:last-child).open > {
        i {
          border-color: $primary;

          &::before {
            background: $primary !important;
          }
        }
      }
    }

    ul.left-bottom-nav {
      margin-top: auto;
      padding-top: 20px;
      margin-bottom: 2px;

      i {
        margin-right: 8px;
      }
    }
  }

  &.close-bar {
    width: 50px;
    max-width: 50px;
    padding-left: 0;
  }

  &.collapse-side {
    width: 50px;
    max-width: 50px;

    &::beforee {
      content: "";
      background: #f5f1f2;
      width: 50px;
      height: 100%;
      top: 0;
      position: absolute;
      z-index: 2;
    }

    nav {
      opacity: 0;
    }

    .side-nav-collapse-toggle::before {
      transform: rotate(45deg);
      margin-right: 4px;
    }

    &.collapse-hover:hover {
      width: auto;
      max-width: 16.66666667%;
      padding-left: 15px;

      &::before {
        display: none;
      }

      nav {
        transition: width 0.5s linear, opacity 0.2s 0s linear;
        opacity: 1;
      }
    }
  }
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li {
  border-bottom: 1px solid rgba(209, 214, 223, 0.3);
  padding: 0;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li.submenu {
  display: flex;
  align-items: center;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li.submenu > a {
  padding: 8px 0 8px 0;
  line-height: 23.3px;
  max-width: calc(100% - 23px);
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li.submenu > a.current {
  padding: 8px 0 8px 5px;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li.submenu > i {
  top: inherit;
  background: none;
  margin-left: 0;
  right: 0;
  width: 16px;
  height: 10px;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li.submenu > i::before {
  width: 100%;
  transform: none;
  top: 2px;
  height: 2px;
  background: #666 !important;
  content: '';
  left: 0;
  border: none;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li.submenu > a.current + i::before {
  background: var(--theme-color) !important;
}

aside.td-sidebar nav > ul > li.unlink-list > ul {
  padding-left: 0;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li > {
  i,
  a.current + i {
    top: 15px;
    width: 16px;
    right: 5px;
    left: inherit;
    border: 2px solid #666;
    border-left: 0;
    border-right: 0;
    height: 10px;

    ::before {
      width: 100%;
      transform: none;
      top: 2px;
      height: 2px;
      background: #666 !important;
    }
  }
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li.open > i,
aside.td-sidebar nav > ul > li.unlink-list > ul > li > a.current + i {
  background: none;
  margin-left: 0;
  top: inherit !important;
  border-color: var(--theme-color);
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li.open > i::before,
aside.td-sidebar nav > ul > li.unlink-list > ul > li > a.current + i::before,
aside.td-sidebar nav > ul > li.unlink-list > li > a.current + i::before {
  width: 100%;
  transform: none;
  top: 2px;
  height: 2px;
  background: #666 !important;
  left: 0;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li > ul {
  padding-left: 12px;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li > ul > li > a,
aside.td-sidebar nav > ul > li.submenu.unlink-list > ul > li > ul > li > a {
  font-size: 15.5px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li > ul > li.submenu > i {
  border: none;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li.open > a.current + i {
  border-color: var(--theme-color);
}

aside.td-sidebar nav > ul > li.submenu.unlink-list > ul > li > ul > li > ul {
  border-left: 0;
  padding-top: 6px;
}

aside.td-sidebar nav > ul > li.submenu.unlink-list > ul > li > ul > li > ul > li {
  padding: 0;
}

aside.td-sidebar nav > ul > li.submenu.unlink-list > ul > li > ul > li > ul > li > a {
  padding: 4px 0 4px 5px;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li:last-child {
  border-bottom: 0;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li.open > i::before,
aside.td-sidebar nav > ul > li.unlink-list > li.open > a.current + i::before,
aside.td-sidebar nav > ul > li.unlink-list > ul > li.open > a.current + i::before {
  background: var(--theme-color) !important;
}

aside.td-sidebar nav > ul > li.unlink-list > ul > li > a,
aside.td-sidebar nav > ul li.submenu.unlink-list > ul > li > a {
  padding: 8px 0 8px 5px;
  line-height: 23.3px;
  max-width: calc(100% - 18px);
}

aside.td-sidebar nav > ul > li.view-all-products::before {
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  position: absolute;
  height: 40px;
  // background: #ddd;
  z-index: -1;
}

aside.td-sidebar nav > ul > li.view-all-products {
  padding-top: 1px;
  // border-top: 1px solid #aaa;
  border-top: 2px solid var(--theme-color);
}

li.section.back-arrow {
  padding: 4px 0;
}

li.section.back-arrow::before {
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid #666;
  position: absolute;
  transform: rotate(45deg);
  left: 2px;

  /* border-radius: 5px; */
  border-right: 0;
  border-top: 0;
  top: 20px;
}

li.section.back-arrow a {
  padding-left: 18px !important;
}

li.section.back-arrow:hover::before {
  border-color: var(--theme-color);
}

li.section.other-links {
  padding: 4px 0;
}

li.section.other-links a {
  padding-left: 20px !important;
}

aside.td-sidebar nav > ul > li.view-all-products > {
  a {
    padding-left: 5px !important;
    font-weight: bold;
  }

  i {
    // width: 16px;
    // right: 5px;
    // left: inherit;
    // border: 2px solid #666;
    // border-left: 0;
    // border-right: 0;
    // height: 10px;
    // top: 14px !important;

    &::before {
      // width: 100%;
      // transform: none;
      // top: 2px;
      // height: 2px;
      // background: #666 !important;
    }

    &::after {
      // display: none;
    }
  }

  ul {
    padding-left: 17px;
    margin-top: 15px;

    li {
      display: block;
      position: relative;

      > {
        i {
          top: 2px;
          width: 12px;
          height: 12px;
          border-radius: 2px;
          background: $YB_LIGHT_BLUE;
          display: inline-block;
          margin-left: 7px;
          position: relative;

          &:hover {
            animation: focus 250ms linear forwards;
          }

          &::before {
            content: "+";
            font-size: 12px;
            height: auto;
            background: none !important;
            transform: none;
            color: #fff;
            line-height: normal;
            top: -2px;
            font-weight: 3000;
            left: 3px;
          }

          &::after {
            display: none;
          }
        }

        a:not(.current) + i:not(:hover) {
          &::before,
          &::after {
            background-color: #222;
          }
        }
      }

      &.open > i {
        &::after {
          transform: rotate(-135deg);
          width: 14px;
          right: 11px;
        }
      }

      &.submenu {
        > a {
          max-width: calc(100% - 20px);
          margin-left: 0;
          padding-left: 0;
          width: auto;
        }

        &:not(.open) > ul {
          display: none;
        }

        &:last-child a {
          padding-left: 0;
        }
      }
    }

    a {
      color: inherit;
      display: inline-block;
      padding: 4px 0;

      &:hover {
        color: var(--theme-color);
      }
    }

    .current {
      color: var(--theme-color);
    }

    > li > {
      i {
        top: 2px;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        background: $YB_LIGHT_BLUE;
        display: inline-block;
        margin-left: 7px;
        position: relative;

        &::before {
          content: "+";
          font-size: 12px;
          height: auto;
          background: none !important;
          transform: none;
          color: #fff;
          line-height: normal;
          top: -2px;
          font-weight: 3000;
          left: 3px;
        }

        &::after {
          display: none;
        }
      }

      ul {
        padding-left: 5px;

        > li {
          padding: 4px 0;
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          i {
            top: 2px;
            width: 12px;
            height: 12px;
            border-radius: 2px;
            background: $YB_LIGHT_BLUE;
            display: inline-block;
            margin-left: 7px;
            position: relative;

            &::before {
              content: "+";
              font-size: 12px;
              height: auto;
              background: none !important;
              transform: none;
              color: #fff;
              line-height: normal;
              top: -2px;
              font-weight: 3000;
              left: 3px;
            }

            &::after {
              display: none;
            }
          }

          &.open i::before {
            content: "-";
            font-size: 16px;
            line-height: 12px;
            padding-left: 1px;
          }

          > ul {
            padding-left: 12px;
            width: 100%;

            > li {
              &.submenu i {
                transform-origin: left;
                transform: scale(0.8) translate(-1px, 0);

                &:hover {
                  animation: focus-m 250ms linear forwards;
                }
              }

              > ul {
                padding-left: 15px;
                border-left: 1px solid var(--theme-color);
              }
            }
          }

          &.submenu {
            > a {
              max-width: calc(100% - 25px);
              padding-left: 12px;
            }

            &:not(.open) > ul {
              display: none;
            }
          }
        }
      }

      a {
        padding: 4px 0 4px 5px;
        width: 100%;

        &[data-identifier="view-all-products"]::after {
          content: "";
          height: 1px;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: #dbdbdb;
        }

        &.current {
          background: rgba(249, 176, 151, 0.05);

          + i {
            transition: none !important;

            /* border-color: var(--theme-color); */

            &::before {
              transition: none !important;
              background: var(--theme-color) !important;
            }
          }
        }
      }
    }

    > li:hover >,
    > li.open > {
      i {
        &::before {
          transform: none;
          content: "-";
          font-size: 16px;
          line-height: 12px;
          padding-left: 0;
        }
      }
    }

    >li:hover > i::before {
      content: "+";
      font-size: 12px;
      line-height: normal;
      padding-left: inherit;
    }

    > li.open:hover > {
      i {
        &::before {
          transform: none;
          content: "-";
          font-size: 16px;
          line-height: 12px;
          padding-left: 0;
        }
      }
    }
  }
}

aside.td-sidebar nav > ul > li.view-all-products.open > i {
  border-color: var(--theme-dmenu-color) !important;

  &::before {
    background: var(--theme-color) !important;
  }
}

.active-scroll {
  color: var(--theme-color) !important;
}

aside.td-sidebar nav > ul li.bottom-link.submenu:not(.arrow-menu) {
  > a {
    padding: 8px 0 8px 5px;
  }

  > i {
    top: 15px;
    width: 16px;
    right: 5px;
    left: inherit;
    border: 2px solid #666;
    border-left: 0;
    border-right: 0;
    height: 10px;

    &::before {
      width: 100%;
      transform: none;
      top: 2px;
      height: 2px;
      background: #666 !important;
    }

    &::after {
      display: none;
    }
  }

  &:hover {
    > i {
      border-color: var(--theme-color);

      &::before {
        background: var(--theme-color) !important;
      }
    }
  }

  >ul {
    padding-left: 0;

    a {
      padding-left: 5px;
    }
  }
}

@media (min-width: 768px) {
  aside.td-sidebar {
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    top: 8rem;
    position: sticky;

    nav {
      padding-right: 0.5rem;
    }
  }

  aside.td-sidebar:not(.close-bar) {
    min-width: 237px;
  }

  .parent-menu:hover ul.header-submenu {
    display: block;
    left: 100%;
    top: 0;
  }

  .header-menu li.parent-menu {
    position: relative;
  }

  ul.header-submenu {
    min-width: 206px;
  }

  .header-submenu a {
    padding: 5px 0;
  }
}

@media (max-width: 947px) and (min-width: 768px) {
  .td-main main {
    max-width: calc(100% - 237px) !important;
    padding-left: 1rem !important;
  }
}

@media (max-width: 767px) {
  .docs-menu.desktop-hide {
    display: block;
    padding: 14px 20px;
    background: #eee;
    margin-left: -15px;
    min-width: calc(100%);
    position: fixed;
    font-weight: bold;
    cursor: pointer;
  }

  aside.td-sidebar .left-sidebar-wrap {
    position: fixed;
    z-index: 999999999;
    background: #f5f6f8;
    left: 0;
    width: 100%;
    padding-left: 15px;
    min-width: calc(100% - 15px);
    top: -3px !important;
    height: calc(100vh - 126px);
  }

  aside.td-sidebar .left-sidebar-wrap:not(.open) {
    height: 0;
    overflow: hidden;
  }

  aside.td-sidebar {
    top: 8rem;
  }

  aside.td-sidebar nav {
    padding-right: 15px;
  }

  aside.td-sidebar .left-sidebar-wrap-inner {
    height: calc(100vh - 180px);
  }

  .docs-menu.desktop-hide::after {
    border: 2px solid #000 !important;
    width: 10px;
    min-height: 10px;
    position: absolute;
    content: '';
    line-height: normal;
    transform: rotate(45deg);
    border-top: 0 !important;
    border-left: 0 !important;
    right: 35px;
    top: 17px;
  }

  body:not(.td-home) .td-main main {
    padding-top: 30px;
    margin-top: 7rem;
  }
}

aside.td-sidebar nav > ul > li.arrow-menu > i,
aside.td-sidebar nav > ul > li.bottom-link.arrow-menu > i {
  border: none;
  width: 9px;
  height: 9px;
  border-bottom: 2px solid var(--theme-dmenu-color);
  border-right: 2px solid var(--theme-dmenu-color);
  transform: rotate(45deg);
  transform-origin: 7px 7px;
  transition: transform 300ms ease;
  right: 10px;
  left: inherit;
  top: 13px;

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

aside.td-sidebar nav > ul > li.bottom-link.arrow-menu > i {
  right: 0;
}

aside.td-sidebar nav > ul > li.arrow-menu.open > i {
  transform: rotate(225deg);
}

aside.td-sidebar nav > ul > li.arrow-menu > a:hover {
  border-color: var(--theme-color);
}

aside.td-sidebar nav > ul > li.arrow-menu > i:hover,
aside.td-sidebar nav > ul > li.bottom-link.arrow-menu > i:hover {
  animation: none;
  border-color: var(--theme-dmenu-color);
}

aside.td-sidebar nav > ul > li.arrow-menu > i::before,
aside.td-sidebar nav > ul > li.bottom-link.arrow-menu > i::before {
  display: none;
}

.left-bottom-nav .internal.list {
  padding: 0;
}
