.td-content .nav-tabs-yb {
  margin-bottom: 23px;

  li {
    margin: 0 5px;
    margin-bottom: 10px;

    a.nav-link {
      padding: 15px 15px 7px 15px !important;
      height: 60px !important;
      border-radius: 7px !important;
      border: 1px solid #cdd0dc;
      font-size: 16px;
      color: #f75821;
      font-weight: 600;

      i {
        color: #c0c3d3;
        font-size: 24px !important;
        margin: -4px 0 0 0;
        padding-right: 4px;
        vertical-align: middle;
      }

      &.active {
        border: 1px solid var(--theme-color) !important;
        background-color: rgba(247, 88, 33, 0.03);

        i {
          color: #323a69;
        }
      }

      &:hover {
        border: 1px solid #f75821 !important;
      }
    }
  }
}
