.content-child {
  .td-content .nav-tabs-yb {
    display: flex;
    font-size: 0;
    gap: 16px 12px;
    margin: 32px 0;

    li {
      width: calc(33.3% - 8px);
      margin: 0 !important;

      @media (max-width: 1199px) {
        width: calc(50% - 8px);
      }

      @media (max-width: 767px) {
        width: calc(100%);
      }

      a.nav-link {
        padding: 16px 12px;
        text-decoration: none;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #25323d;
        background: #fff;
        border: 1px solid #d7dee4;
        border-radius: 8px;
        display: flex;
        align-items: center;

        i {
          color: #4e5f6d;
          font-size: 24px;
          margin: 3px 16px -3px 0;
          display: inline-flex;
          align-items: center;
          width: 24px;
          height: auto;
          line-height: 24px;
        }

        &.active,
        &:hover {
          letter-spacing: -0.1px;
          font-weight: 600;
          background: #f2f6ff;
          border: 1px solid #cbdbff;

          &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: calc(100% - 0px);
            top: 0;
            background: transparent;
            height: calc(100% - 0px);
            border-radius: 8px;
            border: 1px solid #cbdbff;
          }
        }
      }
    }
  }
}
