.download-binary-link {
  border-bottom: none;

  &:hover {
    border-bottom-style: none;
  }

  button {
    cursor: pointer;
    border: 1px solid $YB_DARK_BLUE;
    color: $YB_DARK_BLUE;
    padding: 10px 15px 5px 15px;
    position: relative;
    font-weight: 400;
    transition: all 0.2s;
    line-height: 40px;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 7px;
    font-size: 15px;

    &:hover {
      color: #fff !important;
      background: var(--theme-color);
      border-color: var(--theme-color);
      transition: all 0.4s ease 0s;
    }

    .download-text {
      font-size: 18px;
      margin-left: 8px;
    }

    i {
      color: inherit;
      font-size: 1.75em;
    }
  }
}
