/*** Right nav. ***/
@supports (position: sticky) {
  .td-sidebar-toc {
    top: 8rem;
  }
}

.td-toc > nav > ul:first-child > li:first-child::before {
  content: 'On this Page';
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 5px;
  display: block;
  margin-bottom: 0;
  color: #000 !important;
}

.td-toc li ul {
  padding-left: 7px;
}
