@supports (position: sticky) {
  .td-sidebar-toc {
    top: 129px;
    background: rgb(246, 246, 248);
    margin-top: 129px;
    height: calc(100vh - 129px);
  }
}

.td-toc {
  > nav > ul:first-child > li:first-child::before {
    content: 'On this page';
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 5px;
    display: block;
    margin-bottom: 0;
    color: #000 !important;
  }

  li ul {
    padding-left: 7px;
  }

  .active-scroll {
    color: $primary !important;
  }

  &.hide-h3 {
    nav > ul > li > ul > li {
      display: none;
    }
  }

  &.hide-h4 {
    nav > ul > li > ul > li > ul {
      display: none;
    }
  }
}

.td-sidebar + main {
  .heading-content {
    .dropdown-menu {
      left: inherit !important;
      right: 0 !important;
      transform: none !important;
      top: 100% !important;
    }
  }
}
