@supports (position: sticky) {
  .td-sidebar-toc {
    top: 129px;
    background: rgb(246, 246, 248);
    margin-top: 129px;
    height: calc(100vh - 129px);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #b7c3cb;
      border-radius: 6px;
    }
  }
}

aside.td-sidebar-toc {
  >.td-page-meta {
    padding: 0 !important;
  }
}

.td-toc {
  > nav > ul:first-child > li:first-child::before {
    content: "On this page";
    padding-bottom: 0;
    margin-bottom: 24px;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    color: #0b1117;
  }

  li {
    line-height: 16px;
    margin: 0;

    a {
      margin: 0 0 16px 0;
      padding: 0;
      font-size: 13px;
      font-weight: normal;
      color: #25323d !important;
      text-shadow: none !important;

      &:hover {
        color: #0b1117 !important;
      }
    }

    > ul {
      margin: 24px 0;
      padding: 0;
      border-left: 1px solid #e9eef2;
    }

    li {
      padding-left: 23px;
      margin: 0;
      color: #6d7c88;

      > a {
        color: #6d7c88 !important;

        &:hover {
          color: #0b1117 !important;
        }
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .active-scroll {
    color: #2b59c3 !important;

    &:hover {
      color: #2b59c3 !important;
    }
  }

  &.hide-h3 {
    nav > ul > li > ul > li {
      display: none;
    }
  }

  &.hide-h4 {
    nav > ul > li > ul > li > ul {
      display: none;
    }
  }
}
