body {
  &:not(.td-searchpage) {
    .search-result {
      position: absolute;
      background: #fff;
      top: 35px;
      border: 1px solid #d7dee4;
      border-radius: 8px;
      padding: 0;
      width: 100%;
      max-height: 85vh;
      overflow: auto;

      li {
        margin-bottom: 15px;
      }

      .breadcrumb-item {
        font-size: 12px;
        line-height: 15px;
        font-weight: normal;
      }
    }

    .result-title {
      em {
        color: red;
      }
    }

    div#pagination-docs {
      position: sticky;
      bottom: 0;
      background: #fff;
    }

    #doc-hit {
      padding-left: 0;
      margin: 0;

      li {
        list-style: none;
        border-bottom: 1px solid #e9eef2;
        padding: 20px 30px;
        margin-bottom: 0;

        &:not(.no-result):hover {
          background: #f2f6ff;
        }
      }
    }

    .left-right-button {
      display: none;
    }
  }

  &.td-searchpage {
    .algolia-data {
      padding: 0;
      position: relative;
    }

    #doc-hit {
      padding-left: 0;

      li {
        &::before {
          left: 0;
          display: none;
        }

        &:not(.no-result):hover {
          background: rgba(80, 124, 225, 0.07);
        }

        &:not(.no-result) {
          padding: 25px 30px;
          padding-left: 30px;
          margin: 0;
          position: relative;
          background: #f9f9f9;
          border-left: 8px solid #507ce1;
          border-radius: 8px;
        }

        .search-title-inner {
          font-size: 18px;
        }

        a {
          border: 0;
          text-decoration: none;
        }
      }

      .no-result {
        font-size: 20px;
      }
    }
  }
}

.results-0 {
  display: none;
}

.pager {
  .pager-area {
    display: inline-flex;
    flex-flow: row-reverse;
    font-size: 14px;
    padding: 10px 10px;

    span {
      &:not(.total-result) {
        padding: 0 5px;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}

div#pagination-docs {
  text-align: right;
  padding: 0 10px;
}

.search-by-algolia {
  display: none;
}

.active-page {
  color: #fff;
  padding: 5px;
  background: #507ce1;
}

#doc-hit {
  li {
    .search-title-inner {
      font-size: 16px;
      line-height: normal;
    }
  }
}

.search-title {
  a {
    color: #507ce1;
    font-weight: 500;
  }
}

.hash {
  padding-left: 10px;

  span {
    font-size: 25px;
    width: 50px;
    text-align: center;
    display: inline-block;
  }
}

.breadcrumb-item {
  text-transform: capitalize;
  color: #898e9a;
}
