.search-by-algolia {
  height: 30px;

  @media (min-width: 550px) {
    margin-top: -30px;
    text-align: right;
  }

  img {
    position: relative;
    top: -32px;
    height: 22px;
  }

  @media (max-width: 600px) {
    margin-bottom: 20px;

    img {
      position: static;
    }
  }
}

.algolia-docsearch-suggestion--highlight {
  color: inherit !important;
  font-weight: bold;
  box-shadow: none !important;
}

body.td-searchpage h1 {
  text-align: left;
}

.search-results-container {
  .search-result {
    margin-bottom: 24px;
  }

  a {
    border-bottom: 1px dashed;
    color: $YB_DARK_ORANGE;

    &:hover {
      color: $YB_ORANGE;
      border-bottom-style: solid;
      text-decoration: none !important;
    }
  }

  .search-title a {
    font-family: "Rubik", sans-serif !important;
    font-size: 18px;
    color: $YB_DARK_BLUE !important;
    border-bottom: 1px dashed;
  }

  .search-text {
    font-size: 14px;
    margin-left: 20px;
    line-height: 1.4;

    p {
      margin: 6px 0 10px;
    }
  }

  .search-title .algolia-docsearch-suggestion--highlight {
    padding: 0.1em 0.05em;
  }

  .search-text .algolia-docsearch-suggestion--highlight {
    padding: 0 0 1px;
    background: inherit;
    box-shadow: inset 0 -2px 0 0 rgba(69, 142, 225, 0.8);
    color: inherit;
  }
}

.search-container {
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  line-height: 42px;

  .search-icon {
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 18px;
    z-index: 1000;
    color: $YB_ORANGE;
  }

  .search-input {
    text-indent: 40px;
    width: 300px;
    padding: 0;
    line-height: 48px;
    border: none;
    font-weight: 300;
    font-size: 15.5px;
  }

  @media (min-width: 1440px) {
    .search-input {
      width: 600px;
    }
  }

  .search-input::-webkit-input-placeholder {
    text-align: left;
  }

  .algolia-autocomplete {
    font-family: "Rubik", sans-serif !important;
  }

  .algolia-autocomplete .aa-hint {
    color: $YB_ORANGE;
  }

  .algolia-autocomplete .aa-dropdown-menu {
    min-width: 250px;
    width: 200px;
    background-color: #fff;
    border: 1px solid $YB_LIGHT_GRAY_2;
    border-top: none;
    margin-top: 2px;
  }

  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
  }

  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #b2d7ff;
  }

  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
    color: $YB_ORANGE;
  }
}
