@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
@import "./_header_menu.scss";
@import "./_left_nav.scss";
@import "./_right_nav.scss";
@import "./_version_dropdown.scss";
@import "./_contribute_list.scss";
@import "./_admonition.scss";
@import "./_code_block.scss";
@import "./_release_notes.scss";
@import "./_tabs.scss";
@import "./_old_tabs.scss";
@import "./_tables.scss";
@import "./_search.scss";
@import "./_footer.scss";
@import "./_yb_buttons.scss";
@import "./_yb_page_style.scss";

* body {
  font-size: 15.5px;
  background: $YB_LIGHT_GRAY_BACK;
}

/******* Variables for Color Theme Switcher **********/

:root {
  --theme-color: #312965;
  --theme-dark-color: #5b5480;
  --theme-dmenu-color: #f75821;
  --left_menu_bg: #cecdd6;
}

[data-theme="orange"] {
  --theme-color: #f75821;
  --theme-dark-color: #ed3d00;
  --theme-dmenu-color: #312965;
  --left_menu_bg: rgba(249, 176, 151, 0.2);
}

/******* Variables for Color Theme Switcher **********/
ol.breadcrumb {
  .breadcrumb-item {
    font-size: 14px;

    &.active {
      color: #21313c;
    }

    a {
      color: #5d6c74;

      &:hover {
        color: #21313c;
      }
    }

    + .breadcrumb-item {
      padding-left: 0.25rem;

      &::before {
        padding-right: 0.25rem;
        color: #5d6c74;
        font-size: 13px;
        line-height: 22px;
      }
    }
  }
}

h1 {
  .tag-beta {
    display: inline-block;
    text-decoration: none;
    border: none;
    height: 30px;
    width: 70px;
    color: #f0f9ff;
    background-color: #35a3ff;
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: -6px;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      opacity: 0.8;
      border: none;
    }
  }
}

body.td-homepage {
  .resources {
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;
      gap: 15px;
      font-size: 14px;
    }

    a {
      border-radius: 5px;
      padding: 4px 5px;
      color: #4e5f6d !important;

      &.grey-bg {
        background: #f0f4f7;
      }

      &.purple-bg {
        background: #ededfd;
      }
    }
  }

  h1 {
    margin-top: 40px;
  }

  p {
    color: #4e5f6d;
    font-size: 18px;
    line-height: normal;
  }
}

h4,
.h4 {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .td-main main {
    padding-top: 9.5rem;
  }

  .pl-md-5,
  .px-md-5 {
    padding-left: 1.5rem !important;
  }
}

.heading-image {
  background-color: #fff;
  box-shadow: 0 8px 15px rgba(32, 41, 81, 0.15);
  border: none !important;
  color: #202951;
  min-width: 135px;
  height: 135px;
  border-radius: 12px;
  float: left;
  margin-bottom: 40px;
  margin-right: 40px;
  max-width: 135px;
  padding: 20px;
}

.heading-image img {
  max-width: 100%;
  height: auto;
}

.td-content .expandable-image {
  display: block;
  width: 350px;
  cursor: pointer;
}

.heading-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.td-content a.section-link {
  position: relative;
  display: block;
  margin-top: 15px;
  min-height: 120px;
  padding: 0 12px;
  border: 1px solid $YB_LIGHT_GRAY !important;
  background: $YB_LIGHT_GRAY;
  color: $YB_DARK_BLUE;
  text-decoration: none !important;
  border-radius: 12px;
  transition: all 0.3s;

  &.icon-offset {
    padding-left: 84px;
  }

  &:hover {
    color: $YB_ORANGE;
    border: 1px solid $YB_ORANGE !important;
    background: #fff;
  }

  .text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .caption {
    font-size: 16px;
    color: $YB_DARK_BLUE;
  }

  .icon {
    width: 60px;

    i {
      position: relative;
      top: 2px;
      font-size: 36px;
      color: $YB_ORANGE;

      &.fab,
      &.fas {
        top: -3px;
      }
    }
  }
}

.td-main {
  .td-content {
    [class^=col] {
      padding: 0 14px;
      margin-bottom: 12px;
    }

    a.section-link {
      padding: 25px 32px 30px;
      display: flex;
      margin-top: 15px;
      min-height: 120px;
      flex-direction: column;
      position: relative;
      background-color: #fff;
      background: $YB_LIGHT_GRAY;
      border: none !important;
      height: 180px;
      color: $YB_DARK_BLUE;
      text-decoration: none !important;
      border-radius: 12px;

      @include transition(0.125s);

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        height: 235px;
      }

      @media only screen and (max-width: 520px) {
        height: 235px;
      }

      &::after {
        content: " ";
        height: 100%;
        width: 100%;
        background: #fff;
        border-radius: 12px;
        bottom: 0 !important;
        left: 0 !important;
        box-shadow: 0 7px 16px rgba($YB_DARK_BLUE, 0.17);
        z-index: 1;
      }

      &::before,
      &::after {
        display: block;
        position: absolute;

        @include transition(0.15s);
      }

      &:hover {
        @include transition(0.3s);

        transform: scale(1.03, 1.03);
        z-index: 2000;

        &::before {
          color: rgba($YB_DARK_BLUE, 0.7);
          padding-right: 37px;

          @include transition(0.3s);
        }

        &::after {
          @include transition(0.3s);

          box-shadow: 0 19px 40px rgba($YB_DARK_BLUE, 0.17);
          border-radius: 15px;
        }
      }

      .head {
        position: relative;
        z-index: 2;

        .icon {
          float: left;
          margin-left: -10px;
          margin-top: -7px;
          width: 65px;

          i {
            font-size: 40px;
            margin: 10px 15px;
            line-height: 48px;
            margin-bottom: 0;
            display: block;
            height: 48px;
            text-align: center;
          }
        }

        .articles {
          color: #c0c3d3;
          font-weight: 400;
          margin-left: 78px;
          font-size: 13px;
          line-height: 18px;
        }

        .title {
          margin-left: 78px;
          font-weight: 600;
          font-size: 24px;
          line-height: 1.5;
          letter-spacing: -0.02em;
          color: $YB_DARK_MILD;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .body {
        padding-top: 14px;
        letter-spacing: -0.02em;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-height: 23px;        /* fallback */
        max-height: 59px;
        position: relative;
        font-weight: 300;
        z-index: 2;
        text-shadow: 0.15px 0.15px #2e3135, 0.15px -0.15px #2e3135;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          max-height: 84px;
        }

        @media only screen and (max-width: 520px) {
          max-height: 84px;
        }

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          letter-spacing: -0.025em;
        }
      }
    }
  }
}

.td-main {
  .td-content {
    a.section-link {
      &:hover {
        &::after {
          background-color: $YB_LIGHT_GRAY_BACK;
          box-shadow: 0 10px 18px rgba($YB_DARK_BLUE, 0.17);
        }
      }
    }
  }
}

body:not(.td-home) .td-main main {
  background: #fff;
}

.td-content .highlight {
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  max-width: 100% !important;
}

.td-content p {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.td-content p + ol,
.td-content p + ul {
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .td-max-width-on-larger-screens,
  .td-content > .highlight,
  .td-content > .lead,
  .td-content > h1,
  .td-content > h2,
  .td-content > ul,
  .td-content > ol,
  .td-content > p,
  .td-content > blockquote,
  .td-content > dl dd,
  .td-content .footnotes,
  .td-content > .alert {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .main-heading-with-version {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
  }

  .heading-image {
    min-width: 85px;
    height: 85px;
    max-width: 85px;
    padding: 10px;
  }
}

.td-content {
  h2:not(:first-child) {
    margin-top: 3rem;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 0.25rem;
  }

  p a,
  li:not(.nav-item) a,
  .note a,
  td a {
    color: #3176d9;

    i {
      margin-left: 5px;
      font-size: 12px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

/******* For Inline SVG **********/

svg.rrdiagram {
  max-width: 100%;
}

.rrdiagram .connector {
  fill: none;
  stroke: #222;
}

.rrdiagram .text {
  fill: #000;
  font-family: Verdana, sans-serif;
  font-size: 12px;
}

.rrdiagram .literal {
  fill: #90d9ff;
  stroke: #222;
}

.rrdiagram .rule {
  fill: #d3f0ff;
  stroke: #222;
}

/******* For Inline SVG **********/
