@import "./_header_menu.scss";
@import "./_left_nav.scss";
@import "./_right_nav.scss";
@import "./_version_dropdown.scss";
@import "./_admonition.scss";
@import "./_release_notes.scss";
@import "./_tabs.scss";
@import "./_old_tabs.scss";
@import "./_search.scss";
@import "./_footer.scss";

* body {
  font-size: 15.5px;
  background: $YB_LIGHT_GRAY_BACK;
}

@media (min-width: 768px) {
  .td-main main {
    padding-top: 9.5rem;
  }
}

.heading-image {
  background-color: #fff;
  box-shadow: 0 8px 15px rgba(32, 41, 81, 0.15);
  border: none !important;
  color: #202951;
  min-width: 135px;
  height: 135px;
  border-radius: 12px;
  float: left;
  margin-bottom: 40px;
  margin-right: 40px;
  max-width: 135px;
  padding: 20px;
}

.heading-image img {
  max-width: 100%;
  height: auto;
}

.heading-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.td-content a.section-link {
  position: relative;
  display: block;
  margin-top: 15px;
  min-height: 120px;
  padding: 0 12px;
  border: 1px solid $YB_LIGHT_GRAY !important;
  background: $YB_LIGHT_GRAY;
  color: $YB_DARK_BLUE;
  text-decoration: none !important;
  border-radius: 12px;
  transition: all 0.3s;

  &.icon-offset {
    padding-left: 84px;
  }

  &:hover {
    color: $YB_ORANGE;
    border: 1px solid $YB_ORANGE !important;
    background: #fff;
  }

  .text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .caption {
    font-size: 16px;
    color: $YB_DARK_BLUE;
  }

  .icon {
    width: 60px;

    i {
      position: relative;
      top: 2px;
      font-size: 36px;
      color: $YB_ORANGE;

      &.fab,
      &.fas {
        top: -3px;
      }
    }
  }
}

.td-main {
  .td-content {
    [class^=col] {
      padding: 0 14px;
      margin-bottom: 12px;
    }

    a.section-link {
      padding: 25px 32px 30px;
      display: flex;
      margin-top: 15px;
      min-height: 120px;
      flex-direction: column;
      position: relative;
      background-color: #fff;
      background: $YB_LIGHT_GRAY;
      border: none !important;
      height: 180px;
      color: $YB_DARK_BLUE;
      text-decoration: none !important;
      border-radius: 12px;

      @include transition(0.125s);

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        height: 235px;
      }

      @media only screen and (max-width: 520px) {
        height: 235px;
      }

      &::after {
        content: " ";
        height: 100%;
        width: 100%;
        background: #fff;
        border-radius: 12px;
        bottom: 0 !important;
        left: 0 !important;
        box-shadow: 0 7px 16px rgba($YB_DARK_BLUE, 0.17);
        z-index: 1;
      }

      &::before,
      &::after {
        display: block;
        position: absolute;

        @include transition(0.15s);
      }

      &:hover {
        @include transition(0.3s);

        transform: scale(1.03, 1.03);
        z-index: 2000;

        &::before {
          color: rgba($YB_DARK_BLUE, 0.7);
          padding-right: 37px;

          @include transition(0.3s);
        }

        &::after {
          @include transition(0.3s);

          box-shadow: 0 19px 40px rgba($YB_DARK_BLUE, 0.17);
          border-radius: 15px;
        }
      }

      .head {
        position: relative;
        z-index: 2;

        .icon {
          float: left;
          margin-left: -10px;
          margin-top: -7px;
          width: 65px;

          i {
            font-size: 40px;
            margin: 10px 15px;
            line-height: 48px;
            margin-bottom: 0;
            display: block;
            height: 48px;
            text-align: center;
          }
        }

        .articles {
          color: #c0c3d3;
          font-weight: 400;
          margin-left: 78px;
          font-size: 13px;
          line-height: 18px;
        }

        .title {
          margin-left: 78px;
          font-weight: 600;
          font-size: 24px;
          line-height: 1.5;
          letter-spacing: -0.02em;
          color: $YB_DARK_MILD;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .body {
        padding-top: 14px;
        letter-spacing: -0.02em;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-height: 23px;        /* fallback */
        max-height: 59px;
        position: relative;
        font-weight: 300;
        z-index: 2;
        text-shadow: 0.15px 0.15px #2e3135, 0.15px -0.15px #2e3135;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          max-height: 84px;
        }

        @media only screen and (max-width: 520px) {
          max-height: 84px;
        }

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          letter-spacing: -0.025em;
        }
      }
    }
  }
}

.td-main {
  .td-content {
    a.section-link {
      &:hover {
        &::after {
          background-color: $YB_LIGHT_GRAY_BACK;
          box-shadow: 0 10px 18px rgba($YB_DARK_BLUE, 0.17);
        }
      }
    }
  }
}

body:not(.td-home) .td-main main {
  background: #fff;
}

.td-content .highlight {
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.td-content p {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.td-content pre {
  background: transparent !important;
  padding: 0 !important;
  margin-top: 20.3438px !important;
  position: relative !important;

  > code {
    font-size: 100%;
    display: block;
    width: 100% !important;
    line-height: 1.5;
    border-radius: 7px;
    padding: 12px 20px;
    margin: 0;
    border: 1px solid #dee0ea;
    background: $YB_LIGHT_GRAY !important;
    border-color: #dee0ea;
    white-space: pre !important;
    word-wrap: normal;
    word-break: keep-all;
  }

  button.copy {
    position: absolute;
    border: none !important;
    text-transform: uppercase;
    right: 0;
    top: 0;
    width: 42px;
    font-size: 12px;
    line-height: inherit;
    font-weight: 500;
    text-align: center;
    padding: 3px 8px;
    border-radius: 3px;
    margin: 12px 12px 0 0;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.2s;
    color: $YB_ORANGE;

    &:hover {
      background-color: $YB_ORANGE;
      color: #fff;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      font: normal normal normal 18px/1 "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00c";
      color: #fff;
      text-align: center;
      border-radius: 2px;
      width: 100%;
      height: 27px;
      line-height: 26px;
      opacity: 1;
      background-color: $YB_SUCCESS_COLOR !important;
    }

    &.unclicked::after {
      content: "";
      opacity: 0;
      -webkit-transition: opacity 0.6s cubic-bezier(0.375, 0.885, 0.6, 1) 0s;
      -moz-transition: opacity 0.6s cubic-bezier(0.375, 0.885, 0.6, 1) 0s;
      -o-transition: opacity 0.6s cubic-bezier(0.375, 0.885, 0.6, 1) 0s;
      transition: opacity 0.6s cubic-bezier(0.375, 0.885, 0.6, 1) 0s;
    }
  }
}

@media (min-width: 992px) {
  .td-max-width-on-larger-screens,
  .td-content > pre,
  .td-content > .highlight,
  .td-content > .lead,
  .td-content > h1,
  .td-content > h2,
  .td-content > ul,
  .td-content > ol,
  .td-content > p,
  .td-content > blockquote,
  .td-content > dl dd,
  .td-content .footnotes,
  .td-content > .alert {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .main-heading-with-version {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
  }

  .heading-image {
    min-width: 85px;
    height: 85px;
    max-width: 85px;
    padding: 10px;
  }
}

.td-content h2:not(:first-child) {
  margin-top: 3rem;
}

.td-content h3,
.td-content h4,
.td-content h5,
.td-content h6 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.td-content p a,
.td-content li:not(.nav-item) a,
.td-content td a {
  color: #f75821;

  i {
    color: #323a69;
    margin-left: 5px;
    font-size: 12px;
  }
}

.td-content p a:hover,
.td-content li:not(.nav-item) a:hover,
.td-content td a:hover {
  text-decoration: underline;
}

/******* For Color Theme Switcher **********/

:root {
  --theme-color: #f75821;
  --theme-dark-color: #ed3d00;
  --left_menu_bg: rgba(249, 176, 151, 0.05);
}

[data-theme="purple"] {
  --theme-color: #312965;
  --theme-dark-color: #5b5480;
  --left_menu_bg: #cecdd6;
}

.activity-timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  font-size: 16px;
  line-height: 19px;
  margin-right: 15px;
}

.switcher {
  background: #fff;
  border-radius: 15px;
  width: 60px;
  height: 30px;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
  border: 2px solid #f75821;
}

.switcher::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background: #f75821;
  border-radius: 100%;
  top: 5px;
  left: 5px;
  transition: all 0.2s linear;
}

.switcher.change::before {
  left: calc(100% - 20px);
  background: #312965;
}

.switcher.change {
  border-color: #312965;
}

div#main_navbar {
  display: flex;
  flex-flow: row-reverse;
}

@media (max-width: 767px) {
  body > header .navbar-expand #main_navbar {
    flex-flow: row-reverse !important;
  }

  .switcher {
    margin-left: 0;
  }
}
