.tab-content .tab-pane {
  max-width: 100%;

  pre {
    border: none;
  }
}

.custom-tabs {
  ul.tabs-name {
    display: flex;
    list-style: none;
    padding-left: 0;

    li::before {
      display: none;
      margin: 0;
    }

    li {
      font-size: 22px;
    }
  }

  &.tabs-style-1,
  &.tabs-style-2 {
    &::-webkit-scrollbar {
      display: none;
    }

    ul.tabs-name {
      //border-bottom: 1px solid #E9EEF2;
      margin-bottom: 6px;
      position: relative;
      padding: 0 8px 0;

      li {
        border-bottom: 0 solid #e9eef2;
        padding: 0;
        margin: 0 4px;
        font-size: 13px;
        line-height: 16px;
        color: $yb-font-dark;

        a {
          border: 0;
          color: inherit;
          font-size: inherit;
          text-decoration: none;
          display: block;
          margin-bottom: 13px;

          > .fa-icon,
          > i.fab {
            margin-right: 10px;
            width: 18px;
            height: 18px;
            font-size: 18px;
          }
        }

        &.active {
          border-bottom: 3px solid $yb-font-dark;
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        background: #e9eef2;
        height: 1px;
        width: 100%;
      }
    }
  }

  &.tabs-style-2 {
    ul.tabs-name {
      li {
        font-size: 15px;
        line-height: 22px;

        a {
          > {
            i.fa,
            .fa-icon,
            i.fas,
            i.fab {
              margin-right: 10px;
              font-size: 20px;
              width: auto;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .custom-tabs {
    width: calc(100%);
    overflow: auto;

    ul.tabs-name {
      white-space: nowrap;
    }

    &.tabs-style-1 {
      &::-webkit-scrollbar {
        display: none;
      }

      ul.tabs-name {
        li a {
          padding: 6px 10px;
        }
      }
    }

    &.tabs-style-2 {
      margin-bottom: 10px;

      ::-webkit-scrollbar {
        display: none;
      }

      ul.tabs-name {
        font-size: 0;
        margin-top: 20px;
      }
    }
  }
}
