main {
  .td-content {
    .table-responsive {
      padding: 1px;
      box-shadow: 0 0 0 1px #e9eef2;
      border-radius: 8px;
      overflow: auto;
      scrollbar-width: thin;
      margin: 20px 0;

      > table {
        margin: 0 !important;
        border: none;
        box-shadow: none;
      }

      &::-webkit-scrollbar-thumb {
        background: #b7c3cb;
        border-radius: 6px;
      }

      &::-webkit-scrollbar {
        height: 5px;
        width: 5px;
      }
    }

    table {
      box-shadow: 0 0 0 1px #e9eef2;
      border-radius: 6px;
      padding: 0;
      display: table;
      margin: 1em 0;
      width: 100%;

      @media (max-width: 1199px) {
        display: block;
      }

      &.no-alter-colors {
        display: block;
        overflow-x: auto;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
          height: 5px;
          width: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: #b7c3cb;
          border-radius: 6px;
        }
      }

      thead {
        border-color: #e9eef2;
        border-style: solid;
        border-width: 0 0 1px 0;
      }

      tbody {
        border-color: #e9eef2;
        border-style: solid;
        border-width: 0 0 1px 0;

        tr td {
          color: $yb-font-darkgray;
        }

        tr {
          &:nth-of-type(odd) {
            background-color: #fbfcfd;
          }
        }
      }

      tr {
        &:not(:last-child) {
          border-color: #e9eef2;
          border-style: solid;
          border-width: 0 0 1px 0;
        }

        th {
          border-width: 0;
          font-family: 'Inter';
          font-style: normal;
          color: #4e5f6d;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 12px;
          line-height: 24px;
          padding: 12.75px 15px;
        }

        td {
          border-width: 0;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          color: #4e5f6d;
          padding: 11.5px 16px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    .td-content {
      table {
        max-width: 828px;
        margin-left: 0 !important;
        overflow: hidden;
      }
    }
  }
}
