.custom-tabs.tabs-style-1 {
  &::-webkit-scrollbar {
    display: none;
  }

  ul.tabs-name {
    display: flex;
    list-style: none;
    padding-left: 0;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 6px;

    li::before {
      display: none;
      margin: 0;
    }

    li {
      padding: 5px 15px;
      border-bottom: 2px solid #e6e6e6;
      margin: 0 0 -2px 0;
      font-size: 22px;
    }

    li:hover,
    li.active {
      border-color: $YB_ORANGE;
    }

    li a {
      border: 0;
      color: inherit;
    }

    li:hover a {
      color: $YB_ORANGE;
    }

    li.active a {
      color: $YB_ORANGE;
    }
  }
}

.custom-tabs.tabs-style-2 {
  border-bottom: 3px solid var(--theme-color);
  margin-bottom: 30px;

  &::-webkit-scrollbar {
    display: none;
  }

  ul.tabs-name {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      padding: 0 20px;
      border: 0 solid #e6e6e6;
      margin: 0 0 0 0;
      font-size: 22px;

      a {
        border: 0;
        color: inherit;
        display: block;
        background: #fff;
        position: relative;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        transition: none;
      }

      a::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 4px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 48px 20px;
        border-color: transparent transparent #fff transparent;
        z-index: -1;
      }

      a::after {
        content: "";
        position: absolute;
        right: -20px;
        top: 4px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 48px 20px;
        border-color: transparent transparent #fff transparent;
        z-index: -1;
      }
    }

    li.active {
      a,
      a i {
        color: #fff;
        background: var(--theme-color);
      }

      a::before,
      a::after {
        border-color: transparent transparent $YB_ORANGE transparent;
      }
    }

    li:not(.active):hover {
      a {
        background: #fff6f4;
        color: $YB_ORANGE;
      }

      a::before,
      a::after {
        border-color: transparent transparent #fff6f4 transparent;
      }
    }

    li::before {
      display: none;
      margin: 0;
    }
  }
}

@media (max-width: 767px) {
  .custom-tabs.tabs-style-1 {
    width: calc(100%);
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    ul.tabs-name {
      white-space: nowrap;

      li a {
        padding: 6px 10px;
      }
    }
  }

  .custom-tabs.tabs-style-2 {
    width: calc(100%);
    overflow: auto;
    margin-bottom: 10px;

    ::-webkit-scrollbar {
      display: none;
    }

    ul.tabs-name {
      white-space: nowrap;
      font-size: 0;
      margin-top: 20px;
    }
  }
}
