.td-content {
  .custom-tabs {
    &::-webkit-scrollbar {
      display: none;
    }

    ul.tabs-name {
      display: flex;
      list-style: none;
      margin-bottom: 6px;
      position: relative;
      padding: 0 8px 0;

      li {
        border-bottom: 0 solid #e9eef2;
        padding: 0;
        margin: 0;
        font-size: 15px;
        line-height: 16px;
        color: $yb-font-dark;

        & + li {
          margin-left: 24px;
        }

        a {
          border: 0;
          color: inherit;
          font-size: inherit;
          text-decoration: none;
          display: block;
          margin: 21px 0;
          padding: 0 5px;

          &:hover {
            text-decoration: none;
          }

          > {
            img {
              border: none;
              margin: 0 5px 0 0;
              border-radius: 0;
            }

            .fa-icon,
            i.fab {
              margin-right: 7px;
              font-size: 20px;
              width: auto;
              height: 20px;
            }
          }
        }

        &.active {
          border-bottom: 3px solid $yb-font-dark;
          z-index: 1;
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        background: #e9eef2;
        height: 1px;
        width: 100%;
      }
    }

    & ~ .custom-tabs {
      ul.tabs-name {
        li {
          font-size: 13px;
          line-height: 16px;

          & + li {
            margin-left: 8px;
          }

          a {
            > {
              i.fa,
              .fa-icon,
              i.fas,
              i.fab {
                margin-right: 10px;
                width: 18px;
                height: 18px;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  .nav-tabs {
    margin-bottom: 16px;
    border: 0;

    > li {
      margin-bottom: 0;

      ~ li {
        margin: 0 0 0 8px;
      }

      .nav-link {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        border: 0;
        color: $yb-font-dark;
        padding: 8px 16px;

        &.active {
          color: $yb-font-dark;
          background: #e9eef2;
          border-radius: 8px;
        }
      }
    }

    & + .tab-content {
      .tab-pane {
        background: rgba(240, 244, 247, 0.2);
        border: 1px solid #e9eef2;
        border-radius: 8px;
        padding: 25px 27px;
      }
    }
  }
}

@media (max-width: 767px) {
  .custom-tabs {
    width: calc(100%);
    overflow: auto;

    ul.tabs-name {
      white-space: nowrap;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    ul.tabs-name {
      li a {
        padding: 6px 10px;
      }
    }

    &.tabs-style-2 {
      margin-bottom: 10px;

      ::-webkit-scrollbar {
        display: none;
      }

      ul.tabs-name {
        font-size: 0;
        margin-top: 20px;
      }
    }
  }
}

.tab-content .tab-pane {
  max-width: 100%;

  pre {
    border: none;
  }
}
