$primary: #fe6f42;
$secondary: #312965;
$google_font_name: "Source Sans Pro";
$google_font_family: "Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i";

$YB_LIGHT_GRAY_BACK: #f5f6f8;
$YB_LIGHT_GRAY: #f7f8f9;
$YB_LIGHT_GRAY_2: #c7c7c7;
$YB_DARK: #202951;

$YB_ORANGE: #f75821;
$YB_DARK_ORANGE: #db5435;
$YB_SUCCESS_COLOR: #48ab52;

$YB_DARK_MILD: #2d365d;
$YB_DARK_BLUE: #202951;
$YB_LIGHT_BLUE: #c7c9d8;
