/******* Container Styling **********/
.left-menu-scrolling .td-main {
  .td-sidebar:not(.close-bar) {
    left: 300px;
  }

  aside.td-sidebar .left-sidebar-wrap {
    transition: none !important;
  }
}

.td-main {
  border-top: 1px solid #e9eef2;
  background: #fff;
  display: flex;
  position: relative;
  padding-left: 300px;
  transition: padding-left 500ms ease-in-out;

  #dragbar {
    background-color: #b2ccdd00;
    height: 100%;
    width: 10px;
    cursor: e-resize;
    position: absolute;
    left: 300px;
    top: 0;
    margin-left: -10px;

    @media (max-width: 1445px) {
      display: none;
    }
  }

  .td-sidebar:not(.close-bar) {
    transition: none;
    border-right: 1px solid #e9eef2;
    max-width: 300px;
    margin-left: -300px;
    min-width: 300px;
    z-index: 999;
    @media(max-width:767px){
      z-index: 10000;
    }
  }

  .content-parent {
    justify-content: center;
    width: calc(100% - 300px);
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1080px;
    &.no-right-sidebar {
      overflow: hidden;
    }
    
    @media(max-width:767px){
      &:hover{
        z-index:1000;
      }
    }

    @-moz-document url-prefix() {
      max-width: calc(100% - 270px);
    }

    &.search-content {
      .content-area {
        flex-grow: 1;
      }
    }

    .content-child {
      width: 1080px;
      max-width: 100%;
      display: flex;
      min-height: 100vh;
      flex-flow:row wrap;
      >div{
        display:flex;
        max-width:100%;
        min-height: calc(100vh - 170px);
      }
    }
  }

  .td-sidebar-toc {
    background: transparent;
    border: 0;
  }
}

.td-outer {
  position: relative;
  padding: 0;
}

@media (min-width: 1200px) {
  .td-main {
    margin: 0 auto;
    width: 100%;
    max-width: 100% !important;

    main {
      padding-left: 0;
      padding-right: 0;
    }

    .td-sidebar:not(.close-bar) {
      width: 300px;
      margin-right: 0;
      flex: none;

      @media (max-width: 1380px) {
        width: 280px;
      }

      + {
        main {
          flex: none;
          max-width: calc(100% - 60px) !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    .td-sidebar-toc {
      max-width: 100%;
      width: 252px !important;
      padding: 0;
      padding-left: 40px;
      padding-top: 80px;
      background: transparent;
      border: 0;

      + {
        main {
          flex: none;
          width: 828px;
          max-width: calc(100% - 252px) !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .td-main {
    .td-sidebar:not(.close-bar) {
      + {
        main {
          max-width: calc(828px + 60px + 110px) !important;
        }
      }
    }
  }
}

@media (max-width: 1380px) and (min-width: 1200px) {
  .td-main {
    .content-child {
      justify-content: flex-end;

      .td-sidebar-toc {
        width: 25% !important;
        padding: 50px 20px 0;
      }

      .td-sidebar-toc + main {
        width: 75%;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 1380px) {
  .td-main {
    justify-content: space-between;
    padding-left: 0;

    .td-sidebar:not(.close-bar) {
      margin-left: 0;
      min-width: 11px;
    }

    .content-parent {
      min-width: 1px;
    }
  }
}

@media (max-width: 1199px) {
  .td-main {
    .content-parent {
      max-width: calc(100% - 250px);
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 0;

      .content-child {
        max-width: 100%;
        justify-content: center;
      }

      main {
        width: 100%;
        max-width: 828px;
      }
    }
  }
}

@media (max-width: 991px) {
  .td-content .row .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .td-main {
    flex-flow: column;

    .td-sidebar:not(.close-bar) {
      width: 100%;
      max-width: 100%;
      border-right: 0 solid;
      padding: 0 !important;
    }

    .content-parent {
      width: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0 15px;
      justify-content: flex-start;
      overflow: hidden;

      .content-child {
        padding-left: 0;
      }
    }
  }
}
