.links-panels {
  margin: 48px 0;
  font-family: Inter;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.links-panels .inner-container {
  border-radius: 8px;
  border: 1px solid #E9EEF2;
  background: #FFF;
}
.links-panels .head p {
  color: #97A5B0;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.links-panels .head p b {
  font-weight: 600;
  color: #6D7C88;
}
.links-panels .head {
  padding: 9px 16px;
  border-bottom: 1px solid #E9EEF2;
}
.links-panels .body {
  padding: 12px 16px;
  display: flex;
  gap: 8px 24px;
}

.links-panels.vertical .inner-container .body {
  flex-flow: column;
  align-items: flex-start;
}

.links-panels.vertical .inner-container .head p {
  line-height: 1.4;
}
.links-panels.vertical .inner-container {
  max-width: 100%;
  width: 420px;
}

.links-panels .body a {
  padding: 6px 12px;
  display: flex;
  height: 30px;
  gap: 4px;
  position: relative;
}

.links-panels .body a:not(:hover):not(:first-child) .icon img{
  filter: brightness(0) invert(30%);
}
.links-panels .body a:first-child .icon img{
  filter: brightness(0) invert(30%);
}
.links-panels .body a .icon {
  width: 16px;
  height: 16px;
  line-height: 0;
}
.links-panels .body a .icon svg{
  width: 16px;
  height: 16px;
}
.links-panels .body a .title {
  color: #6D7C88;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  white-space: nowrap
}
.links-panels .body a:not(:first-child):hover .icon svg path{
  fill: #507CE1;

}
.links-panels .body a  .icon svg path{
  fill: #6D7C88;
}

.links-panels .body a:not(:first-child):hover .title {
  color: #507CE1;
}

.links-panels .body a:first-child {
  border-radius: 6px;
  border: 1px solid #E9EEF2;
  background: #F7F9FB;
  padding-right: 8px;
}
.links-panels .body a:first-child .title {
  color: #4E5F6D;
  font-size: 11.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.links-panels .body .bookmark-icon {
  width: 12.1px;
  height: 22.1px;
  display: inline-block;
  margin-top: -7px;
  margin-left: 3.4px;
}
    