// Kapa modal Styling, used in JS.
.mantine-SegmentedControl-label {
	color: #4E5F6D;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	display: flex;
	padding: 4px 12px 4px 8px;
	align-items: center;
	height: 24px;
	gap: 4px;
}

.mantine-Image-imageWrapper img {
	border-radius: 0;
}

.mantine-SegmentedControl-root span {
	display: none;
}

.mantine-SegmentedControl-root {
	padding: 0;
	overflow: visible;
}

.mantine-SegmentedControl-controlActive {
	gap: 4px;
	background: #fff;
}

.mantine-SegmentedControl-control:not(:last-child) label:before {
	content: "";
	width: 24px;
	height: 24px;
	background: url(/icons/ai-icon.svg) center no-repeat;
	display: inline-block;
	filter: grayscale(1) brightness(1.2);
}

.mantine-SegmentedControl-control:not(:last-child).mantine-SegmentedControl-controlActive label:before {
	filter: none;
}

.mantine-SegmentedControl-control:not(:last-child).mantine-SegmentedControl-controlActive label {
	background: linear-gradient(273deg, #ED35EC 5.14%, #ED35C5 38.93%, #7879F1 48.17%, #5E60F0 98.9%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}

.mantine-SegmentedControl-control:last-child.mantine-SegmentedControl-controlActive label {
	color: #2B59C3;
	font-weight: 600;
}

.mantine-SegmentedControl-controlActive {
	border-radius: 8px;
	box-shadow: 0 0 0 1px #7879F1;
}

.mantine-SegmentedControl-controlActive label {
	border-radius: 8px;
	border: 0;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: 16px;
	display: flex;
	gap: 4px
}

.mantine-SegmentedControl-control:last-child label {
  padding: 4px 12px;
}
