.td-content {
  h1 > .tag {
    margin: 0 10px;
  }

  .tag {
    display: inline-flex;
    padding: 4px 6px;
    font-size: 11.5px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 6px;
    text-decoration: none;
    background: #E8E9FE;
    color: #4F4FA4;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -2px;

    &.early-access {
      background: #E8E9FE;
      color: #4F4FA4;
    }

    &.tech-preview {
      background: #ffeec8;
      color: #9D6C00;
    }

    &.general-availability {
      background: #CDEFE1;
      color: #097345;
    }

    &.restart-needed {
      background: #E8E9FE;
      color: #4F4FA4;
    }

    &.t-server {
      background: #E5EDFF;
      color: #2B59C3;

      &::before {
        content: "";
        background: url(/icons/t-server.svg) center no-repeat;
        width: 18px;
        height: 18px;
        margin: -1px 4px -1px 0px;
      }
    }

    &.deprecated {
      background: #FEEDED;
      color: #DA1515;
    }

    &.ysql {
      background: #CBCCFB;
      color: #30307F;
    }

    &.ycql {
      background: #E5EDFF;
      color: #2B59C3;
    }

    &:hover {
      text-decoration: none !important;

      .popup-details {
        opacity: 1;
        visibility: visible;
      }
    }

    .popup-details {
      border-radius: 8px;
      border: 1px solid #E9EDF0;
      padding: 10px;
      background: #FFF;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
      color: #4E5F6D;
      width: 165px;
      font-size: 11.5px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      position: absolute;
      top: 0;
      left: calc(100% + 10px);
      opacity: 0;
      visibility: hidden;
      transition: visibility, opacity 0.3s ease-in-out;
      transform: translate(0, calc(-50% + 10px));
      transform-origin: center;
      white-space: normal;
      text-transform: none;
      z-index: 2;

      @media(max-width: 991px) {
        min-width: 150px;
        width: calc(100% + 10px);
        top: calc(100% + 5px);
        left: -5px;
        transform: translate(0, 0);
        transform-origin: center;
      }

      &::before {
        position: absolute;
        left: -13px;
        content: "";
        display: inline-block;
        width: 20px;
        background: transparent;
        height: 100%;
        top: 0;
        z-index: -40;
        @media(max-width: 991px) {
          left: -10px;
          top: -10px;
          width: 100%;
        }
      }
    }
  }

  .tags-row {
    margin-bottom: 16px;
    display: flex;
    flex-flow: wrap;
    gap: 6px;
    align-items: center;
    position: relative;
    z-index: 2;

    p {
      margin: 0;
      line-height: 1;
    }

    .tag {
      top: 0;
    }
  }
}

.tag.release {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  height: 20px;
  color: #9D6C00;
  display: inline-block;
  background: #FFEEC8;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 0 6px;
  border: 0 !important;

  &.preview {
    background: #FFEEC8;
    color: #9D6C00;
  }

  &.sts {
    background: #E8F6B6;
    color: #097345;
  }

  &.lts {
    background: #CDEFE1;
    color: #097345;
  }

  &:hover {
    .popup-details {
      opacity: 1;
      visibility: visible;
    }
  }

  .popup-details {
    border-radius: 8px;
    border: 1px solid #E9EDF0;
    padding: 10px;
    background: #FFF;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    color: #4E5F6D;
    width: 165px;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    opacity: 0;
    visibility: hidden;
    transition: visibility, opacity 0.3s ease-in-out;
    transform: translate(0, calc(-50% + 10px));
    transform-origin: center;
    white-space: normal;
    text-transform: none;

    &::before {
      position: absolute;
      left: -13px;
      content: "";
      display: inline-block;
      width: 20px;
      background: transparent;
      height: 100%;
      top: 0;
      z-index: -40;
    }
  }

  &.lts {
    .popup-details {
      width: 150px;
    }
  }
}

.is-safari {
  .td-content {
    @media(min-width: 2500px) {
      .tag.release {
        line-height: 0.9;

        .popup-details {
          width: 200px;
        }
      }
    }
  }
}

.dropdown-list .dropdown-toggle:hover,
.dropdown-list .dropdown-menu .dropdown-item:hover {
  .popup-details {
    opacity: 1;
    visibility: visible;
  }
}
