html.no-js {
  body.yb-page-style {
    .cloud-laptop {
      margin-top: 48px;
    }

    .border {
      border: 1px solid #d7dee4 !important;
    }

    .two-side {
      display: flex;
      border-radius: 8px;
      height: 100%;
      overflow: hidden;
      position: relative;

      &:hover {
        background: #f2f6ff;
        border: 2px solid #cbdbff;
        border-radius: 8px;
      }

      .body {
        padding: 24px;
        padding-right: 0;
        width: 97%;
        display: flex;
        flex-flow: wrap;
        flex-flow: column;
        align-items: flex-start;

        @media (max-width: 1199px) {
          position: relative;
          z-index: 1;
        }
      }

      .text-link {
        margin-top: auto;
        margin-bottom: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #fff;
        background: #7879f1;
        border-radius: 8px;
        padding: 8px 15px 8px 12px;
        text-transform: capitalize;

        &::after {
          content: '';
          width: 13px;
          height: 9px;
          margin-left: 10px;
          margin-right: 8px;
          background: url(/images/homepage/arrow-white.svg) center no-repeat;
          background-size: 100% auto;
          display: inline-block;
          margin-top: 1px;
        }

        &:hover {
          background: #5d5fef;
        }
      }

      .image {
        display: flex;

        @media (max-width: 1199px) {
          position: absolute;
          height: 100%;
          right: 0;
          width: 130px;
          z-index: 0;
          align-items: flex-end;
        }

        .icon,
        img {
          height: auto;
          width: auto;
          margin-top: auto;
          margin-bottom: 0;
        }
      }
    }

    .three-box-row {
      margin-top: 28px;

      .row {
        @media (min-width: 992px) {
          & {
            margin-right: -8px;
            margin-left: -8px;
          }

          [class^=col] {
            padding: 0 8px;
          }
        }
      }

      .text-link {
        margin-top: auto;
        margin-bottom: 0;
        margin-right: auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: inline-block;
        color: #2b59c3;

        &::after {
          content: '';
          width: 13px;
          height: 9px;
          margin-left: 10px;
          margin-right: 5px;
          background: url(/images/homepage/arrow-blue.svg) center no-repeat;
          display: inline-block;
          margin-top: 2px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    main.col-xl-10 {
      .two-side {
        .body {
          width: 75%;
        }
      }
    }

    .box-top {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      > span {
        color: #0b1117;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
    }

    .body-content {
      font-size: 14px;
      line-height: 20px;
      color: #25323d;
      max-width: 332px;
      margin-bottom: 16px;
    }

    .box.border {
      border-radius: 8px;
      height: 100%;
      overflow: hidden;

      &:hover {
        background: #f2f6ff;
        border: 1px solid #cbdbff !important;
        border-radius: 8px;
      }

      .image {
        height: 122px;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
          object-position: center;
        }
      }
    }

    main.col-md-9 {
      .box.border {
        .image {
          height: 160px;
        }
      }

      .other-content {
        height: calc(100% - 160px);
      }
    }

    .other-content {
      padding: 24px;
      height: calc(100% - 122px);
      display: flex;
      flex-flow: column;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 10px;
      }

      li {
        margin-bottom: 8px;
        margin-top: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .heading {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #0b1117;
      margin-bottom: 16px;
    }

    .tag-line {
      font-weight: 600;
      font-size: 12px;
      line-height: 21px;
      color: #97a5b0;
      margin-bottom: 8px;
    }

    .detail-copy {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #25323d;
      margin-bottom: 15px;
    }

    .icon {
      margin-bottom: 16px;
      width: 40px;
      height: 40px;
    }
  }

  @media (max-width: 767px) {
    body.yb-page-style {
      .box.border {
        .image {
          height: 122px;
        }
      }

      .box-top {
        > span {
          min-width: calc(100% - 90px);
        }
      }
    }
  }

  @media (max-width: 767px) AND (min-width: 500px) {
    body.yb-page-style {
      .three-box-row {
        div.col-12 {
          max-width: 50%;
          margin-bottom: 24px;
        }

        h2.col-12 {
          min-width: 100%;
        }
      }
    }
  }

  @media (max-width: 767px) AND (min-width: 499px) {
    body.yb-page-style {
      .two-side {
        flex-flow: column;

        .body {
          width: 100%;
        }

        .image {
          display: flex;
          margin-left: auto;

          img {
            max-width: 100%;
            height: auto;
            margin-top: -49px !important;
          }
        }
      }
    }
  }
}
