body {
  .resources {
    margin-bottom: 40px;

    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;
      gap: 15px;
      font-size: 14px;
    }

    a {
      border-radius: 5px;
      padding: 4px 5px;
      color: #4e5f6d !important;

      &.grey-bg {
        background: #f0f4f7;
      }

      &.purple-bg {
        background: #ededfd;
      }
    }
  }
}
