
.td-content {
  h1 {
    .tag-beta {
	  //display          :inline-block;
	  text-decoration  :none;
	  //border           :none;
	  height           :30px;
	  width            :70px;
	  ///*color            :#f0f9ff;*/
	  ///*background-color :#35a3ff;*/
	  //border-radius    :4px;
	  text-transform   :uppercase;
	  //font-size        :16px;
	  //line-height      :30px;
	  margin-left      :20px;
	  margin-top       :-6px;

	  background: #7879F1;
	  border: 1px solid #7879F1;
	  border-radius: 6px;
	  font-weight: 500;
	  font-size: 13px;
	  line-height: 16px;
	  color: #FFFFFF;
	  display: inline-flex;
	  justify-content: center;
	  align-items: center;

      &:hover,
      &:focus,
      &:active {
		background:rgba(120,121,241,.8);

		border: none;
      }
    }
  }

  p {
    margin: 0 0 24px 0;
  }

  h1[id],
  h2[id],
  h3[id],
  h4[id],
  h5[id] {
    > a {
      &::after {
        content: "";
        background: url(/icons/Link.svg) center no-repeat;
        height: 15px;
        width: 15px;
        display: inline-block;
      }

      svg {
        display: none;
      }
    }
  }

  /*
  @media(min-width:768px){
    h4[id]{
      &:not(:first-child){
        margin: 2rem 0 1rem 0;
      }
      &:before{
        margin-top: -2rem;
        height: 2rem;
      }
    }
  }
  */
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    color: $yb-font-dark;

    &:not(:first-child) {
      margin: 4.5rem 0 1rem 0;
    }
  }

  h1,
  .h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 16px;

    & + p {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      color: $yb-font-darkgray;
    }

    &+ {
      .lead {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: $yb-font-gray;
		margin-bottom: 0;
      }
    }
  }

  header.article-meta + p {
    //font-size: 20px;
    //font-weight: 400;
    //line-height: 28px;
    //color: $yb-font-gray;
  }

  h2,
  .h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 16px;
    color: $yb-font-dark;

    &+ {
      .lead {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $yb-font-gray;
      }
    }
  }

  .section-link {
    .head {
      .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 16px;
        color: $yb-font-dark;
      }

      &+ {
        .body {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: $yb-font-gray;
        }
      }
    }
  }

  h3,
  .h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: $yb-font-6D7C88;

    &:not(:first-child) {
      margin: 2rem 0 1rem 0;
    }
  }

  h4,
  .h4,
  h5,
  .h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;

    &:not(:first-child) {
      margin: 2rem 0 1rem 0;
    }
  }
}
