.hidden {
  display: none !important;
}

body {
  .ask-ai-top {
    margin-left: 32px;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 19px;
    text-transform:lowercase;

    *:not(span) {
      position: relative;
      z-index: 1;
    }

    >span.tritiery-btn:not(.btn-priority) {
      font-style: normal;
      gap: 8px;
      cursor: pointer;
      display: flex;
      padding: 4px 15px 4px 12px;
      background: linear-gradient(91deg, #ED35EC 3.97%, #ED35C5 33%, #5E60F0 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      text-transform:none;
      border-radius: 8px;

      >img {
        width: 18px ;
        margin-left: 0;

        @media(max-width:419px) {
          display: none;
        }
      }

      &:hover {
        border: 1px solid #7879F1;
      }

      @media(max-width:419px) {
        padding: 0 10px;
      }

      @media(max-width:355px) {
        padding: 0 6px;
      }
    }

    @media (max-width: 1131px) and (min-width: 992px) {
      >span.tritiery-btn:not(.btn-priority) {
        padding-right: 10px;
      }
    }

    @media (max-width:767px) {
      font-size: inherit;
      display: flex;
      flex-flow: row-reverse;
      margin: 0 32px 0 auto;
      animation: none;
      transform: translateX(0);
      gap: 16px;

      >span.tritiery-btn:not(.btn-priority) {
        transform: translateX(0);
        animation: none;
      }
    }

    @media (max-width: 550px) {
      >span.tritiery-btn:not(.btn-priority) > img {
        display: block;
      }
    }

    @media (max-width: 450px) {
      gap: 0;
      font-size: 0px;
    }

    @media(max-width:419px) {
      margin: 0 10px 0 auto;
      white-space: nowrap;
    }
    @media(max-width:360px) {
      margin: 0 5px 0 auto;
    }
  }
}

@media(max-width:419px) {
  .navbar-brand img {
    width: 150px
  }
}
