
.td-content {
  h1 {
    .tag-beta {
      display: inline-block;
      text-decoration: none;
      border: none;
      height: 30px;
      width: 70px;
      color: #f0f9ff;
      background-color: #35a3ff;
      border-radius: 4px;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      margin-left: 20px;
      margin-top: -6px;

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        opacity: 0.8;
        border: none;
      }
    }
  }

  p {
    margin: 0 0 24px 0;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    color: $yb-font-dark;

    &:not(:first-child) {
      margin: 4.5rem 0 1rem 0;
    }
  }

  h1,
  .h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;

    & + p {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      color: $yb-font-darkgray;
    }
  }

  header.article-meta + p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: $yb-font-darkgray;
  }

  h2,
  .h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  h3,
  .h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: $yb-font-darkgray;

    &:not(:first-child) {
      margin: 2rem 0 1rem 0;
    }
  }

  h4,
  .h4,
  h5,
  .h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}
