# Routes
# This file defines all application routes (Higher priority routes first)
# ~~~~
{{! Yugabyte: Removed
GET     /api                        api.controllers.ApiDocController.api
}}

{{#apiInfo}}
{{#apis}}
# Functions for {{{baseName}}} API
{{#operations}}
{{#operation}}
{{#vendorExtensions.x-yba-api-audit}}
{{#noAudit}}
+ forceNoAudit
{{/noAudit}}
{{/vendorExtensions.x-yba-api-audit}}
{{httpMethod}}     {{{contextPath}}}{{{path}}}                     {{apiPackage}}.{{classname}}Controller.{{operationId}}(request: Request{{#hasPathParams}}, {{/hasPathParams}}{{#pathParams}}{{paramName}}: {{#isUuid}}java.util.UUID{{/isUuid}}{{^isUuid}}{{{dataType}}}{{/isUuid}}{{^-last}}, {{/-last}}{{/pathParams}})
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

{{!
# Map static resources from the /public folder to the /assets URL path
# GET /assets/*file           controllers.Assets.at(file)
# GET /versionedAssets/*file  controllers.Assets.versioned(file)
}}
# Uncomment this line in routes.mustache if you want /api/v2/ to call back to v1 routes
# for paths that are not implemented in v2 here
# -> / v1.Routes
