/bin
build
logs
target
.bsp
.idea
.idea_modules
jacoco.exec
/.classpath
/.project
/.settings
/RUNNING_PID

# VIM/emacs stuff
*.swp
*~
core*

oprofile_data
.metadata/
*.iml

app/.DS_STORE
.DS_Store
app/views/.DS_Store

node_modules/
react/node_modules/
*bundle.js
react/public/bundle.js
react/.idea/

npm-debug.log
react/npm-debug.log

# TODO: Investigate why following file gets generated even when evolutions is disabled
conf/*
/swagger/conf/*

src/main/public/*
src/main/resources/version_metadata.json
src/universal/ybc/*
*.pyc
docker/yugaware/*.yml

ui/.env
ui/public/map/
ui/coverage/
ui/junit.xml

.session.vim*

src/public/*

client/*/generated
lib

devops/pex/pexEnv

# This is for people using pyenv with a local version for YBA set.
.python-version
