build
logs
target
devops/python_virtual_env
.idea
.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# VIM/emacs stuff
*.swp
*~
core*

oprofile_data
.metadata/
*.iml

app/.DS_STORE
.DS_Store
app/views/.DS_Store

node_modules/
react/node_modules/
*bundle.js
react/public/bundle.js
react/.idea/

npm-debug.log
react/npm-debug.log

conf/*
src/main/public/*
*.pyc
docker/yugaware/*.yml

ui/public/map/
ui/coverage/

.session.vim*

src/public/*
