.overall-metrics-by-origin {
  .tab-content {
    border: 1px solid #E5E5E9;
    border-radius: 0px 8px 8px 8px;
    padding: 16px 16px 16px 16px !important;
  }

  .nav-tabs {
    @media screen and (min-width: 768px) {
      >li>a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
}
