setuptools==53.0.0         # Python development tools
wheel==0.37.1              # Python development tools
charset_normalizer==2.0.12 # Compatible with requests 2.27.1
idna==2.10                 # Last version supporting Python 3.6
jinja2==3.0.3              # Last version supporting Python 3.6
markupsafe==2.0.1          # Latest version supporting Python 3.6
urllib3==1.26.16           # Last version supporting Python 3.6
requests==2.27.1           # Compatible with Python 3.6+
pyyaml==6.0.1              # Compatible with Python 3.6+
certifi==2022.12.7         # Compatible with Python 3.6+