@import "../../uikit/common";

.cloud-config {
  position: relative;

  &__title {
    font-size: 22px;
    font-weight: 600;
    color: $YB_TEXT_2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
  }

  &__line {
    border-top: 1px solid $YB_BORDER_1;
    width: 100%;
    margin-left: 20px;
  }

  &__reset {
    color: $YB_CTA;
    cursor: pointer;
    font-size: 12px;
    user-select: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__row {
    margin-top: 22px;
    display: flex;
    align-items: center;
  }

  &__label {
    color: $YB_TEXT_2;
    font-size: 16px;
  }

  &__replication-factor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
  }

  &__number-input {
    width: 120px;
  }

  &__replica-placement {
    display: inline-block;
    margin-left: 36px;
    margin-right: 24px;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    background-color: $YB_PAGE_BACKGROUND;
    border-left: 4px solid $YB_CTA;
    font-size: 16px;
  }
}
