@import '../../_style/colors';

.toaster-container {
	font-size: 14px;
	box-sizing: border-box;
	position: fixed;
	z-index: 999
}

.toast-success {
  background: $YB_SUCCESS_COLOR !important;
}

.toast-error {
  background: $YB_FAIL_COLOR !important;
}

.toast-warning {
  background: $YB_WARNING_COLOR !important;
}

.top-right {
	top: 12px;
	right: 12px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}

.bottom-right {
	bottom: 12px;
	right: 12px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}

.top-left {
	top: 12px;
	left: 12px;
	transition: transform .6s ease-in;
	animation: toast-in-left .7s;
}

.bottom-left {
	bottom: 12px;
	left: 12px;
	transition: transform .6s ease-in;
	animation: toast-in-left .7s;
}

.toaster {
	background: $YB_WHITE;
	transition: .3s ease;
	position: relative;
	pointer-events: auto;
	overflow: hidden;
	margin: 0 0 6px;
	padding: 30px;
	margin-bottom: 15px;
	width: 300px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 10px $YB_DARKER_GRAY;
	color: $YB_VIOLET_DARK;
	opacity: 1;
	background-position: 15px;
  background-repeat: no-repeat;
  
  &:hover {
    box-shadow: 0 0 12px $YB_WHITE;
    opacity: 0.9;
    cursor: pointer
  }
}

.toaster-title {
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 6px;
  width: 300px;
  height: 18px;
}

.toaster-message {
	margin: 0;
	text-align: left;
  height: auto;
  margin-left: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toaster-icon {
  float: left;
  margin-right: 15px;
}

.toast {
  width: 365px;
	color: $YB_WHITE;
	padding: 20px 15px 10px 10px;
}

.toaster-container button {
	position: relative;
	right: -.3em;
	top: -.3em;
	float: right;
	font-weight: 700;
	color: $YB_WHITE;
	outline: none;
	border: none;
	text-shadow: 0 1px 0 $YB_WHITE;
	opacity: .8;
	line-height: 1;
	font-size: 16px;
	padding: 0;
	cursor: pointer;
	background: 0 0;
  border: 0;
  width: auto !important;
}

@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
		
	}
	to {
		transform: translateX(0);
	}
}