.support-bundle-custom-date-range {
  color: grey;
  padding-right: 5px;
  margin-right: 12px;

  .rw-widget-picker {
    min-width: 150px !important;
    max-width: 150px !important;
  }

  .rw-select {
    width: max-content !important;
    text-align: center;
  }
}
