@import '../components/universes/UniverseDetail/UniverseDetail';

#administration-ha-subtab {  
  .tab-content {
    padding-top: 20px;
  }
}

#administration-main-tabs .beta:after {
  content: 'BETA';
  padding: 2px 6px;
  background-color: $YB_ORANGE;
  border-radius: 4px;
  color: $YB_BACKGROUND;
  font-weight: 700;
  font-size: 12px;
  margin-left: 10px;
}
