
.progess-gauge {
    vertical-align: top;
    background: #fff;
    border: 1px solid #abd9ea;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
    margin-top: 10px;
}

.progess-gauge > canvas {
    width: 80% !important;
    height: auto !important;
}
