@import com.yugabyte.yw.forms._


@(universeForm: Form[UniverseFormData])

<div id="destroy-universe-dialog" class="modal fade in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Destroy Universe:
          <mark>@universeForm.get().universeName</mark>
        </h4>
      </div>
      <div class="modal-body">
        Are you sure you want to destroy. All the data would be lost!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-confirm" data-uuid="@universeForm.get().universeUUID">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#destroy-universe-dialog').on('click', '.btn-confirm', function(e) {
  var universeUUID = $(this).data('uuid');
  var customerUUID = $("#customerUUID").val();
  var modalElement = $(e.delegateTarget);

  $.ajax({
    url: "/api/customers/" + customerUUID + "/universes/" + universeUUID,
    type: 'DELETE',
    success: function(response) {
      modalElement.modal('hide');
      window.location.href = "/";
    }
  });
});

</script>
