@import com.yugabyte.yw.forms._
@import com.yugabyte.yw.models._
@import helper._

@(universeForm: Form[UniverseFormData])

@implicitField = @{ FieldConstructor(formFieldTemplate.f) }

<div id="edit-universe-dialog" class="modal fade in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Edit Universe</h3>
      </div>
      <div class="alert alert-danger">
        <strong>Error:</strong>
      </div>
      <div class="modal-body">
        <form id="instanceForm">
          <fieldset>
            @inputText(universeForm("universeName"), 'class -> "form-control", '_label -> "Universe Name", 'readonly -> "")
            @select(universeForm("provider"), options(Seq("")), 'class -> "form-control", '_label -> "Cloud Provider", 'disabled -> "" )
            @select(universeForm("regionList"), options(Seq("")), 'class -> "form-control", '_label -> "Region",
            'multiple -> "multiple")
            <a data-toggle="collapse" data-parent="#accordion" href="#advanceOptions" class="" aria-expanded="false">Advanced</a>
            <div id="advanceOptions" class="panel-collapse collapse" aria-expanded="false">
              <div class="form-group checkbox">
                <label>
                  <input class="" type="checkbox" name="isMultiAZ" value=true checked>Multi-AZ Capable
                </label>
              </div>
              <!-- TODO: Add instance type (c3.xlarge, etc) derive it from the db -->
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btn-confirm" >Update</button>
      </div>
    </div>
  </div>
</div>

<script>

$('#edit-universe-dialog').on('click', '.btn-confirm', function(e) {
  var customerUUID = $("#customerUUID").val();
  var universeUUID = $("#universeUUID").val();

  $(".alert").hide();

  $.ajax( {
    url: "/api/customers/" + customerUUID + "/universes/" + universeUUID,
    type: 'PUT',
    data: $('#instanceForm').serialize(),
    success: function(response) {
      window.location.href = "/";
    },
    error: function(response) {

      if (response.status == 400)
        parseFormErrorResponse(response);
      else
      {
        // TODO: parse the error and show it
        $(".alert").append(response.responseText).show();
      }
    }
  });
  return false;
});
</script>
