<div id="keyboard-shortcut-dialog-dialog" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Keyboard shortcuts</h4>
      </div>
      <div class="modal-body">
        <table class="table borderless" summary="Keyboard Shortcuts">
          <tr class="shortcut">
            <td><b class="shortcut-key">c</b></td>
            <td class="shortcut-label">Create Instance</td>
          </tr>
          <tr class="shortcut">
            <td><b class="shortcut-key">p</b></td>
            <td class="shortcut-label">Edit Profile</td>
          </tr>
          <tr class="shortcut">
            <td><b class="shortcut-key">d</b></td>
            <td class="shortcut-label">Dashboard</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
