.recommendationBox {
  border: 1px solid #E9EEF2;
  padding: 20px;
  background: rgba(243, 246, 249, 0.5);
  border-radius: 8px;
  margin: 24px 0 24px 0;
  justify-content: center;
  align-items: center;

  .recommendationBoxContent {
    display: flex;
    margin-bottom: 12px;
    font-weight: 600;
  }
  
  .learnPerfAdvisor {
    color: #0B1117;
    display: flex;
    align-items: center;
    margin-left: auto;
    text-decoration: underline;
  
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: black;
    }
  
    &:visited {
      color: black;
    }
  }
  
  .learnPerfAdvisorText {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.25;
    color: black;
  }
  
  .learnMoreImage {
    width: 16px;
    height: 16px;
    margin-top: -6px;
    margin-right: 8px;
  }
  
  .recommendationAdvice {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
  
  .recommendationClass {
    min-height: 100px;
    margin-bottom: 16px;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  .react-bs-table table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100px;
  }
  
  .react-bs-table-container {
    margin: 24px;
  }
  
  /* Color for the pagination button */
  .pagination li.active a {
    background: #44518b;
  }
  
  .react-bs-table-container {
    .react-bs-container-header {
      padding: 0px;
      line-height: 32px;
      color: #0B1117;
      font-size: 11.5px;
      font-weight: 600;
      border-bottom: 1px solid #D7DEE4;
      font-family: "Inter", sans-serif;
      overflow: visible;
  
      th {
        border-bottom: 1px solid #e5e5e9 !important;
        font-weight: bold;
        width: 9%;
      }
    }
  }

  .learnRecommendationSuggestions {
    margin-left: 4px;
    color: black;
    text-decoration: underline;
  
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: black
    }
  
    &:visited {
      color: black;
    }
  }
  
  .schemaRecList {
    margin-top: 8px;
    padding-left: 52px;
    line-height: 2.3;
  }
  
  li {
    list-style-type: circle;
    font-family: "Inter", sans-serif;
    color: #0B1117;
    font-size: 13px;
  }
  
  #querySkewLoadGraph,
  #cpuSkewGraph,
  #connectionsSkewGraph {
    max-width: 800px;
  }
}

.chartBox {
  border: 1px solid #E9EEF2;
  padding: 20px;
  border-radius: 8px;

  .queryText {
    font-weight: 600;
    font-size: 13px;
    margin-top: 16px;
    margin-left: 4px;
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
  }
}
