.add-tables-to-cluster {
  .info-search {
    .info {
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .replication-info {
    background: #c7e9c8;
    padding: 3px 5px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .add-to-table-container {
    overflow-y: auto;
    border: 1px solid #dde1e6 !important;
    border-radius: 8px;
    padding: 20px 10px;
  }
}

.alertMsg {
  * {
    margin-right: 5px;
  }

  a {
    text-decoration: underline;
    color: #fff;
  }
}
