

@media (min-width: 768px) {
    .dl-normal {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .dl-normal dt {
        float: left;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-normal dd {
        margin-left: 120px;
        line-height: 20px;
    }

    .dl-nested {
        margin-bottom: 0px;
    }

    .dl-nested dl {
    }
    .dl-nested dd {
        margin: 0px;
        overflow: visible;
        white-space: normal;
    }
}
