@use '../../../../_style/colors.scss';

.bannerContainer {
  display: flex;

  padding: 12px 14px;

  border: 1px solid colors.$YB_GRAY_BORDER;
  border-radius: 4px;
  font-size: 14px;

  .icon {
    display: flex;
    align-self: center;
    align-items: center;

    height: fit-content;

    font-size: 18px;
  }

  .childrenContainer {
    width: 100%;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &.info {
    background: colors.$YB_BANNER_INFO_BACKGROUND;
    border: 1px solid colors.$YB_BANNER_INFO_BORDER;

    .icon {
      color: colors.$YB_BANNER_INFO_BORDER;
    }
  }

  &.warning {
    background: colors.$YB_BANNER_WARNING_BACKGROUND;
    border: 1px solid colors.$YB_BANNER_WARNING_BORDER;

    .icon {
      color: colors.$YB_WARNING_ICON_COLOR;
    }
  }

  &.danger {
    background: colors.$YB_BANNER_ERROR_BACKGROUND;
    border: 1px solid colors.$YB_BANNER_ERROR_BORDER;

    .icon {
      color: colors.$YB_ERROR_ICON_COLOR;
    }
  }

  &.featureBanner {
    padding: 8px 16px;

    border: none;
    border-radius: 8px;
  }
}
