@import '../../../../_style/colors.scss';

.yb-banner {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 18px;
  font-size: 14px;
}

.yb-banner-warning {
  background: $YB_BANNER_WARNING_BACKGROUND;
  border: $YB_BANNER_WARNING_BORDER;
}
