@import com.yugabyte.yw.forms._

@(customerTasks: List[CustomerTaskFormData])
@for(task <- customerTasks) {
  <li>
    <a href="#">
      <div>
        <p>
          <strong>@task.title</strong>
        </p>
        <div class="progress progress-striped active">
          <div class="progress-bar @if(task.success) { progress-bar-success } else { progress-bar-danger } " role="progressbar" aria-valuenow="@task.percentComplete" aria-valuemin="0" aria-valuemax="100" style="width: @task.percentComplete%">
            <span>@task.percentComplete% Complete</span>
          </div>
        </div>
      </div>
    </a>
  </li>
  <li class="divider"></li>
}
