@import common._

@(instanceCount: Integer, tableCount: Integer)

@main(true, "dashboard") {
<script src="@routes.Assets.versioned("lib/leaflet/leaflet.js")"></script>
<link rel='stylesheet' href='@routes.Assets.versioned("lib/leaflet/leaflet.css")'>
<script src="@routes.Assets.versioned("javascripts/dashboard.js")"></script>
<div id="page-wrapper" style="min-height: 1191px;">
  <div class="row header-row">
    <div class="col-lg-10">
          <h1>Dashboard</h1>
    </div>
    <div class="col-lg-2">
      <a href="/createInstance" class="btn btn-primary action-btn">
        <span class="fa  fa-plus-square-o" aria-hidden="true"></span> Create Instance
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      @dashboardPanel("Instances", instanceCount, "panel-primary", "fa-database")
    </div>
    <div class="col-lg-3 col-md-6">
      @dashboardPanel("Tables", tableCount, "panel-green", "fa-table")
    </div>
  </div>
  <div id="map"></div>
</div>
}
