@use '../../../../../_style/colors.scss';

.providerPropertiesContainer {
  display: flex;
  flex-direction: column;

  padding: 24px;

  background-color: colors.$YB_BACKGROUND;
  border-radius: 4px;
  border: 1px solid colors.$YB_GRAY_BORDER;

  .propertiesRow {
    display: flex;
    gap: 80px;

    height: 38px;
    margin-top: 32px;

    &:first-child {
      margin-top: 0;
    }
  }

  .horizontalDivider {
    margin-top: 32px;
  }

  .cell {
    display: flex;
    gap: 5px;
  }

  .toggleExpandBtn {
    width: fit-content;
    padding: 0;
    margin-top: 16px;

    background: none;
    border: none;
    color: colors.$YB_ORANGE;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: colors.$YB_ORANGE_HOVER;
    }
  }

  .expandedContentContainer {
    margin-top: 16px;
  }
}
