@use '../../../../uikit/common';

.cloud-config {
  @include common.wizard-step-form();
  @include common.wizard-form-section-title();
  @include common.wizard-form-row();
  @include common.wizard-form-text-label();
  @include common.wizard-form-footer();

  &__line {
    border-top: 1px solid common.$YB_BORDER_1;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__reset {
    color: common.$YB_CTA;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    user-select: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__label--right {
    text-align: right;
  }

  &__number-input {
    width: 120px;
  }
}
