@import "../../../_style/colors.scss";

.universe-status {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-left: 24px;
  line-height: 42px;


  &.good {
    color: $YB_SUCCESS_COLOR;
  }
  &.pending {
    margin-top: 0 !important;
    margin-bottom: 0;
    color: $YB_PENDING_COLOR;
  }
  &.bad {
    color: $YB_FAIL_COLOR;
  }
  &.unknown {
    color: $YB_PENDING_COLOR;
  }

  span {
    display: inline-block;
    padding-left: 4px;
  }
}

.status-success-item {
  width: 26px;
  border-radius: 50%;
  height: 26px;
  padding: 0;
  color: white;
  background-color: $YB_SUCCESS_COLOR;
  display: inline-block;
  margin-right: 6px;
}

.status-success-item i {
  line-height: 26px;
  margin-left: 3px;
  font-size: 15px;
}

.status-failure-item {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 24px solid $YB_FAIL_COLOR;
  color: white;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.status-success-label {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}

.status-failure-container {
  float: right;
  margin-top: 6px;
}

.status-failure-item i {
  padding: 0;
  width: 50%;
  margin: 0 0 0 -2px;
  font-weight: 500;
  font-size: 16px;
}

.status-failure-name {
  display: inline-block;
  color: $YB_FAIL_COLOR;
  font-size: 15px;
  font-weight: 500;
  padding-left: 6px;

}
.status-pending-display-container {
  display: inline-block;
  color: $YB_ORANGE;
  float: right;

  .yb-loader-circle {
    margin: 0;
    display: inline-block;
    top: 7px;
  }
}

.status-pending-display-container .fa-spin {
  font-weight: 500;
  font-size: 16px;
}
.status-pending-name {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding-left: 6px;
}

.pending-action-progress {
  display: block;
  margin-bottom: 4px;
}

.status-pending-progress-container {
  display: inline-block;
  position: relative;
  top: 8px;
  width: 120px;

  .progress-bar {
    background-color: $YB_ORANGE;
  }
}

.status-pending {
  float: right;
}

.universe-pending-spinner {
  display: inline;
}
