title: MetricsExportConfig
description: Metrics Export Configuration Specification for the Universe. Part of Clusterspec.
required:
  - universe_metrics_exporter_config
type: object
properties:
  scrape_interval_seconds:
    description: Scrape interval in seconds. Applied on all scrape jobs commonly.
    type: integer
    example: 30
    default: 30
  scrape_timeout_seconds:
    description: Scrape timeout in seconds. Applied on all scrape jobs commonly.
    type: integer
    example: 20
    default: 20
  collection_level:
    description: |
      The level of metrics collection. Allowed values are:
        - ALL: Collect all available metrics.
        - NORMAL: Collect standard set of metrics.
        - TABLE_OFF: Disable table level metrics collection.
        - MINIMAL: Collect minimal set of metrics.
        - OFF: Disable metrics collection.
    type: string
    example: NORMAL
    default: NORMAL
    enum:
      - ALL
      - NORMAL
      - TABLE_OFF
      - MINIMAL
      - 'OFF'
  scrape_config_targets:
    description: |
      Set of target types to include in scrape configuration. If not specified, all supported target types will be included.
      Allowed values are:
        - MASTER_EXPORT: Master server metrics
        - TSERVER_EXPORT: Tserver metrics  
        - YSQL_EXPORT: YSQL server metrics
        - CQL_EXPORT: YCQL server metrics
        - NODE_EXPORT: Node exporter metrics
        - NODE_AGENT_EXPORT: Node agent metrics
        - OTEL_EXPORT: OpenTelemetry collector internal metrics
    type: array
    items:
      $ref: "./ScrapeConfigTargetType.yaml"
    example:
      - MASTER_EXPORT
      - TSERVER_EXPORT
      - YSQL_EXPORT
      - CQL_EXPORT
      - NODE_EXPORT
      - NODE_AGENT_EXPORT
      - OTEL_EXPORT
    default:
      - MASTER_EXPORT
      - TSERVER_EXPORT
      - YSQL_EXPORT
      - CQL_EXPORT
      - NODE_EXPORT
      - NODE_AGENT_EXPORT
      - OTEL_EXPORT
  universe_metrics_exporter_config:
    description: 'List of universe metrics exporter configurations. If empty, no metrics will be sent anywhere.'
    type: array
    items:
      $ref: "./UniverseMetricsExporterConfig.yaml"
