# Copyright 2019 YugaByte, Inc. and Contributors
#
# Licensed under the Polyform Free Trial License 1.0.0 (the "License"); you
# may not use this file except in compliance with the License. You
# may obtain a copy of the License at
#
# https://github.com/YugaByte/yugabyte-db/blob/master/licenses/POLYFORM-FREE-TRIAL-LICENSE-1.0.0.txt

- name: Checking variables are defined
  hosts: localhost
  tasks:
    - assert:
        that: local_role is defined

- name: Running local role {{ local_role }}
  hosts: localhost
  roles:
    - "{{ local_role }}"
