# Copyright 2019 YugaByte, Inc. and Contributors
#
# Licensed under the Polyform Free Trial License 1.0.0 (the "License"); you
# may not use this file except in compliance with the License. You
# may obtain a copy of the License at
#
# https://github.com/YugaByte/yugabyte-db/blob/master/licenses/POLYFORM-FREE-TRIAL-LICENSE-1.0.0.txt
#
# This is the input of bin/freeze_python_requirements.sh that is used to generate the
# python_requirements_frozen.txt file. In the most common workflow, you actually don't need to use
# or modify this file (i.e. python_requirements.txt). Just run bin/install_python_requirements.sh to
# install specific module versions according to python_requirements_frozen.txt.
#
# This file should be modified only when you need to add or remove Python dependencies or update
# version constraints.
#
# A Ruby analogy would be that python_requirements_frozen.txt is Gemfile.lock and this is Gemfile.
#
# TODO: see if we can move to using Pundler (https://github.com/Deepwalker/pundler) instead.

ansible==2.5.4
ansible-vault==1.2.0
awscli==1.11.1
azure-common==1.1.25
azure-mgmt-compute==12.1.0
azure-mgmt-privatedns==0.1.0
azure-mgmt-network==10.2.0
azure-mgmt-resource==10.0.0
boto==2.42.0
boto3==1.4.0
botocore==1.4.59
cryptography==1.7.2
distro==1.5.0
enum34==1.1.6
fabric==2.2.1
google-api-python-client==1.10.0
google-api-core==1.22.0
google-auth==1.19.2
grpcio==1.33.2
grpcio-tools==1.33.2
ipaddr==2.1.11
mitogen==0.2.9
oauth2client<4.0.0  # GCP SDK seems to require version <4 of oauth2client: https://goo.gl/7uC34W
paramiko==2.4.2
protobuf==3.19.6
pycryptodome==3.6.1
python-dateutil==2.5.3
PyYAML==5.1
requests-oauthlib==1.3.0
requests==2.31.0
scp==0.14.5
setuptools>=11.333
six==1.15.0
