# Copyright 2022 YugaByte, Inc. and Contributors
#
# Licensed under the Polyform Free Trial License 1.0.0 (the "License"); you
# may not use this file except in compliance with the License. You
# may obtain a copy of the License at
#
# https://github.com/YugaByte/yugabyte-db/blob/master/licenses/POLYFORM-FREE-TRIAL-LICENSE-1.0.0.txt

- name: Setting up cgroups
  hosts: "{{ yb_ansible_host }}"
  strategy: linear
  become: yes
  become_method: sudo
  roles:
    - setup-cgroup
  vars_files:
    - "{{ vars_file | default(placeholder_vars_file) }}"
