# Copyright 2019 YugaByte, Inc. and Contributors
#
# Licensed under the Polyform Free Trial License 1.0.0 (the "License"); you
# may not use this file except in compliance with the License. You
# may obtain a copy of the License at
#
# https://github.com/YugaByte/yugabyte-db/blob/master/licenses/POLYFORM-FREE-TRIAL-LICENSE-1.0.0.txt

- name: Perform command {{ command }} on YB {{ process }}
  hosts: "{{ instance_search_pattern }}"
  vars_files:
    - "{{ vars_file | default(placeholder_vars_file) }}"
  vars:
    script_to_run: "{{ yb_home_dir | default('/home/yugabyte') }}/bin/yb-server-ctl.sh"
  tasks:
    - name: Call the ctl script with appropriate args
      shell: "{{ script_to_run }} {{ process }} {{ command }}"
      when: process != "thirdparty"

- name: Stopping thirdparty services
  hosts: "{{ instance_search_pattern }}"
  vars_files:
    - "{{ vars_file | default(placeholder_vars_file) }}"
  tasks:
    - name: Stop node exporter service
      service:
        enabled: no
        name: node_exporter
        state: stopped
      become: yes
      become_method: sudo
      when: process == "thirdparty"
