# Check if the user already exists
if id "{{ yb_user }}" &>/dev/null; then
    echo "User {{ yb_user }} already exists"
else
    # Creating the yb_user
    useradd -u {{ yb_user_id }} -s /bin/bash --create-home --home-dir {{ yb_home_dir }} {{ yb_user }}
    echo "User {{ yb_user }} created"
fi

# Check if yb_user_password is not null
if [ -n "{{ yb_user_password }}" ]; then
    # Set the password for the new user if it needs to be updated
    current_password=$(getent shadow {{ yb_user }} | cut -d: -f2)
    new_password=$(openssl passwd -1 "{{ yb_user_password }}")

    if [[ "$current_password" != "$new_password" ]]; then
        echo '{{ yb_user }}:{{ yb_user_password }}' | chpasswd
        echo "Password for {{ yb_user }} updated"
    else
        echo "Password for {{ yb_user }} is already set"
    fi
fi

# Add yugabyte user to systemd-journal group if not already a member
if groups {{ yb_user }} | grep -q "\bsystemd-journal\b"; then
    echo "User {{ yb_user }} is already in the systemd-journal group"
else
    usermod -aG systemd-journal {{ yb_user }}
    echo "User {{ yb_user }} added to systemd-journal group"
fi

# Determine the PLATFORM_ID
platform_id=$(grep -oP '(?<=^PLATFORM_ID=).+' /etc/os-release | tr -d '"')

if [[ "$platform_id" == "platform:el8" ]]; then
    # Check SELinux status
    SELINUX_STATUS=$(sestatus | grep 'SELinux status' | awk '{print $3}')
    if [ "$SELINUX_STATUS" == "enabled" ]; then
        # Configuring the correct SELinux context
        current_context=$(ls -Zd {{ yb_home_dir }} | awk '{print $3}')
        if [ "$current_context" != "ssh_home_t" ]; then
            chcon -R -t ssh_home_t {{ yb_home_dir }}
            echo "SELinux context for {{ yb_home_dir }} changed to ssh_home_t"
        else
            echo "SELinux context for {{ yb_home_dir }} is already set to ssh_home_t"
        fi
    fi
else
    echo "el8 not detected, skipping changing selinux context"
fi

# Configure the public key
if [ -z {{ public_key_filepath }} ]; then
    LOGGED_IN_USER="${SUDO_USER:-$USER}"
    PUBKEY_FILE="/home/$LOGGED_IN_USER/.ssh/id_rsa.pub"
    AUTH_KEYS_FILE="/home/$LOGGED_IN_USER/.ssh/authorized_keys"
    PUBKEY_CONTENT=""

    if [ -f "$PUBKEY_FILE" ]; then
        PUBKEY_CONTENT=$(cat "$PUBKEY_FILE")
    elif [ -f "$AUTH_KEYS_FILE" ]; then
        PUBKEY_CONTENT=$(cat "$AUTH_KEYS_FILE")
    fi

    if [ -n "$PUBKEY_CONTENT" ]; then
        su - {{ yb_user }} -c "mkdir -p /home/{{ yb_user }}/.ssh && chmod 700 /home/{{ yb_user }}/.ssh"

        if ! su - {{ yb_user }} -c "grep -q '$PUBKEY_CONTENT' /home/{{ yb_user }}/.ssh/authorized_keys"; then
            echo "$PUBKEY_CONTENT" | su - {{ yb_user }} -c "tee -a /home/{{ yb_user }}/.ssh/authorized_keys > /dev/null"
            su - {{ yb_user }} -c "chmod 400 /home/{{ yb_user }}/.ssh/authorized_keys"
            chown -R {{ yb_user }}:{{ yb_user }} /home/{{ yb_user }}/.ssh
            echo "Public key added to {{ yb_user }}"
        else
            echo "Public key already exists for {{ yb_user }}"
        fi
    else
        echo "Neither public key nor authorized_keys file found or they are empty"
        exit 1
    fi
fi
