.gflag-display-container .tab-content {
  min-height: initial;
}

.gflag-display-container a {
  margin-left: 0;
}

.time-delay-container {
  width: 90%;
}

.modal-body .rolling-upgrade-form {
  .form-item-label {
    min-width: 165px;
    padding: 0;
    vertical-align: middle;
  }

  .yb-field-group {
    padding: 4px 0;
  }
}

.gflag-upgrade-container {
  width: 100%;
  margin-top: 16px;
  background-color: #f7f7f7;
  border: 1px solid #e3e3e5;
  border-radius: 8px;
}

.gflag-upgrade--label {
  font-weight: 600;
  font-size: 13px;
  padding: 16px;
}

.gflag-upgrade-options {
  display: flex;
  flex: 8;
  flex-direction: column;
  border-left: 1px solid #e3e3e5;
  padding: 16px;
}

.upgrade-radio-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.upgrade-radio-label {
  margin: 4px 0px 0px 4px;
}
