[data-md-color-scheme="percona-light"] {
  --md-primary-fg-color:        #e97e03;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}
[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #e97e03;
    /*
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
    */
    --md-hue: 210; /* [0, 360] */
  }
ul li p {
	margin: 0;
}