[Unit]
Description=Yugabyte collect metrics
Requires=yb-collect_metrics.service

[Timer]
User={{ssh_user}}
Group={{ssh_user}}
Unit=yb-collect_metrics.service
# Run every 1 minute
OnCalendar=*:0/1:0

[Install]
WantedBy=timers.target
