[Unit]
Description=Yugabyte collect metrics
Wants=yb-collect_metrics.timer

[Service]
User=yugabyte
Group=yugabyte
Type=oneshot
WorkingDirectory={{yb_home_dir}}/bin
ExecStart=/bin/bash {{yb_home_dir}}/bin/collect_metrics_wrapper.sh

[Install]
WantedBy=multi-user.target
