[Unit]
Description=Yugabyte master service
Requires=network-online.target
After=network.target network-online.target multi-user.target
StartLimitInterval=100
StartLimitBurst=10

[Path]
PathExists={{yb_home_dir}}/master/bin/yb-master
PathExists={{yb_home_dir}}/master/conf/server.conf

[Service]
# Start
{% set use_system_level_systemd = use_system_level_systemd | default(false) %}
{% if ((ansible_os_family == 'RedHat' and (ansible_distribution_major_version == '7' or (ansible_distribution == 'Amazon' and ansible_distribution_major_version == '2'))) or use_system_level_systemd == 'True') %}
User={{ user_name }}
Group={{ user_name }}
{% endif %}
ExecStartPre={{yb_home_dir}}/bin/clock-sync.sh
ExecStart={{yb_home_dir}}/master/bin/yb-master --flagfile {{yb_home_dir}}/master/conf/server.conf
Restart=always
RestartSec=5
# Stop -> SIGTERM - 10s - SIGKILL (if not stopped) [matches existing cron behavior]
KillMode=process
TimeoutStopFailureMode=terminate
KillSignal=SIGTERM
TimeoutStopSec=10
FinalKillSignal=SIGKILL
# Logs
StandardOutput=syslog
StandardError=syslog
# ulimit
LimitCORE=infinity
LimitNOFILE=1048576
LimitNPROC=12000

[Install]
WantedBy=default.target
