[Unit]
Description=Yugabyte logs
Requires=yb-zip_purge_yb_logs.service

[Timer]
{% if ansible_os_family == 'RedHat' and ansible_distribution_major_version == '7' %}
User={{ user_name }}
Group={{ user_name }}
{% endif %}
Unit=yb-zip_purge_yb_logs.service
# Run hourly at minute 0 (beginning) of every hour
OnCalendar=00/1:00

[Install]
WantedBy=timers.target
