Source: percona-pg-stat-monitor
Section: database
Priority: optional
Maintainer: Percona Development Team <info@percona.com>
Build-Depends:
 debhelper (>= 9),
 postgresql-server-dev-all (>= 153~),

Package: percona-pg-stat-monitor@@PG_REL@@
Architecture: any
Depends:
 postgresql-@@PG_REL@@,
 ${misc:Depends},
 ${shlibs:Depends},
Description: enhancement query planning and execution statistics collector
 The pg_stat_monitor is a Query Performance Monitoring tool for PostgreSQL.
 It attempts to provide a more holistic picture by providing much-needed query
 performance insights in a single view.
 .
 pg_stat_monitor is developed on the basis of pg_stat_statments
 as more advanced replacement for pg_stat_statment.
 It provides all the features of pg_stat_statment plus its own feature set.
