.select-tables-form {
  padding: 20px;
  .info-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .tables-list {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 350px;
    padding: 20px;
  }
  .validate {
    margin-top: 20px;
    display: flex;
    align-items: center;
    .validate-msg {
      &.success {
        color: green;
      }
      &.failed {
        color: red;
      }
    }
  }
  .add-to-table-container{
    overflow-y: auto;
  }
}
