.replication-help-text {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 25px;
}

.select-tables-form {
  .info-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .tables-list {
    margin: 16px;
    border: 1px solid #dde1e6;
    border-radius: 8px;
    height: 350px;
    padding: 20px;
  }

  .validate {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .validate-msg {
      &.success {
        color: green;
      }

      &.failed {
        color: red;
      }
    }
  }

  .add-to-table-container {
    overflow-y: auto;
  }
  .noMarginButton {
    margin-bottom: 0;
  }
}
