.maxLagForm {
  font-weight: 100;

  .marginTop {
    margin-top: 15px;
  }

  .checkbox-label {
    font-weight: 100;
  }

  .alert-subtext {
    font-size: 12px;
  }

  .max-lag-input{
      display: flex;
      justify-content: center;
  }
}
