@use '../../_style/colors.scss';

.replication-status-text {
  margin-left: 10px;
  i {
    margin-right: 5px;
  }
  &.updating {
    color: #1a44a5;
  }
  &.success {
    color: green;
  }
  &.failed {
    color: #f00000;
  }
  &.paused {
    color: colors.$YB_WARNING_COLOR;
  }
}
.replication-lag-value {
  &.above-threshold {
    color: #f00000;
  }
  &.below-threshold {
    color: green;
  }
  *.not-reported {
    color: colors.$YB_WARNING_COLOR;
  }
}

.yb-spinner {
  color: colors.$YB_ORANGE;
}
