@import '../../_style/colors.scss';

.replication-divider {
  margin-bottom: 10px;
}

.cluster_action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cluster_support_text {
  text-align: right;
}

.replication-list {
  margin-top: 20px;

  .replication-item-empty {
    padding: 30px;
  }

  .replication-item {
    background: #fff;
    box-shadow: 0 0.12em 2px rgba(35, 35, 41, 0.05), 0 0.5em 10px rgba(35, 35, 41, 0.07);
    border-radius: 7px;
    color: $YB_TEXT_COLOR !important;
    margin-bottom: 20px;

    .replication-meta-details {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-top: 8px;

      .replication-date {
        font-size: 12px;
        font-weight: 400;

        .replication-label {
          color: #9f9ea7;
          margin-right: 10px;
        }
      }
    }

    .list-group-item {
      border: none;
      border-bottom: 1px solid $YB_GRAY_HOVER;
      border-radius: 7px;
      cursor: pointer;
    }

    a {
      color: unset;
    }

    .replication-name {
      font-size: 18px;
      font-weight: 500;
      color: $YB_VIOLET_TEXT !important;
      margin-top: 6px;
      @include transition(0.35s);
    }

    .replication-name:hover {
      color: $YB_ORANGE !important;
      @include transition(0.125s);
    }

    .replication-status {
      font-size: 16px;
    }
  }

  .replication-item-details {
    padding: 15px;
    font-size: 12px;

    .replication-label {
      margin-right: 20px;
      font-size: 14px;
      opacity: 0.4;
    }

    .replication-label-value {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .replication-lag-details {
    text-align: end;
    font-weight: 500;

    .lag-text {
      text-align: right;
    }

    .lag {
      margin-left: 14px;

      .lag-time {
        color: green;
        font-size: 24px;
      }
    }
  }
}

.text-align-left {
  text-align: left;
}

.noPadding {
  padding: 0;
}
.noPaddingLeft {
  padding-left: 0;
}
.noPaddingRight {
  padding-right: 0;
}
.replication-cluster-graph {
  display: flex;
  align-items: center;
}

.replication-name-arrow {
  border-radius: 50%;
  border: 1px solid #d7dde1;
  padding: 6px;
  font-size: 16px;
  text-align: center;
}

.replication-name-card {
  background: #ffffff;
  border: 1px solid #d7dde1;
  border-radius: 8px;
  padding: 12px;

  &.active {
    background: #f7fafc;
  }

  .name-header {
    font-size: 10px;
    padding-top: 3px;
    text-align: center;
    color: #0b1117;
    background: #e9eef2;
    border-radius: 4px;
    width: 50px;
    height: 20px;
  }

  .cluster-name {
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
  }
}
.center-align-text {
  text-align: center;
}
