@import '../../_style/colors.scss';

.label {
  margin-left: 10px;
  i {
    margin-right: 5px;
  }

  &.running {
    color: $YB_SUCCESS_COLOR;
  }

  &.paused {
    color: $YB_WARNING_COLOR;;
  }

  &.inProgress {
    color: $YB_VIOLET_TEXT;
  }

  &.deleted,
  &.failed {
    color: $YB_FAIL_COLOR;
  }
}
