@use '../../_style/colors.scss';

.label {
  display: flex;
  align-items: center;

  padding: 4px 6px;
  width: fit-content;

  border-radius: 6px;

  i {
    margin-left: 4px;
  }

  &.ready {
    background-color: colors.$YB_LABEL_GOOD_BACKGROUND;
    color: colors.$YB_LABEL_GOOD_TEXT;
    i {
      color: colors.$YB_LABEL_GOOD_ICON;
    }
  }

  &.warning {
    background-color: colors.$YB_LABEL_WARNING_BACKGROUND;
    color: colors.$YB_LABEL_WARNING_TEXT;
    i {
      color: colors.$YB_LABEL_WARNING_ICON;
    }
  }

  &.inProgress {
    background-color: colors.$YB_LABEL_IN_PROGRESS_BACKGROUND;
    color: colors.$YB_LABEL_IN_PROGRESS_TEXT;
    i {
      color: colors.$YB_LABEL_IN_PROGRESS_ICON;
    }
  }

  &.error,
  &.failed {
    background-color: colors.$YB_LABEL_DANGER_BACKGROUND;
    color: colors.$YB_LABEL_DANGER_TEXT;
    i {
      color: colors.$YB_LABEL_DANGER_ICON;
    }
  }
}
