@use '../../_style/colors.scss';

.configCard {
  display: flex;

  height: 150px;

  background: colors.$YB_BG_WHITE_3;
  box-shadow: 0 0.12em 2px rgba(colors.$YB_DARK_GRAY_2, 0.05),
    0 0.5em 10px rgba(colors.$YB_DARK_GRAY_2, 0.07);
  border-radius: 6px;

  &.loading {
    align-items: center;
    justify-content: center;
  }
  &.error {
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 16px;

    color: colors.$YB_LABEL_DANGER_TEXT;
  }

  &.emptyConfigListPlaceholder {
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
  }
}

.listItem {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.listContainer {
  margin: 10px 0;
  padding: 0;
}

.flexContainer {
  display: flex;
  gap: 8px;
}
