systemd_dir="/etc/systemd/system"

{% if use_system_level_systemd == 'False' %}
    systemd_dir="{{yb_home_dir}}/.config/systemd/user"
{% endif %}

{% for service_file in service_files | split_servers %}
    if [ ! -f "$systemd_dir"/{{ service_file }} ]; then
        echo "Systemd unit {{ service_file }} is not configured."
        exit 1
    fi
{% endfor %}