# Set default system level systemd
systemd_dir="/etc/systemd/system"

check_root_systemd_services() {
    local unit_paths=()
    local service_files=()
    {% if is_install_node_agent == 'True' %}
    service_files+=("yb-node-agent.service")
    {% endif %}
    {% if use_system_level_systemd == 'False' %}
    {% for service_file in service_files | split_string %}
    service_files+=("{{ service_file }}")
    {% endfor %}
    {% endif %}
    # Collect all the root systemd services first.
    {% raw %}
    for service_file in "${service_files[@]}"; do
      # Output is like /etc/systemd/system/yb-master.service.
      unit_path=$(systemctl cat $service_file  --no-pager 2>/dev/null | head -1 | sed -e 's/#\s*//g' || true)
      if [ -n "$unit_path" ] && [ -f "$unit_path" ]; then
        unit_paths+=("$unit_path")
      fi
    done
    if [ ${#unit_paths[@]} -gt 0 ]; then
        echo "Systemd root services ${unit_paths[*]} are already installed. Run with root provisioning to migrate to user-level systemd"
        exit 1
    fi
    {% endraw %}
}

{% if use_system_level_systemd == 'False' %}
    systemd_dir="{{ yb_home_dir }}/.config/systemd/user"
    check_root_systemd_services
    if [ "$SUDO_ACCESS" = "true" ]; then
        su - {{ yb_user }} -c "mkdir -p ${systemd_dir}"
    else
        mkdir -p "${systemd_dir}"
    fi
{% endif %}

# Configure the systemd unit files
{% for service_file in service_files | split_string %}
    tmp_file=$(mktemp)
    echo '{% include service_file %}' > "$tmp_file"
    if [ "$SUDO_ACCESS" = "true" ]; then
        chown {{ yb_user }}:{{ yb_user }} "$tmp_file"
        su - {{ yb_user }} -c "mv $tmp_file ${systemd_dir}/{{ service_file }}"
        su - {{ yb_user }} -c "chmod 644 ${systemd_dir}/{{ service_file }}"
    else
        mv "$tmp_file" "${systemd_dir}/{{ service_file }}"
        chmod 644 "${systemd_dir}/{{ service_file }}"
    fi
{% endfor %}
