# Set default system level systemd
systemd_dir="/etc/systemd/system"
{% if use_system_level_systemd == 'False' %}
    # Enable linger for yb_user
    su - {{ yb_user }} -c "loginctl enable-linger {{ yb_user }}"
    su - {{ yb_user }} -c "export XDG_RUNTIME_DIR=/run/user/$(id -u {{ yb_user }})"
    # Configure the systemd_dir as path for user level systemd
    systemd_dir="{{yb_home_dir}}/.config/systemd/user"
    # Ensure the systemd directory exists
    mkdir -p "$systemd_dir"
{% endif %}
# Configure the systemd unit files
{% for service_file in service_files | split_servers %}
    echo "{% include service_file %}" > "$systemd_dir"/{{ service_file }}
{% endfor %}