
.login-panel {
    margin-top: 25%;
}

body {
    background-color: #f8f8f8;
}

.page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
}

form a {
  margin-left: 5px;
}

.ybNavBar{
  margin-bottom: 0 !important;
}

ul{
  list-style: none;
}

.modal-body {
  max-height: calc(100% - 120px);
  overflow: auto;
}

.createUniverseFormSplit{
  border-bottom: 1px solid black;
  margin-top: 4%;
  margin-bottom: 4%;
}
.form-item-label{
  display: block;
  margin-bottom: 4%;
}
