
.login-panel {
    margin-top: 25%;
}

#ybPortal {
  background-color: #f8f8f8;
}

#ybPortal .navbar {
  margin-bottom: 0px;
}

#page-wrapper {
    position: inherit;
    margin: 0 0 0 120px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
    background-color: transparent;
    min-height: 100%;
}

#page-wrapper .header-row {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.leaflet-container {
  height: 300px;
  width: 500px;
}

.graph-panel-grid div.dropdown {
  float: right;
  margin-top: -7px;
}

form a {
  margin-left: 5px;
}

ul {
  list-style: none;
}

.modal-body {
  max-height: calc(100% - 120px);
  overflow: auto;
}

.universeFormSplit {
  border-bottom: 1px solid black;
  margin-top: 4%;
  margin-bottom: 4%;
}

.form-item-label {
  display: block;
  margin-bottom: 4%;
}

.no-border-cell {
    border:none !important;
}

.ybCodeSnippet {
    font-family: monospace;
}

.universe-button {
    margin-top: 18px;
    width:60px;
}


.detail-string-cell {
    padding-left: 0;
}

.delete-title {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.delete-btn-group {
    width: 33%;
    margin-left: 40%;
    margin-bottom: 4%;
}

.universeTableHeader {
    margin-top: 1%;
    margin-left: 1%;
}

.top-nav-menu-button {
    width: 30px;
}

.yb-nav-bar {
    background-color: #fff;
}

<<<<<<< 5779662ce34e61165caaeaeb1c21a82c3b78af5b
.progess-gauge {
  vertical-align: top;
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  margin-top: 10px;
}

.progess-gauge > canvas {
  width: 80% !important;
  height: auto !important;
}
ul.progress-list {
  padding-left: 0;
  margin-top: 10px;
}

ul.progress-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul.progress-list li i {
  padding-right: 10px;
  color: #757679;
}

@media (min-width: 768px) {
  .dl-normal {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .dl-normal dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .dl-normal dd {
    margin-left: 120px;
    line-height: 20px;
  }

  .dl-nested {
    margin-bottom: 0px;
  }

  .dl-nested dl {
  }
  .dl-nested dd {
    margin: 0px;
    overflow: visible;
    white-space: normal;
  }
}
