
.login-panel {
    margin-top: 25%;
}

#ybPortal {
    background-color: #f8f8f8;
}

#ybPortal .navbar {
    margin-bottom: 0px;
}

.nav_title {
    width: 100% !important;
}

.yb-logo-img {
    padding: 0;
    margin: 10px 0 0 46px;
    width: 50px;
    height: 50px;
}
#page-wrapper {
    position: inherit;
    margin: 4% 0 0 8%;
    padding: 1% 2%;
    border-left: 1px solid #e7e7e7;
    background-color: transparent;
    min-height: 100%;
}

#page-wrapper .header-row {
    padding-bottom: 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.leaflet-container {
    height: 300px;
    width: 500px;
}

.graph-panel-grid div.dropdown {
    float: right;
    margin-top: -7px;
}

form a {
    margin-left: 5px;
}

ul {
    list-style: none;
}

.modal-body {
    max-height: calc(100% - 120px);
    overflow: auto;
}

.universeFormSplit {
    border-bottom: 1px solid black;
    margin-top: 4%;
    margin-bottom: 4%;
}

.progress {
    border: 1px solid #CD6500;
    width:100%;
}

.progress-bar {
    background-color: #CD6500 !important;
    color: grey;
}

.form-item-label {
    display: block;
    margin-bottom: 4%;
}

.no-border-cell {
    border:none !important;
}

.detail-item-cell {
    border-right:1px solid grey;
    height: 70px ;
}

.data-table-row {
    background-color: #f8f8f8 !important;
    border: 10px solid white !important;
    border-top:20px solid white !important;
}

.ybCodeSnippet {
    font-family: monospace;
}

.universe-button {
    margin-top: 18px;
    width:60px;
}

.universe-name-cell {
    font-size: 2em;
    color: #CD6500 !important;
}

.universe-item-cell {
    font-size: 1.3em;
}

.table-cell-sub-text {
    color:grey;
}

.detail-string-cell {
    padding-left: 0;
}

.delete-title {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.delete-btn-group {
    width: 33%;
    margin-left: 40%;
    margin-bottom: 4%;
}

.universe-table-header {
    margin-top: 1%;
    margin-left: 1%;
}

.universe-table-header-action .universe-button {
    width: auto;
    font-size: 14px;
    padding: 6px 12px;
}

.top-nav-menu-button {
    width: 30px;
}

.graph-panel-container {
    margin-top: 4px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.dashboard-widget-container {
    background-color: transparent ;
}

.yb-nav-bar {
    background-color: #fff;
}

.progess-gauge {
    vertical-align: top;
    background: #fff;
    border: 1px solid #abd9ea;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
    margin-top: 10px;
}

.progess-gauge > canvas {
    width: 80% !important;
    height: auto !important;
}
ul.progress-list {
    padding-left: 0;
    margin-top: 10px;
}

ul.progress-list li {
    padding-left: 10px;
    list-style: none;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul.progress-list li i {
    margin-right: 10px;
    color: #757679;
}

@media (min-width: 768px) {
    .dl-normal {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .dl-normal dt {
        float: left;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-normal dd {
        margin-left: 120px;
        line-height: 20px;
    }

    .dl-nested {
        margin-bottom: 0px;
    }

    .dl-nested dl {
    }
    .dl-nested dd {
        margin: 0px;
        overflow: visible;
        white-space: normal;
    }
}

.graph-panel {
    margin: 0 20px;
}

.header-row .btn-group div {
    display: inline-block;
    margin-right: 10px;
    float: right;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.detail-column {
    width:700px ;
}

.status-column {
    width: 300px;
}

.yb-progress-bar-container {
    margin-top: 20px;
}

.region-item-cell {
    font-size: small;
}

.universe-table-status-cell .yb-progress-bar-container {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
}

.universe-table-status-cell .yb-progress-bar-container  .yb-left .progress {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
}

.universe-table-status-cell .progress-list  {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
}

.universe-table-status-cell .progress-list .progress-list-item {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
}

.show-data {
    margin-left: 0 !important;
    margin-right: 0;
}

.task-alerts-cell-container {
    text-align: center;
    border-bottom: 1px solid #757679;
}

.task-alerts-show-more {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 4px;
}

.region-map-container {
    width: 100%;
    border-color: #d3d3d3;
    border-style: solid;
    border-width: 2px 1px;
}

.name-column-sm {
    width: 90px;
}

.alerts-table-body-container {
    margin-bottom: 1%;
    padding-bottom: 1%;
}

.universe-detail-btn-group .dropdown {
    padding: 0;
}

.header-row .btn-group div {
    float: left ;
}

.header-row .h2 {
    margin-bottom: 0;
}

.detail-label-small {
    margin:0 0 6px 6px;
    color: grey;
    padding-left: 4px;
}

.left-col-container {
    position: fixed;
    margin-top: 60px;
    height: 100%;
}
