echo "Start network configuration"
{% if no_proxy %}
# Add it to bashrc for root, and yugabyte user
no_proxy_env='export NO_PROXY="{{ no_proxy }},${NO_PROXY:+,$NO_PROXY}"'
if ! grep -qxF "$no_proxy_env" ~/.bashrc >/dev/null 2>&1; then
    echo "$no_proxy_env" >> ~/.bashrc
fi
# Run as yugabyte user to add to the bashrc.
if ! grep -qxF "$no_proxy_env" {{yb_home_dir}}/.bashrc >/dev/null 2>&1; then
    # no_proxy_env already expanded in the subshell.
    su - {{ yb_user }} -c "echo '$no_proxy_env' >> {{yb_home_dir}}/.bashrc"
fi
# Export it for the current session.
export NO_PROXY="{{ no_proxy }},${NO_PROXY:+,$NO_PROXY}"
{% endif %}

echo "End network configuration"
