@import "../../../uikit/common";

.wizard-summary {
  $padding: 15px 40px;

  font-family: $YB_FONT_FAMILY;
  background-color: $YB_WIZARD_SUMMARY_BACKGROUND;
  border: 1px solid $YB_BORDER_1;

  &__title {
    font-size: 20px;
    font-weight: 600;
    background-color: $YB_WIZARD_SUMMARY_BACKGROUND;
    mix-blend-mode: multiply;
    padding: $padding;
    color: $YB_WIZARD_TABS;
  }

  &__content {
    padding: $padding;
  }

  &__universe {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.8px;
  }

  &__provider {
    font-size: 22px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  &__row-small {
    margin-top: 6px;
  }

  &__col-key {
    font-size: 14px;
    font-weight: 400;
  }

  &__col-value {
    font-size: 14px;
    font-weight: 600;
  }
}
