@use '../../../_style/colors.scss';
.universe-alert-badge {
  float: right;
  position: relative;
  overflow: unset !important;
  margin: 10px 18px 0px 18px;
  padding: 2px;
  cursor: pointer;
  line-height: 0;
  .icon{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    position: relative;
    &:hover{
      background: #E5E5E9;
    }
  }
  

  &.alert-list-view {
    margin: 0px !important;
    .alert-count {
      top: 2px !important;
    }
  }
  .alert-bell-icon{
    color: #25323D;
    margin-left: 4px;
    margin-top: 8px;
  }
  .alert-count {
    background: #DA1515;
    border-radius: 4px;
    color: #FFF;
    font-size: 12px;
    padding: 2px 4px;
    position: absolute;
    right: 1px;
    line-height: 1;
    height: 15px;
  }

  .loading-icon {
    font-size: 8px;
  }
}

#alert-popover {
  background: colors.$YB_BG_WHITE_3;
  border: 1px solid #D7DEE4;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 325px;
  display: flex;
  flex-direction: column;
  color: colors.$YB_DARKER_GRAY;
  margin-top: 0px;
  padding: 16px;

  .popover-content {
    padding: 0;
    overflow-y: auto;
    max-height: 325px;
  }

  .no-padding {
    padding: 0;
  }

  .alert-count {
    margin-bottom: 15px;
  }

  .alert-entity {
    min-height: 60px;
    margin-bottom: 10px;

    &:not(:last-child) {
      border-bottom: 1px solid #E9EEF2;
    }

    div {
      margin-bottom: 6px;
    }

    .alert-name {
      color: #44518B;
      text-decoration: underline;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      height: 24px;
      cursor: pointer;
    }

    .alert-labels-actions {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;

      .alerts-labels {
        span {
          margin-right: 4px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
