.btn, button {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  transition: all 0.2s;
  padding: 16px 20px 18px;
  margin-bottom: 8px;
  color: #f75821;
  background-color: transparent;
  border: 2px solid #f75821;
  border-radius: 10px; }
  .btn:hover, button:hover {
    box-shadow: 0 0 20px rgba(153, 204, 255, 0.8);
    transform: scale(1.02, 1.04);
    color: #fff; }
  .btn:focus, button:focus {
    color: #fff !important; }

.cta-button {
  font-size: 18px;
  color: white;
  background-color: #f75821;
  border: 2px solid #f75821 !important;
  border-radius: 10px; }
  .cta-button:hover {
    background-color: #f75821; }

.learn-more-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  color: white; }

.more-button {
  font-size: 18px;
  font-weight: 500;
  color: #c86709;
  background-color: white;
  box-shadow: 0 0 30px 6px rgba(255, 255, 255, 0.2); }

.link-button {
  background-color: #f75821;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  color: white; }
  .link-button:hover {
    background-color: #f75821; }

.longer-buttons .btn {
  min-width: 240px !important; }

.nav-tabs a {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500 !important;
  border-radius: 0 !important;
  padding: 18px 24px !important;
  height: 66px;
  margin-top: 2px;
}
.nav-tabs li.active a {
  border-top: 3px solid #f75821 !important;
  border-left: 1px solid #f75821 !important;
  border-right: 1px solid #f75821 !important;
  margin-top: -2px;
  margin-bottom: -2px;
  height: 70px;
}
.nav-tabs i {
  font-size: 24px !important;
  margin: -2px 0;
}
.nav-tabs .icon-docker {
  display: inline-block;
  vertical-align: middle;
}