.resources ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 15px;
  font-size: 14px;
}

.resources a {
  border-radius: 5px;
  padding: 4px 5px;
  color: #4e5f6d !important;
}

.resources a.grey-bg {
  background: #f0f4f7;
}

.resources a.purple-bg {
  background: #ededfd;
}

h1 {
  margin-top: 40px;
}

p {
  color: #4e5f6d;
  font-size: 18px;
  line-height: normal;
}

.cloud-laptop {
  margin-top: 48px;
}

.two-side {
  display: flex;
  border-radius: 8px;
  height: 100%;
}

.two-side .body {
  padding: 12px;
  width: 97%;
  display: flex;
  flex-flow: column;
}

main.col-xl-10 .two-side .body {
  width: 75%;
}

.box-top {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.two-side a.text-link {
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: auto;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #2b59c3;
}

.orange-btn,
.purple-btn {
  display: inline-block;
  border-radius: 7px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  min-width: 90px;
  text-align: center;
  padding: 10px 10px;
  overflow: hidden;
  position: relative;
  margin-right: 15px;
}

.orange-btn::before,
.purple-btn::before {
  content: '';
  background: -o-linear-gradient(225deg, #ff6e42, #ff3b00);
  background: linear-gradient(225deg, #ff6e42, #ff3b00);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition: 0.2s ease-in-out;
  border-radius: 7px;
  overflow: hidden;
}

.purple-btn::before {
  background: -o-linear-gradient(225deg, #a5a6f6, #5d5fef);
  background: linear-gradient(225deg, #a5a6f6, #5d5fef);
}

.orange-btn span,
.purple-btn span {
  position: relative;
  color: #fff;
  z-index: 1;
}

.orange-btn::after,
.purple-btn::after {
  content: '';
  background: -o-linear-gradient(225deg, #2b59c3, #000041);
  background: linear-gradient(225deg, #2b59c3, #000041);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition: 0.2s ease-in-out;
  opacity: 0;
  border-radius: 7px;
  overflow: hidden;
}

.box-top > span {
  color: #0b1117;
  font-size: 18px;
  min-width: 100%;
}

a.orange-btn:hover::before,
a.purple-btn:hover::before {
  display: none;
}

a.orange-btn:hover::after,
a.purple-btn:hover::after {
  opacity: 1;
}

.body-content {
  font-size: 14px;
  line-height: 21px;
  color: #4e5f6d;
  margin-bottom: 5px;
  max-width: 332px;
}

.two-side a.text-link:hover {
  text-decoration: underline;
}

.three-box-row {
  margin-top: 28px;
}

.three-box-row .col-12 {
  padding-bottom: 14px;
}

.box.border {
  border-radius: 8px;
  height: 100%;
}

.box.border .image {
  height: 122px;
  overflow: hidden;
}

main.col-md-9 .box.border .image {
  height: 160px;
}

.three-box-row h2 {
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #0b1117;
  margin-bottom: 24px !important;
}

.other-content {
  padding: 15px 15px 25px;
  height: calc(100% - 122px);
  display: flex;
  flex-flow: column;
}

main.col-md-9 .other-content {
  height: calc(100% - 160px);
}

a.text-link {
  margin-top: auto;
  font-size: 14px;
  line-height: 17px;
  color: #2b59c3;
  display: flex;
  align-items: center;
}

.heading {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #0b1117;
  margin-bottom: 8px;
}

.tag-line {
  font-weight: 600;
  font-size: 11.5px;
  line-height: 21px;
  color: #97a5b0;
  margin-bottom: 5px;
}

.detail-copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #4e5f6d;
  margin-bottom: 15px;
}

.other-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

a.text-link::after {
  content: '';
  width: 15px;
  height: 8px;
  margin-left: 15px;
  background: url(/images/homepage/arrow.svg) no-repeat;
  background-position: -5px;
  display: inline-block;
  margin-top: 2px;
}

a.text-link:hover {
  text-decoration: underline;
}

.other-content li {
  margin-bottom: 8px;
  margin-top: 8px;
}

.icon {
  margin-bottom: 24px;
}

.other-content li:last-child {
  margin-bottom: 0;
}

.two-side .image img {
  margin-top: auto;
  margin-bottom: 0;
}

.two-side .image {
  display: flex;
}

.box.border .image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: center;
}

@media (max-width: 767px) {
  .box.border .image {
    height: 122px;
  }

  .box-top > span {
    min-width: calc(100% - 90px);
  }
}

@media (max-width: 767px) AND (min-width: 500px) {
  .three-box-row div.col-12 {
    max-width: 50%;
    margin-bottom: 24px;
  }

  .three-box-row h2.col-12 {
    min-width: 100%;
  }
}

@media (max-width: 767px) AND (min-width: 499px) {
  .two-side {
    flex-flow: column;
  }

  .two-side .body {
    width: 100%;
  }

  .two-side .image {
    display: flex;
    margin-left: auto;
  }

  .two-side .image img {
    max-width: 100%;
    height: auto;
    margin-top: -49px !important;
  }
}
