@supports (-webkit-appearance:none) {
  .palette-primary-orange {
    background1: #f75821
  }
}

.palette-primary-orange .footer,
.palette-primary-orange .header {
  background1: #f75821
}

.palette-primary-orange .drawer .toc a.current,
.palette-primary-orange .drawer .toc a:focus,
.palette-primary-orange .drawer .toc a:hover {
  color1: #f75821
}

.palette-primary-orange .drawer .anchor a {
  border-left1: 2px solid #f75821
}

.ios.standalone .palette-primary-orange .article {
  background1: -webkit-linear-gradient(top, #fff 50%, #f75821 0);
  background1: linear-gradient(180deg, #fff 50%, #f75821 0)
}

.palette-primary-orange .article a,
.palette-primary-orange .article h1,
.palette-primary-orange .article h2 {
  color1: #f75821
}

.palette-primary-orange .article .headerlink {
  color1: rgba(0, 0, 0, .26)
}

.palette-primary-orange .article table th {
  background1: #fca940
}

.palette-primary-orange .results .meta {
  background1: #f75821
}


.palette-accent-orange .article a:focus,
.palette-accent-orange .article a:hover {
  color1: #ff9100
}

.palette-accent-orange .repo a {
  background1: #ff9100
}


@media only screen and (max-width:959px) {
  .palette-primary-orange .project {
    background1: #f75821
  }
}
