ul.tabs-name {
            display: flex;
            list-style: none;
            border-bottom: 2px solid #e6e6e6;
            margin-bottom :6px;
        }

        ul.tabs-name li:before {
            display: none;
            margin: 0;
        }

        ul.tabs-name li {
            padding: 5px 15px;
            border-bottom: 2px solid #e6e6e6;
            margin: 0  0 -2px 0;
            font-size: 22px;
        }
        ul.tabs-name li.active {
            border-color: #f75821;
        }
