h1 {
  padding-bottom: 15px !important;
  border-bottom: none !important;
}

#TableOfContents {
  margin-bottom: 40px;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 12px;
  line-height: 1.8;
}
#TableOfContents:before {
  content: 'On this page';
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #202951;
}
#TableOfContents > ul {
  margin: 0 0 10px;
}
#TableOfContents > ul > li {
  margin-left: 7px;
}
#TableOfContents a {
  border-bottom: none !important;
}
#TableOfContents > ul > li:before {
  content: '';
}
#TableOfContents ul,
#TableOfContents li {
  margin-top: 2px;
}
#TableOfContents ul {
  margin-bottom: 6px;
}
#TableOfContents ul ul ul {
  display: none;
}
