service_name="node_exporter.service"

# Get the status of node_exporter Service
status=$(systemctl show -p ActiveState "$service_name" | grep ActiveState | awk -F= '{print $2}')
if [ "$status" = "active" ]; then
    echo "\"$service_name\" is active"
    add_result "Service Status Check" "PASS" "$service_name is active"
else
    echo "\"$service_name\"  is not active"
    add_result "Service Status Check" "FAIL" "$service_name is not active"
fi
