@use '../../../../_style/colors.scss';

.menu-items-container {
  $menu-width: 280px;

  display: flex;
  width: $menu-width;

  &__main-frame {
    border-right: 1px solid colors.$YB_GRAY_HOVER;
    min-width: 100%;
    transition: margin-left 250ms ease;
    will-change: margin-left;

    li.disabled > a {
      cursor: not-allowed;
    }

    &--slide-left {
      margin-left: -$menu-width;
    }

    &--slide-right {
      margin-left: 0;
    }
  }

  &__submenu-frame {
    min-width: 100%;
  }
}
