*.o
*.a
*.so
.idea/
.init
*.swp
.conf.example
.logrotate
.vscode/
sources/odyssey
sources/build.h
stress/odyssey_stress
test/odyssey_test
test/odyssey/data
third_party/machinarium/sources/build.h
third_party/machinarium/benchmark/benchmark_csw
third_party/machinarium/benchmark/benchmark_csw2
third_party/machinarium/benchmark/benchmark_channel
third_party/machinarium/benchmark/benchmark_channel_shared
build/
build-asan/
cmake-build-debug/
test/shell-test/odyssey
tmp/
test/ody-intergration-test/main
docker/bin/odyssey
docker/bin/odyssey-asan
odyssey.conf.example
odyssey.init
odyssey.logrotate
