@use '../../../../_style/colors.scss';

.expandComponent {
  margin-left: 65px;
}

.paginationControls {
  display: flex;

  .pageSizeInput {
    margin-top: 20px;
    width: auto;
  }

  .yBPagination {
    margin-left: auto;
  }
}

// Override react-bootstrap-table styles.
.bootstrapTable {
  overflow-y: auto !important;

  table > tbody > tr:not(:last-child) td {
    padding: 11px 8px 11px 0 !important;

    border-bottom: 1px solid colors.$YB_GRAY_HOVER !important;
  }
}

.tableNameContainer {
  display: flex;
  align-items: center;
  gap: 5px;

  .tableName {
    align-content: center;
  }
}
