@use '../../../../_style/colors.scss';

.transactionalSupportTooltip {
  &:hover {
    cursor: pointer;
  }
}

.tableDescriptor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 0 5px;
}

.tableToolbar {
  display: flex;
  gap: 10px;

  .namespaceSearchInput {
    width: 100%;
  }
}

.bootstrapTableContainer {
  margin: 10px 0;
  padding: 20px;

  height: fit-content;

  border: 1px solid #dde1e6;
  border-radius: 8px;

  .bootstrapTable {
    overflow-y: auto;
  }
}

.paginationControls {
  display: flex;

  .pageSizeInput {
    margin-top: 20px;
    width: auto;
  }

  .ybPagination {
    margin-left: auto;
  }
}

.validationContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-top: 16px;

  .validation {
    display: flex;

    margin-top: 16px;
    padding: 12px;

    border-radius: 4px;

    &.error {
      background-color: colors.$YB_VALIDATION_ERROR_BACKGROUND;
      border: 1px solid colors.$YB_VALIDATION_ERROR_BORDER;

      i {
        color: colors.$YB_ERROR_ICON_COLOR;
      }
    }

    &.warning {
      background-color: colors.$YB_VALIDATION_WARNING_BACKGROUND;
      border: 1px solid colors.$YB_VALIDATION_WARNING_BORDER;

      i {
        color: colors.$YB_WARNING_ICON_COLOR;
      }
    }
  }
}
