@use '../../../../uikit/common';

.assign-public-ip-field {
  display: flex;
  align-items: center;

  &__toggle-on {
    color: common.$YB_TEXT_2;
  }

  &__toggle-off {
    color: common.$YB_CTA;
  }
}
