@use '../../../_style/colors.scss';
@use '../../../_style/mixins.scss';

.configCard {
  background: colors.$YB_BG_WHITE_3;
  box-shadow: 0 0.12em 2px rgba(colors.$YB_DARK_GRAY_2, 0.05),
    0 0.5em 10px rgba(colors.$YB_DARK_GRAY_2, 0.07);
  border-radius: 6px;
  color: colors.$YB_TEXT_COLOR !important;

  a {
    color: unset;
  }

  a:hover .configName {
    color: colors.$YB_ORANGE !important;
    @include mixins.transition(0.125s);
  }

  .headerSection {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: flex-start;

    padding: 12px 20px;

    .configNameContainer {
      align-items: center;
      display: flex;
      gap: 8px;

      width: 40%;

      .configName {
        color: colors.$YB_VIOLET_TEXT;
        font-size: 18px;
        font-weight: 500;
        word-break: break-all;
        @include mixins.transition(0.35s);
        a:hover {
          color: colors.$YB_ORANGE !important;
          @include mixins.transition(0.125s);
        }
      }
    }

    .status {
      margin-left: auto;
      font-size: 16px;
      text-align: end;
    }
  }

  .bodySection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 12px 20px;

    border-top: 1px solid colors.$YB_GRAY_HOVER;
    font-size: 12px;

    .configMetricsContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .configMetric {
        .label {
          font-size: 12px;
          height: 50%;
        }
      }
    }

    .viewTasksPrompt {
      font-size: 12px;

      a {
        color: colors.$YB_VIOLET_TEXT;
        text-decoration: underline;

        &:hover {
          color: colors.$YB_ORANGE_HOVER;
        }
      }
    }
  }
}
