@use '../../../_style/colors.scss';

.formInstruction {
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 14px;
}

.tableDescriptor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 0 5px;
}

.tableToolbar {
  display: flex;
  gap: 10px;

  .keyspaceSearchInput {
    width: 100%;
  }
}

.bootstrapTableContainer {
  margin: 10px 0;
  padding: 20px;

  height: fit-content;

  border: 1px solid #dde1e6;
  border-radius: 8px;

  .bootstrapTable {
    overflow-y: auto;
  }
}

.paginationControls {
  display: flex;

  .pageSizeInput {
    margin-top: 20px;
    width: auto;
  }

  .yBPagination {
    margin-left: auto;
  }
}

.validationErrorContainer {
  display: flex;

  margin-top: 20px;
  padding: 12px;

  background-color: #fee6e0;
  border: 1px solid colors.$YB_ERROR_ICON_COLOR;
  border-radius: 4px;

  i {
    color: colors.$YB_ERROR_ICON_COLOR;
  }

  .errorMessage {
    margin-left: 10px;

    h5 {
      font-size: 13px;
      font-weight: 700;
      font-family: inherit;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
