@use '../../../../uikit/common';

.availability-zones {
  @include common.wizard-form-row();
  @include common.wizard-form-text-label();

  &__nodes-col {
    position: relative;
  }

  &__number-input {
    width: 120px;
  }

  &__spinner {
    position: absolute;
    left: 150px;
    top: -2px;
  }

  &__placements-label {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;

    & > svg {
      margin-right: 5px;
    }

    &--success {
      color: common.$YB_TEXT_SUCCESS;
      fill: common.$YB_TEXT_SUCCESS;
    }

    &--warning {
      color: common.$YB_WARNING;
      fill: common.$YB_WARNING;
    }

    &--error {
      color: common.$YB_ERROR;
      fill: common.$YB_ERROR;
    }
  }
}
