build
logs
target
.idea
.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# VIM/emacs stuff
*.swp
*~
core*

perf.data
perf.data.old
oprofile_data
.metadata/
*.iml

app/.DS_STORE
.DS_Store
app/views/.DS_Store
