# Deploy contexts
# Environment variables here override variables set in the web UI.
#
# https://docs.netlify.com/site-deploys/overview/#deploy-contexts
# https://docs.netlify.com/configure-builds/file-based-configuration/#deploy-contexts

[context.deploy-preview.environment]
  HUGO_VERSION = "0.96.0"
  NODE_VERSION = "16"
  CXXFLAGS = "-std=c++17"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.96.0"
  NODE_VERSION = "16"
  CXXFLAGS = "-std=c++17"

[context.production.environment]
  HUGO_VERSION = "0.96.0"
  NODE_VERSION = "16"
  CXXFLAGS = "-std=c++17"

# Redirects
# - Default status is a 301 unless otherwise specified.
# - First match wins: put wildcards AFTER specific paths!
# - Wildcards include empty matches: /v1.0/* WILL match /v1.0
#
# docs: https://docs.netlify.com/routing/redirects/
#
# validator: https://play.netlify.com/redirects

# Make sure we're not redirecting anything under /images

[[redirects]]
  from = "/images/*"
  to = "/images/:splat"
  status = 200

# Bypass the landing page

# [[redirects]]
#   from = "/"
#   to = "/preview/"
#   force = true

# Redirect EOL docs to the archive site

[[redirects]]
  from = "/v1.0/*"
  to = "https://docs-archive.yugabyte.com/"
  force = true

[[redirects]]
  from = "/v1.1/*"
  to = "https://docs-archive.yugabyte.com/"
  force = true

[[redirects]]
  from = "/v1.2/*"
  to = "https://docs-archive.yugabyte.com/"
  force = true

[[redirects]]
  from = "/v1.3/*"
  to = "https://docs-archive.yugabyte.com/"
  force = true

[[redirects]]
  from = "/v2.0/*"
  to = "https://docs-archive.yugabyte.com/"
  force = true

[[redirects]]
  from = "/v2.1/*"
  to = "https://docs-archive.yugabyte.com/"
  force = true

[[redirects]]
  from = "/v2.2/*"
  to = "https://docs-archive.yugabyte.com/"
  force = true

# Redirect older versions of specific sections

[[redirects]]
  from = "/:version/comparisons/*"
  to = "/preview/comparisons/:splat"
  force = true

[[redirects]]
  from = "/:version/contribute/*"
  to = "/preview/contribute/:splat"
  force = true

[[redirects]]
  from = "/:version/faq/*"
  to = "/preview/faq/:splat"
  force = true

[[redirects]]
  from = "/:version/integrations/smart-driver/"
  to = "/preview/integrations/jdbc-driver/"
  force = true

[[redirects]]
  from = "/:version/integrations/*"
  to = "/preview/integrations/"
  force = true

# (this is the old version of integrations)
[[redirects]]
  from = "/:version/develop/ecosystem-integrations/*"
  to = "/preview/integrations/"
  force = true

[[redirects]]
  from = "/:version/legal/*"
  to = "/preview/legal/:splat"
  force = true

[[redirects]]
  from = "/:version/releases/*"
  to = "/preview/releases/:splat"
  force = true

[[redirects]]
  from = "/:version/troubleshoot/*"
  to = "/preview/troubleshoot/:splat"
  force = true

[[redirects]]
  from = "/:version/yedis/*"
  to = "/preview/yedis/"
  force = true

[[redirects]]
  from = "/:version/yugabyte-cloud/*"
  to = "/preview/yugabyte-cloud/"
  force = true

# Stable quick-starts need defaults,
# since archiving from /preview removes aliases

[[redirects]]
  from = "/stable/quick-start/install/"
  to = "/stable/quick-start/install/macos/"
  force = true

[[redirects]]
  from = "/stable/quick-start/create-local-cluster/"
  to = "/stable/quick-start/create-local-cluster/macos/"
  force = true

[[redirects]]
  from = "/stable/quick-start/explore/"
  to = "/stable/quick-start/explore/ysql/"
  force = true

# Yugabyte Extensions top hit

[[redirects]]
  from = "/preview/api/ysql/extensions/"
  to = "/preview/explore/ysql-language-features/pg-extensions/"
  force = true

# Catch-all for old links to /latest (now called /preview)

[[redirects]]
  from = "/latest/*"
  to = "/preview/:splat"

# Hugo resource caching plugin configuration
# https://github.com/cdeleeuwe/netlify-plugin-hugo-cache-resources#readme

[[plugins]]
  package = "netlify-plugin-hugo-cache-resources"

    [plugins.inputs]
    # If it should show more verbose logs (optional, default = true)
    debug = true
    # Relative path to source directory in case you use Hugo's "--s" option
    srcdir = "docs"