# Deploy contexts
# Environment variables here override variables set in the web UI.
#
# https://docs.netlify.com/site-deploys/overview/#deploy-contexts
# https://docs.netlify.com/configure-builds/file-based-configuration/#deploy-contexts

[context.deploy-preview.environment]
  HUGO_VERSION = "0.93.3"
  NODE_VERSION = "16"
  CXXFLAGS = "-std=c++17"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.93.3"
  NODE_VERSION = "16"
  CXXFLAGS = "-std=c++17"

[context.production.environment]
  HUGO_VERSION = "0.89.2"
  NODE_VERSION = "16"
  CXXFLAGS = "-std=c++17"

# Redirects
# - Default status is a 301 unless otherwise specified.
# - First match wins: put wildcards AFTER specific paths!
# - Wildcards include empty matches: /v1.0/* WILL match /v1.0
#
# docs: https://docs.netlify.com/routing/redirects/
#
# validator: https://play.netlify.com/redirects

# Make sure we're not redirecting anything under /images

[[redirects]]
  from = "/images/*"
  to = "/images/:splat"
  status = 200

# Bypass the landing page

[[redirects]]
  from = "/"
  to = "/latest/"
  force = true

# Catch a few really old links from the forum

[[redirects]]
  from = "/api/*"
  to = "/latest/api/"
  force = true

[[redirects]]
  from = "/architecture/"
  to = "/latest/architecture/"
  force = true

[[redirects]]
  from = "/develop/"
  to = "/latest/develop/"
  force = true

[[redirects]]
  from = "/develop/ecosystem-integrations/*"
  to = "/latest/integrations/"
  force = true

[[redirects]]
  from = "/latest/deploy/cdc/*"
  to = "/latest/architecture/docdb-replication/change-data-capture/"
  force = true

[[redirects]]
  from = "/latest/deploy/yugabyte-cloud/*"
  to = "/latest/yugabyte-cloud/"
  force = true

[[redirects]]
  from = "/explore/auto-sharding"
  to = "/latest/explore/linear-scalability/sharding-data/"
  force = true

[[redirects]]
  from = "/explore/*"
  to = "/latest/explore/"
  force = true

[[redirects]]
  from = "/latest/releases/v1.1.*"
  to = "/latest/releases/"
  force = true

[[redirects]]
  from = "/latest/releases/v1.2.*"
  to = "/latest/releases/release-notes/v1.2/"
  force = true

[[redirects]]
  from = "/latest/releases/v1.3.*"
  to = "/latest/releases/release-notes/v1.3/"
  force = true

[[redirects]]
  from = "/latest/releases/v2.0.*"
  to = "/latest/releases/release-notes/v2.0/"
  force = true

[[redirects]]
  from = "/latest/releases/v2.1.*"
  to = "/latest/releases/release-notes/v2.1/"
  force = true

[[redirects]]
  from = "/latest/releases/v2.2.*"
  to = "/latest/releases/release-notes/v2.2/"
  force = true

[[redirects]]
  from = "/latest/manage/enterprise-edition/*"
  to = "/latest/yugabyte-platform/"
  force = true

# Redirect older versions of specific sections

[[redirects]]
  from = "/:version/comparisons/*"
  to = "/latest/comparisons/:splat"
  force = true

[[redirects]]
  from = "/:version/contribute/*"
  to = "/latest/contribute/:splat"
  force = true

[[redirects]]
  from = "/:version/faq/*"
  to = "/latest/faq/:splat"
  force = true

[[redirects]]
  from = "/:version/integrations/smart-driver/"
  to = "/latest/integrations/jdbc-driver/"
  force = true

[[redirects]]
  from = "/:version/integrations/*"
  to = "/latest/integrations/"
  force = true

# (this is the old version of integrations)
[[redirects]]
  from = "/:version/develop/ecosystem-integrations/*"
  to = "/latest/integrations/"
  force = true

[[redirects]]
  from = "/:version/legal/*"
  to = "/latest/legal/:splat"
  force = true

[[redirects]]
  from = "/:version/releases/*"
  to = "/latest/releases/:splat"
  force = true

[[redirects]]
  from = "/:version/troubleshoot/*"
  to = "/latest/troubleshoot/:splat"
  force = true

[[redirects]]
  from = "/:version/yedis/*"
  to = "/latest/yedis/"
  force = true

[[redirects]]
  from = "/:version/yugabyte-cloud/*"
  to = "/latest/yugabyte-cloud/"
  force = true

# Stable quick-starts need defaults,
# since archiving from /latest removes aliases

[[redirects]]
  from = "/stable/quick-start/install/"
  to = "/stable/quick-start/install/macos/"
  force = true

[[redirects]]
  from = "/stable/quick-start/create-local-cluster/"
  to = "/stable/quick-start/create-local-cluster/macos/"
  force = true

[[redirects]]
  from = "/stable/quick-start/explore/"
  to = "/stable/quick-start/explore/ysql/"
  force = true

# Yugabyte Extensions top hit

[[redirects]]
  from = "/latest/api/ysql/extensions/"
  to = "/latest/explore/ysql-language-features/pg-extensions/"
  force = true

# Docs prior to v1.3 are not online

[[redirects]]
  from = "/v1.0/*"
  to = "/latest/:splat"
  force = true

[[redirects]]
  from = "/v1.1/*"
  to = "/latest/:splat"
  force = true

[[redirects]]
  from = "/v1.2/*"
  to = "/latest/:splat"
  force = true

# Hugo resource caching plugin configuration
# https://github.com/cdeleeuwe/netlify-plugin-hugo-cache-resources#readme

[[plugins]]
  package = "netlify-plugin-hugo-cache-resources"

    [plugins.inputs]
    # If it should show more verbose logs (optional, default = true)
    debug = true
    # Relative path to source directory in case you use Hugo's "--s" option
    srcdir = "docs"
