@import '../../../../uikit/common';

.review-step {
  position: relative;
  background-color: $YB_UNIVERSE_WIZARD_FORM_BACKGROUND;
  border: 1px solid $YB_BORDER_1;
  padding: 35px 50px;
  min-height: 752px;

  &__title {
    font-size: 22px;
    font-weight: 600;
    color: $YB_TEXT_2;
  }

  &__row {
    margin-top: 15px;
    padding: 0 50px;
  }

  &__field-title {
    font-size: 14px;
  }

  &__field-value {
    font-size: 14px;
    font-weight: 700;
  }

  &__footer-row {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__footer-btn:not(:last-child) {
    margin-right: 20px;
  }
}
