@(loginForm: Form[forms.LoginFormData])

@main(false) {
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default login-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Please log in</h3>
        </div>
        <div class="panel-body">
          <form id="loginForm">
            <fieldset>
              <div class="form-group">
                <input id="@loginForm("email").id" name="@loginForm("email").name" class="form-control" placeholder="E-mail" type="text">
                <small id="@loginForm("email").id" class="help-block"></small>
              </div>
              <div class="form-group">
                <input id="@loginForm("password").id" name="@loginForm("password").name" class="form-control" placeholder="Password" type="password">
                <small id="@loginForm("password").id" class="help-block"></small>
              </div>
              <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
}
