@import common._
@(showNav: Boolean, pageId: String = "content")(body: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Yugabyte Customer Portal</title>
    <link rel='stylesheet' href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")'>
    <link rel='stylesheet' href='@routes.Assets.versioned("lib/font-awesome/css/font-awesome.css")'>
    <script src="@routes.Assets.versioned("lib/jquery/jquery.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    <script src="@routes.Assets.versioned("lib/metisMenu/metisMenu.min.js")"></script>
	  <script src="@routes.Assets.versioned("lib/mousetrap/mousetrap.min.js")"></script>
	  <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/app.css")'>
  </head>

  @shortcutDialog()
  @if(showNav) {
    @navbar()
  }
  <body id="@pageId">
    @body
    <input id="customerUUID" value="@ctx().args.get("customer_uuid")" type="hidden">
  </body>
</html>
