@import forms.yb._
@import helper._
@import common._

@(registerForm: Form[CustomerRegisterFormData])
@implicitField = @{ FieldConstructor(formFieldTemplate.f) }

@main(false, "register-form") {
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default login-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Register Customer</h3>
        </div>
        <div class="panel-body">
          <form id="registerForm">
            <fieldset>
              <div class="form-group">
                @inputText(registerForm("name"), 'class -> "form-control", 'placeholder -> "Name")
                @inputText(registerForm("email"), 'class -> "form-control", 'placeholder -> "E-mail")
                @inputPassword(registerForm("password"), 'class -> "form-control", 'placeholder -> "Password")
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
            </fieldset>
            </form>
        </div>
      </div>
    </div>
  </div>
}
