Source: documentdb
Section: database
Priority: optional
Build-Depends: debhelper (>= 11), postgresql-server-dev-POSTGRES_VERSION
Maintainer: Shuai Tian <shuaitian@microsoft.com>

Package: postgresql-POSTGRES_VERSION-documentdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-POSTGRES_VERSION, postgresql-POSTGRES_VERSION-cron, postgresql-POSTGRES_VERSION-pgvector, postgresql-POSTGRES_VERSION-postgis-3, postgresql-POSTGRES_VERSION-rum
Description: DocumentDB is the open-source engine powering vCore-based Azure Cosmos DB for MongoDB. It offers a native implementation of document-oriented NoSQL database, enabling seamless CRUD operations on BSON data types within a PostgreSQL framework.