[Unit]
Description=OpenTelemetry Collector
After=network.target network-online.target multi-user.target
# Disable restart limits, using RestartSec to rate limit restarts
StartLimitInterval=0

[Service]
{% set use_system_level_systemd = use_system_level_systemd | default(false) %}
{% if use_system_level_systemd == 'True' %}
User={{ user_name }}
Group={{ user_name }}
{% endif %}
# Start
ExecStart={{yb_home_dir}}/otel-collector/otelcol-contrib \
    --config=file:{{yb_home_dir}}/otel-collector/config.yml
Restart=always
RestartSec=5
# Stop -> SIGTERM - 10s - SIGKILL (if not stopped)
KillMode=process
TimeoutStopFailureMode=terminate
KillSignal=SIGTERM
TimeoutStopSec=10
FinalKillSignal=SIGKILL
# Logs
StandardOutput=journal
StandardError=journal
# ulimit
LimitCORE=infinity
LimitNOFILE=1048576
LimitNPROC=12000
# Hard Memory limit
MemoryMax={{otel_col_max_memory}}M

Environment="AWS_PROFILE=otel-collector"
Environment="GOOGLE_APPLICATION_CREDENTIALS={{yb_home_dir}}/otel-collector/gcp_creds"
Environment="HOME={{yb_home_dir}}"

[Install]
WantedBy=default.target
