[Unit]
Description=Yugabyte collect metrics

[Service]
{% set use_system_level_systemd = use_system_level_systemd | default(false) %}
{% if use_system_level_systemd == 'True' %}
User={{ user_name }}
Group={{ user_name }}
{% endif %}
Type=oneshot
WorkingDirectory={{yb_home_dir}}/bin
ExecStart=/bin/bash {{yb_home_dir}}/bin/collect_metrics_wrapper.sh

[Install]
