[Unit]
Description=Yugabyte logs

[Timer]
{% set use_system_level_systemd = use_system_level_systemd | default(false) %}
{% if use_system_level_systemd == 'True' %}
User={{ user_name }}
Group={{ user_name }}
{% endif %}
Unit=yb-zip_purge_yb_logs.service
# Run every 5 minutes
OnCalendar=*:0/5

[Install]
WantedBy=timers.target
