# Adding servers to chrony.conf
{% if chrony_servers is defined and chrony_servers | trim != '' %}
    {% for server in chrony_servers | split_servers %}
        {% if server.strip() %}
            sed -i '1i server {{ server }} prefer iburst minpoll 4 maxpoll 4' /etc/chrony.conf
        {% endif %}
    {% endfor %}
# Check if cloud_type is defined and not empty
{% elif cloud_type is defined and cloud_type != '' %}
    # Remove any existing pool or server lines if using cloud-specific time source
    sed -i '/^pool /d' /etc/chrony.conf
    sed -i '/^server /d' /etc/chrony.conf
    {% if cloud_type == 'aws' %}
      grep -q '^server 169.254.169.123' /etc/chrony.conf || \
      sed -i '1i server 169.254.169.123 prefer iburst minpoll 4 maxpoll 4' /etc/chrony.conf
    {% elif cloud_type == 'gcp' %}
      grep -Eq '^server (metadata\.google\.internal|169\.254\.169\.254)\b' /etc/chrony.conf || \
      sed -i '1i server 169.254.169.254 prefer iburst minpoll 4 maxpoll 4' /etc/chrony.conf
    {% elif cloud_type == 'azu' %}
        ptp_hyper_path="/dev/ptp_hyperv"
        if [ -e "$ptp_hyper_path" ]; then
            grep -q '^refclock PHC /dev/ptp_hyperv' /etc/chrony.conf || \
            echo 'refclock PHC /dev/ptp_hyperv poll 3 dpoll -2 offset 0' >> /etc/chrony.conf
        else
            grep -q '^refclock PHC /dev/ptp0' /etc/chrony.conf || \
            echo 'refclock PHC /dev/ptp0 poll 3 dpoll -2 offset 0' >> /etc/chrony.conf
        fi
    {% endif %}

    # --- Custom Chrony settings: Added for enhanced observability and clock sync reliability ---

    # Enable logging of system clock behavior
    grep -q '^log tracking measurements statistics' /etc/chrony.conf || \
    echo 'log tracking measurements statistics' >> /etc/chrony.conf

    # This directive forces `chronyd' to send a message to syslog if it
    # makes a system clock adjustment larger than a threshold value in seconds.
    grep -q '^logchange 0.5' /etc/chrony.conf || \
    echo 'logchange 0.5' >> /etc/chrony.conf

    # Allow larger time offset tolerance before rejecting updates.
    grep -q '^maxupdateskew 100.0' /etc/chrony.conf || \
    echo 'maxupdateskew 100.0' >> /etc/chrony.conf

    # Directory where Chrony stores measurement history data from 'dumponexit' and 'dump' commands.
    grep -q '^dumpdir /var/lib/chrony' /etc/chrony.conf || \
    echo 'dumpdir /var/lib/chrony' >> /etc/chrony.conf

    # Save measurements and tracking data when Chrony exits.
    grep -q '^dumponexit' /etc/chrony.conf || \
    echo 'dumponexit' >> /etc/chrony.conf

    # Specify location of hardware clock drift and UTC/local tracking file used by `hwclock`.
    grep -q '^hwclockfile /etc/adjtime' /etc/chrony.conf || \
    echo 'hwclockfile /etc/adjtime' >> /etc/chrony.conf

{% endif %}

# Systemd restart chrony
systemctl restart chronyd
# Force date time synchronization
chronyc makestep
